FORMAT: 1A
HOST: http://www.google.com

# DAP Services a.s. API, version 2

API verze 2. Opřeno o model3.

## Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PUT` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

## Typical Server Responses

- 200 `OK` - The request was successful (some API calls may return 201 instead).
- 201 `Created` - The request was successful and a resource was created.
- 204 `No Content` - The request was successful but there is no representation to return (that is, the response is empty).
- 400 `Bad Request` - The request could not be understood or was missing required parameters.
- 401 `Unauthorized` - Authentication failed or user does not have permissions for the requested operation.
- 403 `Forbidden` - Access denied.
- 404 `Not Found` - Resource was not found.
- 405 `Method Not Allowed` - Requested method is not supported for the specified resource.
- 429 `Too Many Requests` - Exceeded API limits. Pause requests, wait one minute, and try again.
- 503 `Service Unavailable` - The service is temporary unavailable. Try again later.

> Čas ve všech položkách (pokud není řečeno jinak) je unix_time plus ms (http://www.epochconverter.com).

# Group Scan

Zdroje a operace pro snímání osob.

## Snímání osob [/scan]

### Vytváření snímání [POST]

Seznam client_data_id:

| id | Jméno                             |
|----|-----------------------------------|
| 1  | Jméno                             |
| 2  | Příjmení                          |
| 3  | Datum narození (rok narození)     |
| 4  | Vzdělání                          |
| 5  | Obec                              |
| 6  | Email                             |
| 7  | Důvod snímání                     |
| 8  | Pohlaví                           |
| 9  | Skupina                           |
| 10 | Věk                               |
| 11 | Pracovní pozice                   |
| 12 | Id snímané osoby                  |
| 13 | Id zodpovědné osoby               |
| 14 | Společnost                        |
| 15 | Language code - ISO 639-2 alpha-3 |
| 16 | Country code - ISO ALPHA-3 code   |
| 17 | Externí Id skupiny snímků         |
| 18 | Volitelná položka od klienta      |

Popis atributů pro požadavek

- name, description - název, popis snímání
- state - stav snímání, kombinace ACTIVE, CLOSED, TEST konstant (oddělení čárkou)
- scan_area_id - zaměření snímání. Možnosti
    - 1 - evaluace škol
    - 3 - komeční snímání (základ je 86tka)
- module_type_id - verze slovního modulu (odlišnost základních slov)
- scan_module_id - id odpovídajícího slovního modulu
- scan_mask - maska snímání ve snímači, může být **null**
    - label - text zobrazený ve snímači
    - editable - true | false
    - order - pořadí na obrazovce
    - client_data_id - viz výše
    - list_items - možný výčet, zobrazuje se ve formě select prvku

Popis atributů pro výstup

- scan_code - kód do snímače
- id - jedinečný identifikátor snímání

Jakékoliv dotazy na Scan probíhají pomocí scan_code - identifikuje snímání v čase. Není možné mít více snímání se stavem `ACTIVE` a stejným scan_code.

+ Request (application/json)

    + Headers

            Authorization: auth_token
            Accept: application/json

    + Body

            {
                "name": "Scan name",
                "description": "Description",
                "state": "ACTIVE|CLOSED|TEST",
                "scan_area_id": "number or enum - jedna se o typ slovniho modulu - ciselnik",
                "scan_module_id": 1,
                "module_type_id": "number or what - jedna se o verzi povinnych slov ~ zakladu",
                "scan_mask": [
                    {
                        "label": "Gender",
                        "editable": false,
                        "order": 1,
                        "client_data_id": 8,
                        "list_items": ["1", "2"]
                    },
                    {
                        "label": "Name",
                        "editable": true,
                        "order": 2,
                        "client_data_id": 1,
                    },
                    {
                        "label": "Year of birth",
                        "editable": false,
                        "order": 3,
                        "client_data_id": 3,
                        "number_from": 1993,
                        "number_to": 2008,
                        "number_step": 1,
                        "list_items": ["1993", "1994", "1995", "1996", "1997", "1998"]
                    }
                ]
            }

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 1,
                "scan_code": "scan_code"
            }

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }


## Informace o snímání [/scan/{scan_code}]

### Získání informací [GET]

Popis atributů pro výstup viz resource scan [POST]

+ Request (application/json)

    + Headers

            Authorization: auth_token
            Accept: application/json

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 1,
                "scan_code": "scan_code",
                "name": "Scan name",
                "description": "Description",
                "state": "ACTIVE",
                "scan_area_id": 1,
                "scan_module_id": 1,
                "module_type_id": 1,
                "insert_time": "1412840432000",
                "scan_mask": [
                    {
                        "label": "Gender",
                        "editable": false,
                        "order": 1,
                        "client_data_id": 8,
                        "list_items": ["1", "2"]
                    },
                    {
                        "label": "Name",
                        "editable": true,
                        "order": 2,
                        "client_data_id": 1,
                    },
                    {
                        "label": "Year of birth",
                        "editable": false,
                        "order": 3,
                        "client_data_id": 3,
                        "number_from": 1993,
                        "number_to": 2008,
                        "number_step": 1,
                        "list_items": ["1993", "1994", "1995", "1996", "1997"]
                    }
                ]
            }

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }

## Informace o nasnímaných osobách [/scan/{scan_code}/scan_data]


### Získání seznamu nasnímaných osob [GET]

Popis atributů pro výstup:

- client_data: 8 (pohlaví) je číselník: MALE = muž, FEMALE = žena.

+ Request (application/json)

    + Headers

            Authorization: auth_token
            Accept: application/json

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            [
                {
                    "id": 1,
                    "module_type_id": 1,
                    "affected": true,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Jan",
                        "2": "Novák",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "28"
                        }
                },
                {
                    "id": 2,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Jan",
                        "2": "Doe",
                        "3": "1987",
                        "9": "Department 2",
                        "18": "Item 1",
                        "10": "27"
                        }
                },
                {
                    "id": 3,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Jana",
                        "2": "Doe",
                        "3": "1987",
                        "9": "Department 3",
                        "18": "Item 1",
                        "10": "27"
                    }
                },
                {
                    "id": 4,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Jana",
                        "2": "Nováková",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 5,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "John",
                        "2": "Novak",
                        "3": "1986",
                        "9": "Department 2",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 6,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Evelyn",
                        "2": "Novak",
                        "3": "1986",
                        "9": "Department 3",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 7,
                    "module_type_id": 1,
                    "affected": true,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Ruppert",
                        "2": "Everet",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 8,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Hana",
                        "2": "Muscular",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 9,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Daniel",
                        "2": "Architect",
                        "3": "1986",
                        "9": "Department 2",
                        "18": "Item 1",
                        "10": "26"
                    }
                }
            ]

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }

# Group Result

## Generování výstupů [/result/{id}/generate]

### POST

#### Popis atributů pro výstup

- data - výstup přenášený pomocí base64. Typ výstupu je určen v atributu mime_type.

+ Request (application/json)

    + Headers

            Authorization: auth_token
            Accept: application/json

    + Body

            {"scan_data_ids": [1, 2, 3]}

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {"data": "JVBERi0xLjMNJeLjz9MNCjEgMCBvYmoNPDwvQWNyb0Zvcm0gMzI4IDAgUi9NZXRhZGF0YSAyIDAgUi9PdXRwdXRJbnRlbnRzWzw8L0Rlc3RPdXRwdXRQcm9maWxlIDUgMCBSL0luZm8oQ29hdGVkIEZPR1JBMzkgXChJU08gMTI2NDctMjoyMDA0XCkpL091dHB1dENvbmRpdGlvbklkZW50aWZpZXIoQ29hdGVkIEZPR1JBMzkgXChJU08gMTI2NDctMjoyMDA0XCkpL1JlZ2lzdHJ5TmFtZShodHRwOi8vd3d3LmNvbG9yLm9yZykvUy9HVFNfUERGWC9UeXBlL091dHB1dEludGVudD4+XS9QYWdlcyAzIDAgUi9UeXBlL0NhdGFsb2cvVmlld2VyUHJlZmVyZW5jZXM8PC9EaXJlY3Rpb24vTDJSPj4+Pg1lbmRvYmoNMzI4IDAgb2JqDTw8L0RBKC9IZWx2IDAgVGYgMCBnICkvRFI8PC9FbmNvZGluZzw8L1BERkRvY0VuY29kaW5nIDMyOSAwIFI+Pi9Gb250PDwvSGVsdiAzMzAgMCBSL1phRGIgMzMxIDAgUj4+Pj4vRmllbGRzW10+Pg1lbmRvYmoNMiAwIG9iag08PC9MZW5ndGggNTM2Ny9TdWJ0eXBlL1hNTC9UeXBlL01ldGFkYXRhPj5zdHJlYW0NCjw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+Cjx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMi1jMDAxIDYzLjEzOTQzOSwgMjAxMC8wOS8yNy0xMzozNzoyNiAgICAgICAgIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIj4KICAgICAgICAgPHhtcDpDcmVhdGVEYXRlPjIwMTQtMDktMzBUMTE6MTQ6NDArMDI6MDA8L3htcDpDcmVhdGVEYXRlPgogICAgICAgICA8eG1wOk1ldGFkYXRhRGF0ZT4yMDE0LTA5LTMwVDExOjE2OjE1KzAyOjAwPC94bXA6TWV0YWRhdGFEYXRlPgogICAgICAgICA8eG1wOk1vZGlmeURhdGU+MjAxNC0wOS0zMFQxMToxNjoxNSswMjowMDwveG1wOk1vZGlmeURhdGU+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+QWRvYmUgSW5EZXNpZ24gQ1M2IChNYWNpbnRvc2gpPC94bXA6Q3JlYXRvclRvb2w+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIKICAgICAgICAgICAgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIKICAgICAgICAgICAgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiPgogICAgICAgICA8eG1wTU06SW5zdGFuY2VJRD51dWlkOjhiYzhlZDRhLWQ2N2ItYzE0YS05MjE2LWNmY2M2MjJkZWI5MDwveG1wTU06SW5zdGFuY2VJRD4KICAgICAgICAgPHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD54bXAuZGlkOkU2ODFCRjNGMTIyMTY4MTE4MDgzODkzNDgxOEJBNEMzPC94bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ+CiAgICAgICAgIDx4bXBNTTpEb2N1bWVudElEPnhtcC5pZDpDQTY1REM5NEIzMjE2ODExODIyQUY0N0Y1MkJCNDM2MjwveG1wTU06RG9jdW1lbnRJRD4KICAgICAgICAgPHhtcE1NOlJlbmRpdGlvbkNsYXNzPnByb29mOnBkZjwveG1wTU06UmVuZGl0aW9uQ2xhc3M+CiAgICAgICAgIDx4bXBNTTpWZXJzaW9uSUQ+MTwveG1wTU06VmVyc2lvbklEPgogICAgICAgICA8eG1wTU06SGlzdG9yeT4KICAgICAgICAgICAgPHJkZjpTZXE+CiAgICAgICAgICAgICAgIDxyZGY6bGkgcmRmOnBhcnNlVHlwZT0iUmVzb3VyY2UiPgogICAgICAgICAgICAgICAgICA8c3RFdnQ6YWN0aW9uPmNvbnZlcnRlZDwvc3RFdnQ6YWN0aW9uPgogICAgICAgICAgICAgICAgICA8c3RFdnQ6cGFyYW1ldGVycz5mcm9tIGFwcGxpY2F0aW9uL3gtaW5kZXNpZ24gdG8gYXBwbGljYXRpb24vcGRmPC9zdEV2dDpwYXJhbWV0ZXJzPgogICAgICAgICAgICAgICAgICA8c3RFdnQ6c29mdHdhcmVBZ2VudD5BZG9iZSBJbkRlc2lnbiBDUzYgKE1hY2ludG9zaCk8L3N0RXZ0OnNvZnR3YXJlQWdlbnQ+CiAgICAgICAgICAgICAgICAgIDxzdEV2dDpjaGFuZ2VkPi88L3N0RXZ0OmNoYW5nZWQ+CiAgICAgICAgICAgICAgICAgIDxzdEV2dDp3aGVuPjIwMTQtMDktMzBUMTE6MTQ6NDArMDI6MDA8L3N0RXZ0OndoZW4+CiAgICAgICAgICAgICAgIDwvcmRmOmxpPgogICAgICAgICAgICA8L3JkZjpTZXE+CiAgICAgICAgIDwveG1wTU06SGlzdG9yeT4KICAgICAgICAgPHhtcE1NOkRlcml2ZWRGcm9tIHJkZjpwYXJzZVR5cGU9IlJlc291cmNlIj4KICAgICAgICAgICAgPHN0UmVmOmluc3RhbmNlSUQ+eG1wLmlpZDowMjgwMTE3NDA3MjA2ODExODA4MzgwMTc1RjA4REVGNzwvc3RSZWY6aW5zdGFuY2VJRD4KICAgICAgICAgICAgPHN0UmVmOmRvY3VtZW50SUQ+eG1wLmRpZDpFNjgxQkYzRjEyMjE2ODExODA4Mzg5MzQ4MThCQTRDMzwvc3RSZWY6ZG9jdW1lbnRJRD4KICAgICAgICAgICAgPHN0UmVmOm9yaWdpbmFsRG9jdW1lbnRJRD54bXAuZGlkOkU2ODFCRjNGMTIyMTY4MTE4MDgzODkzNDgxOEJBNEMzPC9zdFJlZjpvcmlnaW5hbERvY3VtZW50SUQ+CiAgICAgICAgICAgIDxzdFJlZjpyZW5kaXRpb25DbGFzcz5kZWZhdWx0PC9zdFJlZjpyZW5kaXRpb25DbGFzcz4KICAgICAgICAgPC94bXBNTTpEZXJpdmVkRnJvbT4KICAgICAgPC9yZGY6RGVzY3JpcHRpb24+CiAgICAgIDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiCiAgICAgICAgICAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyI+CiAgICAgICAgIDxkYzpmb3JtYXQ+YXBwbGljYXRpb24vcGRmPC9kYzpmb3JtYXQ+CiAgICAgICAgIDxkYzp0aXRsZT4KICAgICAgICAgICAgPHJkZjpBbHQ+CiAgICAgICAgICAgICAgIDxyZGY6bGkgeG1sOmxhbmc9IngtZGVmYXVsdCI+ZGlhZ25vc3Rpa2Eta29tcGV0ZW5jZS1wZGYtMS5pbmRkPC9yZGY6bGk+CiAgICAgICAgICAgIDwvcmRmOkFsdD4KICAgICAgICAgPC9kYzp0aXRsZT4KICAgICAgPC9yZGY6RGVzY3JpcHRpb24+CiAgICAgIDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiCiAgICAgICAgICAgIHhtbG5zOnBkZj0iaHR0cDovL25zLmFkb2JlLmNvbS9wZGYvMS4zLyI+CiAgICAgICAgIDxwZGY6UHJvZHVjZXI+QWRvYmUgUERGIExpYnJhcnkgMTAuMC4xPC9wZGY6UHJvZHVjZXI+CiAgICAgICAgIDxwZGY6VHJhcHBlZD5GYWxzZTwvcGRmOlRyYXBwZWQ+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczpwZGZ4aWQ9Imh0dHA6Ly93d3cubnBlcy5vcmcvcGRmeC9ucy9pZC8iPgogICAgICAgICA8cGRmeGlkOkdUU19QREZYVmVyc2lvbj5QREYvWC0xOjIwMDE8L3BkZnhpZDpHVFNfUERGWFZlcnNpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczpwZGZ4PSJodHRwOi8vbnMuYWRvYmUuY29tL3BkZngvMS4zLyI+CiAgICAgICAgIDxwZGZ4OkdUU19QREZYVmVyc2lvbj5QREYvWC0xOjIwMDE8L3BkZng6R1RTX1BERlhWZXJzaW9uPgogICAgICAgICA8cGRmeDpHVFNfUERGWENvbmZvcm1hbmNlPlBERi9YLTFhOjIwMDE8L3BkZng6R1RTX1BERlhDb25mb3JtYW5jZT4KICAgICAgPC9yZGY6RGVzY3JpcHRpb24+CiAgIDwvcmRmOlJERj4KPC94OnhtcG1ldGE+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAKPD94cGFja2V0IGVuZD0idyI/Pg1lbmRzdHJlYW0NZW5kb2JqDTMgMCBvYmoNPDwvQ291bnQgNS9LaWRzWzYgMCBSIDcgMCBSIDggMCBSIDkgMCBSIDEwIDAgUl0vVHlwZS9QYWdlcz4+DWVuZG9iag02IDAgb2JqDTw8L0JsZWVkQm94WzAuMCAwLjAgNTk1LjI3NiA4NDEuODldL0NvbnRlbnRzIDE0IDAgUi9Dcm9wQm94WzAuMCAwLjAgNTk1LjI3NiA4NDEuODldL01lZGlhQm94WzAuMCAwLjAgNTk1LjI3NiA4NDEuODldL1BhcmVudCAzIDAgUi9SZXNvdXJjZXM8PC9Db2xvclNwYWNlPDwvQ1MwIDE1IDAgUi9DUzEgMTYgMCBSL0NTMTAgMTcgMCBSL0NTMTEgMTggMCBSL0NTMTIgMTkgMCBSL0NTMiAyMCAwIFIvQ1MzIDIxIDAgUi9DUzQgMjIgMCBSL0NTNSAyMyAwIFIvQ1M2IDI0IDAgUi9DUzcgMjUgMCBSL0NTOCAyNiAwIFIvQ1M5IDI3IDAgUj4+L0V4dEdTdGF0ZTw8L0dTMCAyOCAwIFIvR1MxIDI5IDAgUj4+L0ZvbnQ8PC9UMV8wIDMwIDAgUi9UMV8xIDMxIDAgUi9UMV8yIDMyIDAgUi9UMV8zIDMzIDAgUj4+L1Byb2NTZXRbL1BERi9UZXh0L0ltYWdlQy9JbWFnZUldL1NoYWRpbmc8PC9TaDAgMzQgMCBSL1NoMSAzNSAwIFIvU2gyIDM2IDAgUi9TaDMgMzcgMCBSL1NoNCAzOCAwIFIvU2g1IDM5IDAgUi9TaDYgNDAgMCBSPj4vWE9iamVjdDw8L0ltMCA0MSAwIFIvSW0xIDQyIDAgUi9JbTEwIDQzIDAgUi9JbTExIDQ0IDAgUi9JbTEyIDQ1IDAgUi9JbTEzIDQ2IDAgUi9JbTE0IDQ3IDAgUi9JbTE1IDQ4IDAgUi9JbTE2IDQ5IDAgUi9JbTE3IDUwIDAgUi9JbTE4IDUxIDAgUi9JbTE5IDUyIDAgUi9JbTIgNTMgMCBSL0ltMjAgNTQgMCBSL0ltMjEgNTUgMCBSL0ltMjIgNTYgMCBSL0ltMjMgNTcgMCBSL0ltMjQgNTggMCBSL0ltMjUgNTkgMCBSL0ltMjYgNjAgMCBSL0ltMjcgNjEgMCBSL0ltMjggNjIgMCBSL0ltMjkgNjMgMCBSL0ltMyA2NCAwIFIvSW0zMCA2NSAwIFIvSW0zMSA2NiAwIFIvSW0zMiA2NyAwIFIvSW0zMyA2OCAwIFIvSW0zNCA2OSAwIFIvSW0zNSA3MCAwIFIvSW0zNiA3MSAwIFIvSW0zNyA3MiAwIFIvSW0zOCA3MyAwIFIvSW0zOSA3NCAwIFIvSW00IDc1IDAgUi9JbTQwIDc2IDAgUi9JbTQxIDc3IDAgUi9JbTQyIDc4IDAgUi9JbTQzIDc5IDAgUi9JbTQ0IDgwIDAgUi9JbTQ1IDgxIDAgUi9JbTQ2IDgyIDAgUi9JbTQ3IDgzIDAgUi9JbTQ4IDg0IDAgUi9JbTQ5IDg1IDAgUi9JbTUgODYgMCBSL0ltNTAgODcgMCBSL0ltNTEgODggMCBSL0ltNTIgODkgMCBSL0ltNTMgOTAgMCBSL0ltNTQgOTEgMCBSL0ltNTUgOTIgMCBSL0ltNTYgOTMgMCBSL0ltNTcgOTQgMCBSL0ltNTggOTUgMCBSL0ltNTkgOTYgMCBSL0ltNiA5NyAwIFIvSW02MCA5OCAwIFIvSW02MSA5OSAwIFIvSW02MiAxMDAgMCBSL0ltNjMgMTAxIDAgUi9JbTY0IDEwMiAwIFIvSW02NSAxMDMgMCBSL0ltNyAxMDQgMCBSL0ltOCAxMDUgMCBSL0ltOSAxMDYgMCBSPj4+Pi9UcmltQm94WzAuMCAwLjAgNTk1LjI3NiA4NDEuODldL1R5cGUvUGFnZT4+DWVuZG9iag03IDAgb2JqDTw8L0JsZWVkQm94WzAuMCAwLjAgNTk1LjI3NiA4NDEuODldL0NvbnRlbnRzIDEwNyAwIFIvQ3JvcEJveFswLjAgMC4wIDU5NS4yNzYgODQxLjg5XS9NZWRpYUJveFswLjAgMC4wIDU5NS4yNzYgODQxLjg5XS9QYXJlbnQgMyAwIFIvUmVzb3VyY2VzPDwvQ29sb3JTcGFjZTw8L0NTMCAxNSAwIFIvQ1MxIDE2IDAgUi9DUzIgMjAgMCBSL0NTMyAxMDggMCBSPj4vRXh0R1N0YXRlPDwvR1MwIDI4IDAgUj4+L0ZvbnQ8PC9UMV8wIDMzIDAgUi9UMV8xIDMxIDAgUi9UMV8yIDMwIDAgUi9UMV8zIDEwOSAwIFIvVDFfNCAxMTAgMCBSPj4vUHJvY1NldFsvUERGL1RleHQvSW1hZ2VDL0ltYWdlSV0vU2hhZGluZzw8L1NoMCAzNCAwIFIvU2gxIDM1IDAgUi9TaDIgMzYgMCBSL1NoMyAzNyAwIFI+Pi9YT2JqZWN0PDwvSW0wIDExMSAwIFIvSW0xIDExMiAwIFIvSW0yIDExMyAwIFI+Pj4+L1RyaW1Cb3hbMC4wIDAuMCA1OTUuMjc2IDg0MS44OV0vVHlwZS9QYWdlPj4NZW5kb2JqDTggMCBvYmoNPDwvQmxlZWRCb3hbMC4wIDAuMCA1OTUuMjc2IDg0MS44OV0vQ29udGVudHMgMTE0IDAgUi9Dcm9wQm94WzAuMCAwLjAgNTk1LjI3NiA4NDEuODldL01lZGlhQm94WzAuMCAwLjAgNTk1LjI3NiA4NDEuODldL1BhcmVudCAzIDAgUi9SZXNvdXJjZXM8PC9Db2xvclNwYWNlPDwvQ1MwIDE1IDAgUi9DUzEgMTYgMCBSL0NTMiAyMCAwIFIvQ1MzIDEwOCAwIFI+Pi9FeHRHU3RhdGU8PC9HUzAgMjggMCBSL0dTMSAxMTUgMCBSL0dTMiAyOSAwIFI+Pi9Gb250PDwvVDFfMCAzMSAwIFIvVDFfMSAzMCAwIFIvVDFfMiAxMTAgMCBSL1QxXzMgMTE2IDAgUi9UMV80IDExNyAwIFIvVDFfNSAzMyAwIFI+Pi9Qcm9jU2V0Wy9QREYvVGV4dC9JbWFnZUMvSW1hZ2VJXS9TaGFkaW5nPDwvU2gwIDM0IDAgUi9TaDEgMzUgMCBSL1NoMiAzNiAwIFIvU2gzIDM3IDAgUj4+L1hPYmplY3Q8PC9JbTAgMTExIDAgUi9JbTEgMTEyIDAgUi9JbTIgMTEzIDAgUj4+Pj4vVHJpbUJveFswLjAgMC4wIDU5NS4yNzYgODQxLjg5XS9UeXBlL1BhZ2U+Pg1lbmRvYmoNOSAwIG9iag08PC9CbGVlZEJveFswLjAgMC4wIDU5NS4yNzYgODQxLjg5XS9Db250ZW50cyAxMTggMCBSL0Nyb3BCb3hbMC4wIDAuMCA1OTUuMjc2IDg0MS44OV0vTWVkaWFCb3hbMC4wIDAuMCA1OTUuMjc2IDg0MS44OV0vUGFyZW50IDMgMCBSL1Jlc291cmNlczw8L0NvbG9yU3BhY2U8PC9DUzAgMTUgMCBSL0NTMSAxNiAwIFIvQ1MyIDIwIDAgUi9DUzMgMTA4IDAgUj4+L0V4dEdTdGF0ZTw8L0dTMCAyOCAwIFIvR1MxIDExNSAwIFIvR1MyIDI5IDAgUj4+L0ZvbnQ8PC9UMV8wIDMxIDAgUi9UMV8xIDMwIDAgUi9UMV8yIDExMCAwIFIvVDFfMyAxMTYgMCBSL1QxXzQgMTE3IDAgUi9UMV81IDMzIDAgUj4+L1Byb2NTZXRbL1BERi9UZXh0L0ltYWdlQy9JbWFnZUldL1NoYWRpbmc8PC9TaDAgMzQgMCBSL1NoMSAzNSAwIFIvU2gyIDM2IDAgUi9TaDMgMzcgMCBSPj4vWE9iamVjdDw8L0ltMCAxMTEgMCBSL0ltMSAxMTIgMCBSL0ltMiAxMTMgMCBSPj4+Pi9UcmltQm94WzAuMCAwLjAgNTk1LjI3NiA4NDEuODldL1R5cGUvUGFnZT4+DWVuZG9iag0xMCAwIG9iag08PC9CbGVlZEJveFswLjAgMC4wIDU5NS4yNzYgODQxLjg5XS9Db250ZW50cyAxMTkgMCBSL0Nyb3BCb3hbMC4wIDAuMCA1OTUuMjc2IDg0MS44OV0vTWVkaWFCb3hbMC4wIDAuMCA1OTUuMjc2IDg0MS44OV0vUGFyZW50IDMgMCBSL1Jlc291cmNlczw8L0NvbG9yU3BhY2U8PC9DUzAgMTUgMCBSL0NTMSAxNiAwIFIvQ1MyIDIwIDAgUi9DUzMgMTA4IDAgUj4+L0V4dEdTdGF0ZTw8L0dTMCAyOCAwIFIvR1MxIDExNSAwIFIvR1MyIDI5IDAgUj4+L0ZvbnQ8PC9UMV8wIDMxIDAgUi9UMV8xIDMwIDAgUi9UMV8yIDExMCAwIFIvVDFfMyAxMTYgMCBSL1QxXzQgMTE3IDAgUi9UMV81IDMzIDAgUj4+L1Byb2NTZXRbL1BERi9UZXh0L0ltYWdlQy9JbWFnZUldL1NoYWRpbmc8PC9TaDAgMzQgMCBSL1NoMSAzNSAwIFIvU2gyIDM2IDAgUi9TaDMgMzcgMCBSPj4vWE9iamVjdDw8L0ltMCAxMTEgMCBSL0ltMSAxMTIgMCBSL0ltMiAxMTMgMCBSPj4+Pi9UcmltQm94WzAuMCAwLjAgNTk1LjI3NiA4NDEuODldL1R5cGUvUGFnZT4+DWVuZG9iag0xMTkgMCBvYmoNPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAzNTk0Pj5zdHJlYW0NCkiJlFfZchy3FX3vr8AjOuWGsC9+08I4I5lkJE7oikVXSqEoi9aMaIm2Wc7X51wAvQxImkOyamYuugGce+7+pdNRGOtZwLeTlm3HBR+VcCYy74XVzFsjrHdMKSNM9JN83rUrm06ZJKKat3h8q8S8c8KpwFRIQuLbB4uTLR3RrOCIEEVQuDYEYZxhJDvnAEoKo9NCxuUm5TN2VzbTSpBGROBR0YkIhYLWImjIKYjkDQsmZHw4o1nBGcmAFezBvSp5phzwgI4IpZ01Ex2jPNMxrmy6QuAoj3QHJ2xgDfnn3Q/sc/ele/LdiWQ/X3dALE0yYIFJ/A8LudzjojFh3C51BIJt9+Tko2TXH9nr7jXOsjrgIWgIUDsmGNjilzeKBa+gVGR4KlK0OEYKDYij7AM8AJh25c0sk0Gjw/saGsJTrBQW59nkhfSQtRcpkVbtCs4wBBkmN0oEn5jD2TbB4D4ApZrkoOjbE4pmZTOvuAhH08wZcjQYC7c545iNYB7OM8rA0axsOgvndN7PeyxYojMjXCBBbth7hIXKZTqQVSporVysFlKzhYy2wnvYA3c7rWEhODCYDrhbK8uMjbAX7CM9vMVM8uz87cpmXoGNZFLMGCsiOPJGwhKQ4T4eentlhcv8tis4w2hhFGwBpZLEvR44LewNj04IQiuhlDKTDH6bFfCLJKCdmvcg1I2FvVOx4j6+AhuLRMkAKx7a2ZgEgjrL1oXJzqM823lcwRlg1MYw76lIPXTCi6M4u1u7splXDNw+wDXoiSb3Q06A2912lXYFZ6gkFGUYZLpkNM5AyGiSoXRQM44qL3DUFZgFbi9DnFbgEgghCmcjkJ9Y606tyyoJlYOMHuRmn10u1OusVr7Eu5RKI1kWp9WLtNLws+1aSlvG97FSa9nW8vtkliYb3c5W+2W3MRu22XI/Mzeu0brOLXdrTeRQ9lJKwVcTWS9iwIIvroscg2fkA6b8pjQAE622kr246oqJ2nK2xUoUmrYhGyAISbQawJGEHRLNJE/lqF3ZzCuSDtfYA1qoQYDp4Cn7VXekKdCak7+nKoioIPM6gpcS05SUkXxH+bxrVzboUig5mXlPwhk4Er6M3LdffkNjIKEK5cQEOBq+FEkVJ0GHn+XqKbvyZpYBIUFBA0pMonKMhiOYOwKxXSEMSWh4fKlhEQ0BfMmhHnl0BgjyUfFRnqkYV4AD9lVBzXuo1aBbHOqF9nc0OnvXsHKZtY76t1xcYoBQ04GZ00Hbfm27u1q23ZZuD0dpneuW8z3CYRdOvhMDe3SBbefYdpa3utFdgpFJ4N74c4XgTCr+0CbSVkmBbVW+MOCBrwSvtmoO5l3n23ats7bOvF+Bb5qCtml4RKMxNSe7rcteIbAbNm1YtWG4y63DMURmjDVT6ljIRkDQTpOTps/3Ec9hTJR65pY2IqSERmqOVgnk8K8X+R7Jyv+n6T6JsIJTUouad3iWJGpW3vGhQ8kpNpYislcQA7thlh2yt7AOAOHjJ8nes+4LU/k9kIxJQFsqHx4FU4XcwtMj+gS5KleUkwz12Xr3hhnWk7X6D522/tANMCZGlvU5qz9umCqVHl9ICZ76sIgqCXNZtt52b/mLfjAi8VU/IPvwp70K/Lt+SFg66gckVH580g9kOL7uB6X46lU/gPiAV4fIWf/T+mWXERl8OFsIAyJVEBEOQ4CG+uuGveWvetQ0x497JTQ//GeP3MUPcJyIuAR+SQLKAz963jvcdFAuEVqP6tt6yUJtpJeiNv24ye6A2E9s/QJKngIzOiV+ZowjfR0/IeUs/x4XWVwA6MQEGKoCtFSas5eFg8ULjnhBWgF6eHsmxQlVD1rlXaf1UEWMPq/gd023ICjDzpYq/oYvA7+SAaUsohlwk6lOe235//rAr772SvKrXnn+xxmcqNeGs1/roudnkrTE2uUmX0636fE2oqWQ8qK3/F2v+W+/b9n7y3c/f766hkEU/+3y05+9hvJIFgwNB9NS2XzQ+m8dHR7eXePZt1L261+WZpC5N93xuUiRFymdwDDo6rIeNzc3vTFcXE9gjfOcXX+63GwuvvZoZfm1gJrnfeRX23zzwfovYxUBJXyN1jm80IxKD5dE5yXRmc7BBZtqgKlfm26gRKLYgFSP5A9v0kgVsHWkqgy3y0JChkMJLiISba5SEPMG6lRRLIRB9wgxorMBIuTmgVK0qeFYPs+7j0gXr0GXciwjNy1wTeUSwFEUtE0L4Oh4UZYkYXYZEUFXpElCkcIXDDBQfjYEmXrw865gHTLUDUkYPkjKGRiOiTGPoq2gROHP+H0OJQI0ww0ZHNjZBYswoFEEnqrTIoOBXBxJ4UOdNfKDp1s90qUfaaZpEMTCNBqjUYGKmwmbqlDdQoqoHaCYGmPclQlWJa+EW9Q6kzsaDAYNtwEaYxQwyDnUnk9widmYmSVi0RESr0QrBlVitZA6clodoHI6FFIJaRWJVOLUZXzwpuITNVEtSG0y54JWVGyDAo1Rxnkqn43zTr7rch0nDy4uS1xgBqoeW8w+AR4WiJVeihkeObAZfXYoHlyYHRqCsWwy1h3MHv24o9EWp+O8GbNkhd8SayigBRwxW1hOo78Wns+7YQqtHGjVYSvTkIndHGtWjR47jP478rxEq+5CmyT0vIWWVFXjGdnxqulw+GRUsnAxeMV03u0intUh780+VKIUBCAICgPlqsLNiJZCrDivvgNvpFyqqKtd9Ao1L1A+orNrbijs1txAcHzJDSNWumhKY5rApIy16FhUHHOZLBNCzgn3Oa8rLhckZTZ4KLp/pOgBnTPNE6VJmpqq+jKNBCh06NYUpS70VxKI8K5CwVYI/HtfQGLM09+9LxjrMGqG+1+wsLyn3v2+Fz60dXsErcEmNBx3zBpOqO99Y4J97xsT7nvfmIDf+8bM9CvqExX1ibMnFZQIZ4/JIYS040v1kNJ3znsK7vioPUUTZKRH7Cm62T327DaE1HE7dNyLo7K19Ei1X0Y4q0Zub5+Z2X/PzMz+e2Zm9t8zM7P/HpRBhKj2D+9pxpc7WNzfhvOtD9pwJ4XceW0OTmkede1De8o4NQ946GHN1I4v+1d0Yl6h7tDQm3TIDSxXamx8a1f9ljN2/OzlwSl15Mf0cYoJB9OGVEdnBrm01zQjPMUXZ8dvVgdH6x4dbx62nh/gKW3AB1sd/T0f8eaQnmHLc9r+/B/jlJXVzJOfHic/WyCk/DAx7ZDufaTmN1HS1qXlRpdtemX4xZk2+sw4t83zgudX/91AVKXLVqj4KBIql+D1e+w7Qod+cb3NO75hm8v39PI3Fc5QX6Rh4terX7YXnzGSOP5Hr9DOQXurMD3xz7R5HB/w4s61vy80k81M6+bhLo90g9FCOiooIqATzPgOj18esNOj1RoK6sr1oGh6PYQdEl+vTnujiWlwWefIMmtlTWU5JbO8po9DdkL2kGQPydkbHEIj0ekR/eD5LLLqjwdLvsZT+sSP2eGZ1IHl27ER9/8LCAnKU/pgR0+f0T0v6eOBM569+fFF0SgfVfb3WbnTf/e0dLL6vsekiRseOOpohS8/3fnANHVPXXcBroVW9q/r+v/ZL5fetmEYjt/zKXy0gVqz3vZxQAOsQLt1a7HLtkPgHpqte6BpUfTb7y/rYSerKmvDDgaKAA7jkBJFUfqRnm9SMsKxcXEuxzU83+IaMTJL9KumeYuTOa4RPI9qBM+jGsHzqMZMMgvdoleiWWTOsAn8ybAJ/EnazCazDVObReYMmxCZDJsQmQybEJkMmwCrpE2SzBl7GGZN72GSzO50ZpE5aTOQecLjP1EsZUu06ByK2RMoHni6Pl5bHpye2Fv0c2m5dLp+fbz+cPHm5LxiwnCq+gu6SsZxB3aOrmePuGt3NwMlIyA9v4XKpr//uh1RuKtoUw6mFSvvDGm/b4y07b89VoKVR14V0Nz+vN3ePZrFvsByCbAUuHpabMU8WAqGYg8HPg7LuIZHTlwjBkuuodrQZ2AZ1/CexzW853EN73lcYyYsOQTBuMqBZYZNQEKGTUBC0mY2LG2YsNwMWGbYjJGZbzNGZr7NGJn5NoEfSZskLDP2cJw1uYdJWLrTKbIYnbJJw1JwTqSmDpb8qb51aFdPTz4aKJgf5gbf717fXVS8dB0rHpdvc5tSdHqECmCId2A3o9w1pZyzSpe7X2bq/vqoAAcx+939lcdkJusEaTrxwrr/xzrE1x0uqrApY85qnDum2kIJRYSAVkhZ1RLsAMQbL1JJZEfx+xr3+/snBpGMEk2V+qdBOGiCAo1lDDIcpwNUTvLNZzM16aYULxRXhANYw9lqGluc1RSVocTL4/DSVHBOrDUmlgUO9nAor1Zl0NgXkjuBW2JwsuuG8zEnihKowR8mAE5EDos2K4gcJbMLohOxlE6GMeIpQrVE3W5ShJGWqUm/I4jqzGJaIhtRIHyNdrJ99iv7jcgylAlWnSKSjVmME/pVvfdHvWdT749XT6eq/fzm0x9EwnstaQvwTBuXJXjNO44M1d0yvIYxYbJbWooEt5eVI8HthSUJU0TjXltakni3F5Yk3u0lJMkzUBzhg3l0O4EiI1wYhwQOAyoC0mEGK9tnv7LfiqjC6lovmtGt6et61K73h6mnM9R+2sQ9uABv46Ufeh/VcVtvWJEyU05MioW9Zq0hungoRHFWfML+YyuZeX5piqti2nNiK5lopGmFtBlt2h1JlCTisDtiB91IZ8phfOP+QBE9tCK7Cn3HbdWWm6rm5Y9NMZTDxpha41IM5R1hzHsskGCmBcESLvvCCQ9F+Uq4+u23AAMAXuALHg1lbmRzdHJlYW0NZW5kb2JqDTExMSAwIG9iag08PC9CaXRzUGVyQ29tcG9uZW50IDgvQ29sb3JTcGFjZS9EZXZpY2VDTVlLL0ZpbHRlci9EQ1REZWNvZGUvSGVpZ2h0IDYxMi9MZW5ndGggMTMxNTYvTmFtZS9YL1N1YnR5cGUvSW1hZ2UvVHlwZS9YT2JqZWN0L1dpZHRoIDQzOT4+c3RyZWFtDQr/2P/uAA5BZG9iZQBkAAAAAAL/2wEGAAICAgICAgICAgIDAgICAwQDAwMDBAUEBAQEBAUFBQUFBQUFBQUHCAgIBwUJCgoKCgkMDAwMDAwMDwwMDAwMDAwBAwMDBwUHDQcHDQ8NDQwMDA8PDg4MDAwMDw4ODAwMDg4TDgwMDBERERQRDBEREREREREREREREREREREREREREQIDAwMHBQcNBwcNDw0NDAwMDw8ODgwMDAwPDg4MDAwODhMODAwMERERFBEMERERERERERERERERERERERERERERAwMDAwcFBw0HBw0PDQ0MDAwPDw4ODAwMDA8ODgwMDA4OEw4MDAwREREUEQwRERERERERERERERERERERERERERH/3QAEADf/wAAUCAJkAbcEABEAAREBAhECAxED/8QBogAAAgMBAQACAwAAAAAAAAAAAwQBAgkABQYHCAoLAQACAgMBAQADAAAAAAAAAAAABAMFAQIJBgcICgsQAQEAAQAAAAAgfwAAAAAAAAARAQIDBAUGBwgJChITFBUWFxgZGiEiIyQlJicoKSoxMjM0NTY3ODk6QUJDREVGR0hJSlFSU1RVVldYWVphYmNkZWZnaGlqcXJzdHV2d3h5eoGCg4SFhoeIiYqRkpOUlZaXmJmaoaKjpKWmp6ipqrGys7S1tre4ubrBwsPExcbHyMnK0dLT1NXW19jZ2uHi4+Tl5ufo6erw8fLz9PX29/j5+hEBAQEAAAAAAABgPwAAAAAAAAERAgMEBQYHCAkKEhMUFRYXGBkaISIjJCUmJygpKjEyMzQ1Njc4OTpBQkNERUZHSElKUVJTVFVWV1hZWmFiY2RlZmdoaWpxcnN0dXZ3eHl6gYKDhIWGh4iJipGSk5SVlpeYmZqhoqOkpaanqKmqsbKztLW2t7i5usHCw8TFxsfIycrR0tPU1dbX2Nna4eLj5OXm5+jp6vDx8vP09fb3+Pn6/9oADgQAAAERAhEDEQA/AN0lg8i5VJA0OA0OoGhzADgA4MhIGhwZDgAkAODISwyEgBwZCQyHMAJDISGQkMhLDIcGQkMhLDISGQkMhLDISGQkMhLDISGQlhsEgBIbBLDISGQlhsFgyEsMhIbBNYZCaGdCawzoTQ20LVhnQmsNpQmhmULUNtCawyFg2DgA4AOADgA4AP/Q3RWDx+uVTgNDqGdCQNDgA4AOACQzocwA4MhIGhwZCQAlhkODOhIZCQA5hkJDISGQkMhzDISAEhsEsMhIZCQyEsMhIZCWGQkMhIbBLDISGQmsMhNYZ0JrGs6HUM6E1jWwTWNZCaxrOhNGs6E1htoTQzoWrDOhNDaULVhnQmjW2hNY1mULYyNbQJGsh1GgJrOgOoZCWQD/0d0Fg8drlU6gaHUDQkM6HABwAcAEhnQ4AODISwNDgyEgaHBkJDOhLDISAHBkJDISwyHBkJDISwyEhkJDISwyEhkJYZCQyEhkJYZCawzodWGdCWNZDqxrOhNDOhNY1nQ6sayE1hsE1jWdCaNZ0JrDOhNY1toWoZ0JrDbQmhmULVjW0oTRrOhajW2hNY1nQtQ2DhoCazoDqAHVnWQA/9Lc+rF43XKp1A0OA0OACQyHABwGhLDIcAHABIZDgyEsAODISGQkAJYZCQyHBkJDISwyHBkLBkJYZDgyEhkJYZCQyE1hnQ6sM6HVgBNYZ0OrGs6E1hkOrGs6E1hnQmsa2CWNZgTWGYE1jWZQmjW0oTWNZ0JrGs6E0a20Jo1nQtWNZ0JrDaULUa20Jo1nQtjI1tAnGWGYEjWQ5nQE0AOrOsgA/9Pc5YvGOVTgA4AJADgA4Mh1A0JADgyHMDQkMhwASGQkMhzDISAEhkOYZCQyEhkJDISwyEhkJDISwyHBkJrDOh1agOrDOh1Y1nQmsMh1YZ0OrGshNY1kJrGsh1YZ0JrDITWNZCawzoTQzoTWG2hNY1nQmhnQmsa20Jo1kLYyxraUJxkazKFqxrbQmhtoWoZ0JrDbQsNZDqzoCaGQ6s6A/9Tc1ZPFuVTgA4AOACWAHBnQ4AJADgyHABIZDmAEhkJDIcGQlgBIZCQyHBkJYZCQyEhkJYZCQyHVhnQ6tQHVhnQ6sayHVgaE1rrIdWNZDqwzoTWGQ6sayE1hnQ6sazoTWGQmsayE0MyhNYbShNY1mUJrGs6E0a2CaxrIWo1kJrGtgmjWwWxljWYFqNbShOMhmULYyG0oTRrYJGgJo1kOrOgA/9XcxZPFOVTgA4AOACQNDgNDgyEsAODISAHBkJADgyEsMhIZDgAlhkJDISGQ5hkLBkODIdWGdDq10B1YZ0OrGsh1ajQ6sayE1hkOrDOh1Y0BNas6HVhkJrGs6HVhnQmsayEsayHUa2CaxrOhNYZ0JrDbQtRrOhNY1kJrGtoE0azAmsa2gWo1mBOMjW0oWrDOhahtoTjI1tKFsZGswJGsh1GgJrLIAP/W3LWTxDlU4MhwAdQNCQA4MhwASBocGQlgBwZCQA4MhIZCWGQ4AJDISwyEhkJDIdWGQ6sMh1ajQ6sAIrDOhLXWQ6sM6HVgB1ash1YZCWNZgS11mBzGshzGswJY1mBNY1kOGshLGswJrGtgmsCUJrDbQmjWQmsa2CaxrITRrYLVjWQmjWQtjI1tAmsNpQtQzoWo1toTQ20LDWQmjWQ6sgD/19ylm8O5VOADgNDqGdCQA5gBwZCQA4MhIAcGQlhkOACQyEhkJYZDgAkMhLDIdWGdDqwAitWQ6sAOa6yHVhnQ6saAlrrMDmNbB1agOY1kJrGshNattDqxoDqwzoTWGdCaxrYJY1kOrDITRrISxrIdWBoTQ2gTWNZC1GtoE1jWYE0a2C1Y1kJobaFsZYbShbGRrMoTjI1tKFsZGswLDWwcNZCayAD/0Nyas3htcqnUDQ4M6EgBwAcAHBnQlgBwZCQA4MhIZCWAHBkJDISGQlhkOoZDq1AdWAEVqyHVgaHVrrIdWAHNdZCWNbB1ajQ6sayHVqyHVhkJrDIdWGdCaxrIdWNZCa11nQ6sMhNY1kJoZlCaxrOh1Y1toSxrIWGshzGshI1kJY1sFhrMCcMazAtQ2gTjIbQLVjW2hajWdCcZDaULYyNbQJo1kJrOgP/R3IWbwrlU4AODISAHABwGhIZDgA4MhLACQyHBkJDISwA4MhIZDqwyHMAIrUaHVrWdDmLQHNdZDq1ZDmNZDq1Z0OrGgOrDIdWrIdWGdCa1AcxrITWGdDqxrYOrACaxrOhNYbBLGsh1YZCawzoTWNZ0JrGtoE1hmBI1kJGshLDITQyFqw2CQ2gWxkazAmsa20LUNtC1DbQsNZCRrYJrOgD/0tx1o8I5VOADgAkMhwGhzACQyHAaEhkOACQyEsMhwZCQyEsAOrDIRWKAitaA6sM6HNdAc11sHVrRodWKyHVqzodWAHVqyHVhkOrXQHVjWQ6sM6E1rrIdWGdDqxrITWNZCawzodWGQmsMhNYZ0OrDOhahtoTWNZCWNbBLGswJwNbQJGgJY1kJGtgsxrITRrYLYyG0C2MhmULYyw20JobBajWwTWdAAP/T3GWjwblU4AOACaGdDgA4AJDIcwyEgBIZDgAkMhLDIcGQ6sDQ6taAisAIrVkOa1mBLWshFagOrDIc11kOrA0OrVkOrDIdWugOrDOh1a6yHVhnQ5jWYE1qNDqw2CawyHVgaE1jWwSxrMCaxrIdWNZlCaGdCaxrYJrGshZjWwSNZCWNbBI1kJwNECWNbQLUa2C2MhtKFsZGsyhOMjW0C2BraBbA1kJoZAD/1NxqtHgtcqnAaHBkOADgAkAODIcAEsMhIZDgyEgBLDIdWKzoRWKAhqA6taA5rWYHVqyEMMh1ajQ6tayHVigIrWs6HNbWQ6sDQ6sayHVqyHMaAmtWQ6sMh1YZ0JrGsh1YZCawzoTWrIcxrYJrGshNY1nQmhnQmsNoEsMwJGshLDYLMMhIbBI0QJwG0C2MsMwJxkNpQtRrbQtjI1tAtga2gWxkazAmjWQA/9XcVavAuVTgyHABwAcBoSwyHABIZDgAkMhLDISGQisUaHVqAitaAisUBzW1sHNWQ6taAitaA6sVkOrUBFashzDIdWoDq1ZDmNZDq1GhzDIdWGdCWLWYHVqyHVhkJY1kJrGs6HVhkJYZCaw2CawyE1jWdCaxrITWGwSGYEsa2gWGshLGtgkayE0MhOMjWYFsZY1tKFqG2hahsFgyFsZDaBNGsgD/1txFq8A5VOADgA4M6EgBwZCWGQ4AJDIcAEsMh1DIQ1ARWtAdWtAc1rIdWrIRWtARWKA6tWdDmoCGrIdWGdDq1oDq1rIdWGQ6tQHVhnQ5i1kOrWsh1Y1kJrXWQ6sM6EsMwJrDIdWNZlCWNZCWNZCaw2DqwzoTQzoWrDYJYZCcMNoE0MwLMNoEhkLBkOoZ0LYyG0oWxlhtAsNZCw1sFsZGtgmhkP/X3DWr5+5VODOhwASAHABwZCQyEsAODISGQ5gBDWgIrFAQ1Ac1rYOrRkOrFAQ1oDmoCK1ZDmLQEVrWQ6tQHNbWQ6sM6HNWQ6sAOa6yHVjWQ5rrIdWAEsNg6sDQljWwTWush1YZ0JrDIdWNZgTRrOhNYZlCaxrYJrGshLGtgsNZCWNbQJwNZgWwxraBI1kJo1kLUM6FsZGtpQtjI1tAlhsF6G2hNGtg/9DcNbPn7lU4AOADgA5hkJADgyEhkJYZDgAhrQEVrQHNayENaA6tayEVrQHMAIrVkOrUBDWswOrWgIrWshzFoDq1ZDmrISxrIc11kOa6yHMayHMMhzXQEsa2DmNASwyHMayHVgaHMa2CWushNDMCawzKE1htAlhkJGshZjWwSNZCWNbQLYGtoE4Y1mBNDIWoZ0LYyG0CcDW0C2BraBahtoWo1kD/0dwVs+fOVSQA4DQ4MhIAcwyEgBwZCQyHNaArWtAc1rIc1rIRWtAQ1oDmtARWrIRWtAc1oCGtZDqwA5rrIc1ZDmrIdWGQ5rQHVq2DmAHVqyHMazAmsMhzUB1YZCWNZDmNbBzADqwAljWwSxrITWGQmsNpQmhmUJrDMC1YbBNDYLVhkJobQLYywzAkNgmgBbAbQLYGtoE4GtoFsZDaULBsAP/S3BWz565VODIcAHABIZCQA5hkJADmGQitaAhrQHNa2CGtAQ1oCGoDq1ARWtZDmtECGtARWoCWtbBzVkOYAdWtZCGtrIdWtZCWGQitaAmsMhzDIdWtZDmLRA6tWQmsMhzGtoEsMhzACawyHMayE1jWQmjWwTWNZgTWNZgWrGtgmjWQmsa2C1GtoE4yNZgWxljW0oTRrIWwNZgWwNbQLYyG0C2MhtAszrYA/9PcBbvnjlU4AJYZDgyEgBwZCQA5hkIa0BDWgOaVkIa0BDFAdlqyENKAhigOa1mBDWgOaVkIYAS1bBDWgOrWshzWiBzDIdWrIc1rMDqwA5hkOrUBzVsHVgBLFraB1YZCWrIcxrITWGdDmNZDmNASGQmsNtCawzoTjIZgWrDaBNYZCaGwWrDbQtjIZlCcZDaBIZC2BrMC2Msa2gWxlnW0C2BraBbA1tAA/9TcBbvnjlU4AOACWGYHBkJAgSGQhrQFWtAc1rIc0rIQ1oCMtQENaA5rQENaAhrWQ5rWQ5qyHNQEMVkOrWgIa2shzVkOrWgOYtZDmrIdWKA5rayHVhkOa2swJrDIc11kOrGshNY1kOashNYZCaGQ5hkOY0BNY1sE1jWQmhmBbGWG0oTWGdCaGwWobBasayE4yNbQJGshbAZgWxkNoFsZDaBbAbQLYyNbQP/V2/W7525VJDIcAHABLDYJADssMhVrWA5rQHNK2CGtAVa0BzWgIa0BDWgIa1kOa1mBzVkOagIa1kOa0BDWshzWiBzFZDmtAQ1ZDqxWQ5qyHMAOashLDIc11kOrGshzVkJrDISwzA6sazAmsMhLDISxrYOY0BNGshNY1tAmsazAmjWYFqxrYJo1sFqNbBbDGswJwNbQJDIWoZC2MjW0C2A2gWxlltAA/9bb9bvnblU4AJDIcAEsMhwZDmtAVa0QOaVkOa0BVrQENaA7LVkIa0BDWgIa0BLStghqAhgBzVkIa0QOa1kOrWgIa1kOYZDmtAc1ZDmLWQ6tWQ5jQHVrWQ5qyE1hkOYZgdWLWQlqyHMazAmsayE1hsEsMhLDIcNZCawyE4yGYE1htAtQyE1htAsGwWwwzAnAbQJrLIWo1sFhrIWwG0C+MjW0AP/X2/W7525VODMCQA4AJYZDmKAjLVkIa0QIy0AQ1rIQ1oCGtAQ1oDmtAQ1rIc0ogQ1rIdlqAhrWQ5rWQhrQHMUBDWshzUBDWshzDIc1tEDmrIcxayHNQEtWwcwA6sVkOashLDMDqw2CWBAlq2DqGQlhkJY1kJY1sHAQLMMwJo1tAlhkLBsFmGwTgazAtgNoE0MhahsFsBtAtjIbQLYGtoD/0NwFu+eOVTgA4AOYZCQyENawENaA5pWYFWtAQ1oCGtAQ1oCMtQHNK2DmtAQ1oCGrIQ1oDmtAQ1ZDmtAQ1rMDmKAhrWQ5qA5razA5qyHMVkOagOrDIc1ZDqwAlq2gdWKyHNWYE1hkOYZCWNZCawyE1hkOrGtgljWQ4aIFsMa2gSNZgWY1sEjWQsxrYJxka2gWxkMwJoZCzOtgtgNoFsZDaBbAbQD/0dwFu+eOVTgA5gBIZDssAKtaAhrQHZaVkIa0BXLWgOa0BVrQHNaA5pWwQ1oCGtAQ1oCGtZDmoDmrIQ1oCGoDmtZCGtAcxazA5qA5rWQ5rWYHMMhzWgOYZDmrIcwyHNWQlhkOYZCawyHNdZCWNbBNYZCawyEhkOY1kJDMCWGQsGwSw2C2AzAtjIbQLYyw2gSyyE4GshfGQ2gWwG0C2GW0AP/S3BWz57jlU4DA4MhwAQ1oCGtYCGtZgQ0oCGtAQ1oCMtaAhrQENKzA7LWgIy1ZCGoDmtAQ1oCGtZCMtQHNWQhrQHNaAhrWYHNWQ5iiBzRkOYZDmtogcwyHNbWQhiiBNashzDMDqwyEtdZDmGwTWGQlhkJY1kOrDITWG0oTQAmsMwJDYJYZC1DYLYyw2lCcZDMC2BraBYa2CcZDMC2A2gWwzrMC2MhtAP/T3BWz585VOACQA5igK5a0BDWsBGWtZCGlAVy1Ac1oCrWgIa0BzSshDWiBDUBDWshzWgIaUBDFZCGtAc1oCGtZDmoDmrIc1tZDmtZgc1ZCGLQHNazA5rayHMAIagJYZDmLWQ5qyE1hkOa6yEsMh1YZCWGQljWwTQzAlhkOrDITQyFqw2CcZDMC2MhtAthjW0CwZCay2C2MhmBbA1tAtgNoFsBsAP/U3CWz5/jlU4AJACuWtYCGtAQ1rIQ1rAQ0oCrWgIy1oCGtAQ0rIdlrQENaAhqAhrWQhrQENQHNKyEMAIa0BzVkIa0BLStghrQHMMhzVkOagIa1kOYAc1ZDmAENdZCWAHMMhzVsEsAOY1sE1hkJYZDmNZgWYbQJYZDqAE1hsE0MwLYYbQLYDaBI1kLBsFqGwTgazAthlmBfAbQLBsD/1dw1s+fuVTgA5gBVrQENawENayENaAq1rAQ0oCrWgIa0BzSshDWgIagIa0BDWshDSgOYoCMtAEMUBzSswIa1kOa1mBzWshzUBDFZDmoDmrIQ1AcwyHNWQ5qyHMAOYAdWrIcwyEsMhzXWQlhkOrDISw2CWNZCRrISwyEhkJYbQLYGswJGtgswyFqGwWDYJwzrMC2MhtAsGwXrLYD/1txFq8A5VOACMgBXLWsBDSjAjLWshDWsBXLUBDSsBXLWgOa1mBGWlAQ1rIQ1YCGtZCGtAQ1oCGlECGAENaAlpWwQ1Ac1rIQ1ogc1rIc1rIQxQHNayENQEtayEMVkJashDUBzADmGQ5hkOa1mBNYZDmNZCWGQlhkJrDYJYZCRrIdhgQLYGtoE4DaBasMhahsFsBtAkayFsZDaBZlsFsBsFgyA/9fcSLV4HHKp0AwIyxQEZa1gIaUBVrQENaAq1rAQ0oCrWgOa1kIaUBDWgIa0BDWgKtaA7LWgIy0AQxQENKzA5rWQ5rQEZa1kOy1AQ1rIc1ZDmtAQwA5rWQ5rWYHNQHMVmBDWshzDIc1AcwA5hkJatgmsMhzDISxrISwyE0NoE1gaHUMwLVhsEhkLBsFhrYJwGYFqGwWDIWDYLYZbQLBkAP/Q3FWrwTlU5gBDFYCrWgIaUBVrWAhrQFWtAQ1rAQ0oCGtZCGlAQ1AQ1oCrWgIa0BzWgKtQENaAlpWwQ1Ac1rIQ1oCGtAc1rIQ1rIc1AcxQENayHNWQ5rQHMMhzVkOashDADmAEsMhzVkJYZDmGQlhsEsazAljW0DhoCWGQsNbBLGshbA1tAnAZgXxkNoEsshbAbBbAbQLYDaBassgA/9HcZaPBuVTgArlrWAq1rARlpWcCMtawFctWAq1oCMtaAhpQFWtAc0rIQ1YCMtaAq1oCGtZCGtAQ1rAQ1rMDmlZDmtARlrWQ5qAhrWQ5rQENazAhrQHMAOa1kIashzVkOagOYrIc1ZDmAEMAJa1mBzDIcwyEtdZgSGQlhsEsayEsayHBkJY1mBbA1tAtgMwLYDaBYa2CcBmBbDLaBbA1tAtgNoFmWQD/0tx1o8JjlUjLACuWrAQ1oCMtawFctKMCuWtYCMtaAq1oCuWtYDmlZCGtAQ1oCrSgIy1oDstaAq1oCMtaA5rWQhrQHNKyENaAhrQHNayEZa0B2WrIQxQHNayENQHNayHNazA5rQHMVkOa1mBDADmtEDmGQ5hkJashzGshLGshLDYJYZDqGQlgQJwG0C2AzAsw2Cw1sFsM62gTgMhbAZC2GW0C4bBLLID/09yFo8LjlUjLFYwK5a1jAhpWQrlrWAq1oCGlYCrWgKtawENaA5pWQq1AQ1rAQ1oCGlAVa0BDUBDWgOa1kIa0B2WlZCGrIQxQHNKAhrWQhgB2WoDmjIQxQHNWQ7LVkIagOYZDmrIQwwHNWQlhkOYZDmrISwyHMMhLDMCWG0DmAEhkLMNgkNgsGQnAbQL4DaBLLIWwGYFw2CzLYJZZAP/U3JWbwzlUrlisBVrWAhpQENaArlrWAq1oCrWsBDSgIa0YEZaVkKtWAhrQENaAhrQENaAhrQFWlAQ1oCWtZCGtZCGoCGtAc1rIQ0AcxQENayENaA5rWQ5rRAhrWQ5qA5hkIagOYAc1rMDmGQ5rWYHMMhLDMCWrIcwyEhkOY0BI1sFmNZCcBtAtgNoFsBtAsGwThkQL4DYLYZbQLBsEsgD/1dylm8O5VKtawFWtYCrWsBDSs4FctawEZa0BXLWsYFctaAhpQENaAhqAjLSgK5a0BGWoCGtARlrWAhqAhpWYHNayENaAhrQHNayENaAhrQENWQ5rQENQHNWQ5qyENaA5ishzVkIasBDDIS1ZCGAHNWQlhkOashLDISxrIcw2CQA6sMwLYyG0C2AzAkNgtgNoFgyFsBmBbDLaBbAbBZlkJbMg/9bctZPEOVSrFYCuWtYCrSgIy1AVy1YwK5aAK5a1gIy1owIaUBDWgIy1AVa1gIy0oCGKAq0ARlrQENQENaA5rWQhpWQ5rQENaAhqAhqyHNaAhqyHNaIENaIENayHMUBzVkIagOYAQ1rMDmtZDmAHNayEsMhzDMCWrMDmGQlhmBw1kJY1kJGshYNgthhtAtgNoEsshbDLMCwbBfDLaBLLISzGQP/X3MWTxLlUplrWArlrWAhrQFctKAjLWsBXLUBXLVgIy0oCrWsBDSshDFYCGlAVa0BDWgIy1AQ1oCrUB2WgCGtZDmtAQ1rIQ1oCGlAQxRA5rWQjLUBzVkIa0BzWgIashzVkIYrAQ1oDmrIc1rIcwA5q2DmAEtWwcwAlhsHMMhwASwyFsZDMCcMNoFsDW0CzLYLBkLMshbAbwLMshZlkJwyIAP/Q3MysXiscqlctaxgVy1rGBDWgK5a0BXLWsBGWlGBVrWArlqwFWtAc0rIQ1rAVa0BDSgIa0BDWgKtawENayENQENKA5rWQhrQHNayENQENaAhrQHNWQhqA5rWQhrRAhrRA7LDIQ1YDmtZCGKyHNQHNayHMMhzWswJYZDmtZgcwyHMAJDMCWGQkNgswyFsBtAsy2CcBmBfDLaBbDLaBYMhOGwCWWQD/0dzcrF4vHKpXOGtYwK5w1rGBDSjArlrQFctawFctawENaMCuWlAVa1gOaVkKtawENaAhqAhrQFWoCGtYCGtAQ0ZCMtaAhqAhrQHZa1kIaUBzFZCGlECGtAQwyHNQENKyHMUBDVgIYZDmtZDmtAQ1ZDmGQ5qAlqyEMMhLVkOYZDgAlqyEhkJww2gWwy2CwZCQ2CzLIXwG0CzLYJZZCcMiBZsyAP/S3OysXjHKpXLVgK5aVgIa0YFctaMCuWtYCuWlAQ1rGBVrQFWtYDmlZwKtaAhrWMCGtAVaUBDWgIa1gIa0BDVkIa0BVqwHNKyENayHNaAhqAhrWQ5rQENaAhrWQ5rQEMAIa0BzVkOa0BDFZDmoDmtZDmKyHNayHNazA5gBzDIcwA5iswJYZgWwGwWwG0CwbBOGRAvgNwthltAszGQllkJZAWZZAP/T3PysHjnKpXLVrQrlrWAhrQFc4aUYFctawEZa0BVrWAq0owKtawENayENaAhpWAhrQFWtAQ1oCGtAVa1gOa1kKtKwEZYAQ0rIc1oCGtAQ1AQ1rIQ1Ac1oCGrIc1oCGKA5rWQhqyHNaA5rQENWQlishDWgOYbBLWgIYZDmAHNWQ5ishZhkJDIWwG8CzLIThlmBfAbBbDLaBZmMhOGWQlkBZlkA/9TdDKwePcqlctWArlrWAhpQFc4a1jArlrRgRlpWAq1rAVjWjAq1rAQ1oCGlZwIa1gKtaMCGtAQ0oCrWsBDWgIa0BGWtAQ1AQ1rIRlrQENQHNaAhrRAhrWQhrQHZagIa1kOa0BDWshzADmtZCGtEDmrIc1rIcxRA5rWQ5iswOywKHMMwOashzFECWG0C2AyFg3gSyAtgNoF2WwWwyyEsxkJZZCWQFmWQ/9XdLJ95ByqUy1rAVy1rAQ1oCuWtARnDSsYFctawFWtAVy1rAVa1gIaUBEa1nAhrQENBgVa1gIjUYENaAq1rAQ1ARlrWQhqAjLWsBGWtZCGtAc1oCGtAQ1rIRlqA5qAhrWQ5rRAhrWQ5gBzWshDWgOashzVkOYAc1ZDmGQ5gBDACWGwS1ZwJgZwLYYbSBLLITgMwLYDaBZlkLMtglkBLLIThkQLNmQD/1t0z7yLlUrlrWAplrWAhrQEZaUBXOGtYwK5a0BXLWsBVqwERpRgVa1gIa1kIaUBDWgIa1gKtQENaAq1rAQ1ZCMtaAhqAjLWgOa0BVpQHMUBDWgIashDUBzWgIa1kOa0BGWrIcwA5rWQhrQHNayHMVmBzUBzFAQwyEtazA6MM4HMCBLDYLMMwJDYOAC2MMtpAuGwSGQsyyHYZAWZZCcNgEssg/9fdQ+8m5VK5a1gK5a1gKtKwEZa0BXOGtYwK5w1GBXLRgIy1oCrWsYFctaAhrWMCGlZCGoCM4a0YFctWAiNaMCGoCMtQENaAq0AcxQENaAhpQEMUBDWshDWgOagIa1kOa0BDUBzVkIYogc1rIc1Ac1rMCGGQ5qAhgBLDIcwyEsMh0as4EwM4ExhmQJgZCcYDMgWwGwWwGYEstglkBLLISyAsyyE4ZED/0N1TzyjlUqxWArlrWAhpQFctQEZw1YwK5w0YwK5a0BXLWsBXOGtGBGWtYCuWrAQ0oCGtZCM4a0YENQFc4a1jAjLUBDUBDSgIagIYowIaUBDUBDVkIYoDmoCGtAQ1rIc1AQ1oDmrIQxQHNWQ5rWQ5igOashDDAdGGQ5hkJash0YZwJYZCWGQkY2DgAsGQnGA2wLBsEsgJACWWQnDYBLLISzGQ/9Hdc88s5VKtawFWtYCrWsBVrWAjOGtGBXOGlGBXLWsBGWtYCucNaMCuWtYCuWoCM4a1jAhpWQhrQENaAjOGtGBVqwHRpWcCrFYCGlARGKMCGtARlpWQhgBzUBDWgIa1kOa0BEagOa1kIYoDmrIc1AcwyENQHMAIjDOBLUQOjDOBzDISwzAmMNgmMM4HQDAmBnAtjDDaBIZCWWQkAJZZDmQFmWQlkBLZkP/S3YPPLuVSuWtYCrWsBVrWAq1rARGlZwIjWsYFWtYCrWgKtawERpRgVYYCI1owKtKAhrWA5rWQrGtGBDWgIa0BDWgIjSjAiMDAjLWgIjWgIa0BDWgOa1kIjUYERqA5rWQhigOjUBzVkIYoDmrIQxWIHRhnA5rWQ6MM4EsMh0ashMDOBLDIcwyEgBIZCWGwTAyEsshLIDgAsyyEsgJZZCWQAP/T3ZOvMOVSMsUBXLWsBXLWsBXLWsBDSgKxrRgVjWsYENawFY1owKxrWMCGgCsYrAQ0oCrWgIa0BzWgKxrRgQ1oDmoCsa0YENQERrQHNaAhrWQhqAhrQHRqAhishDUB0agOjWshDACGAHNaA6MM4HNWQ6MDA5hkJjVnA6MMhLDISw2DoAEwM4ExhkJDYJADmQEwAJZZCWQEsshLICWWQP/U3aOvMuVSM4YGBXLVgK5a1gIy1oCsaVgIzhrRgVy1oCuWtYCMtawFY1owKtKwERijAq0oCMtawEZw1owIa0BDWgIashDWgIjWgIa0BEa0BEa0YHRrQENQERigIa1kOagIjVkIYYDmoCIwzgc1oDowzgc1AdGGcDmGQ6NWcCYwA5hsExhnA6AYHRhnAtAzgTGGcCYGcDoyAkYyHMgJACWWQlkBLLISyAD/1d3DjzblUgAK5a1gK5a1gK5a1gIa0BXOGgwIzhqxgVy1rAVzhrRgRnDWsYFctaArlqwEZw1owIy0oCIwMCrSgIjFYCGlAQxQENKyENaA5rQEMUBDWshEa0B0agIy1AQwAhqA6NRgQxWQ5qA6MM4HNQHRhnA5hkOjVnA6MAJYZDmGQlhkOACWGQkNgkYyHDAHQAJgGBzOMhLICQAllkJZASyyAP/W3dOPOOVTgAq1rAVa1gKxrQFY1rGBDWgIaUBXLWsBVrQFY1rGBDWgKxqxgRGtGBDWgKxrWAhrQERqMCrWsBEajA6NWcCGtARGtAQ1AQ1AQ1oDmKAhrWQiNaMDowMDmtZCIwA6NWcDmoDowzgcwA6NWcDowyEsMh0YZwOgAcwyEsMhMYZCYGQ4MhIwBwwBzICYAHMshLICYAEsshMZAP/X3eNvPOVTgAjLFYCuWtYCrWsBXOGtGBWNaxgRGlAQ1oCsa1jArGtGBDWsBWNaMCI1rAVa0BGcNaMCMtaAiNaMCI1rAVjUYHNaAhrQFY1owOYARGtGBDWshDUB0YGB0as4ENaA6MDAhqyHRgB0as4HRgB0as4HRhkOYZCYwMCGAEsMhMDbA6MM4ExhnAmAB0AwOgGBzICRjIcAExkBzICQyExkBLIA/9Dd828+5VOADssAK5asBXOGtYwK5w1rGBXOGtYwIa0BGWjIVzhrWMCM4a0YFctWArnDWsYEZw1GBWNaAiNaMCGtYCI1owIjWgKxijAhqA6NRgRGtAQ1oCIwMCI1owOjWshEagIjAwOjVnA5qA6MDAiNWQ6MDA6MMh0ash0YZCYwMCGMASwyHRhnAmBnAmMM4HDGQ5gBzOAOACYAHQAOZASMZCYyA5kBLLISAAD/0d4TShcqnABwAVjWsYFY1rGBWNaxgVjWsYFWtAc1oCsa0YFY1rGBDWgKxpWMCI1owIjFAVjWsYENaAiNaMCMtQFY1rGBDWgOjWgIjDOBEa0BEajAiNQHRgBEa1nA6NRgRGAHRqzgcxQHRqzgcwAiMM4EtWQ6MDAhgB0YZCYwzgdGGcCQyEsAODIcAHABwAcMYDmWQmABzICQAmMshLIDoyyA/9LeI0onKpwAcAEZwxWMCucNaxgVjWjArnDWsYFWtYCsa0B0aUYFY1owIy1oCucNaxgRnDWgIjVjArGtGBDWgIjUYENawERgYFY1oDo1GBEa0BDWgIjWs4HRgYERrQERgYHRqzgdGoCIwA6MM4HRqA6MM4HNWQ6MDAhgBLDIdGGcDowMCQyHMMh0YAdAA6AB0ADoAEsgOGAOZZCYAEsgODISyAlkAP/T3jMqNyqcAHAYHZwBgVzhrWMCucNaxgVzhrQEZa1gK5w1GBWNaxgdnDSshWNaMCI1rGBVrQENWArGKMCGtYCI1GBEa0BEa0YERrQERrRgRGBgdGowIjWs4ENQERgYHRrRgQwA6NWcDowMCI1ZwOjADowyHMAOjUB0YZDowzgdGBgSGQ5hkOjADoBgdAMDoAHQDA6AYHQAOZwBIAdGWQmABLOAOjLISAD/1N5DKlxyqSBgdAMDoBgVjWsYFY1rGBVrQERrWMCsa0YFY1rGBGWtAQ1oCM4a0YFc4a1jAjOGtARGowIjWsBWNaMCGoCIxRgRGowIjWjAiNRgcxQERqMCI1rIdGAERqMDoxRgQ1ZDowMDo1ZDowAhgB0YGB0YZDo1ZwOjAwJYZDgyHRgB0AwIgAdAA6AB0ADoAEwDA6ABLOAOADoyyEgBLOAJjLIA/9XeaGFNjlU4DA4DA4MhGcMVjArlqwFcsAIzhrWArnDVjArnDWjAiNawENaAiNKzgRGtYCsa0BEa0YERisBEajAiNaAiNRgQ1oCIwMCI1GBEajAiMUB0ajAiNWcDowMCIwMDo1ZwIjADmoCIwA6MM4HRgYExhnA6MDA6MYyHMMh0YAdAAiABzDAcAHABwAcAHBkJjIDoAEsgOGAJjLISyA4AAP/W3nhhUY5VOgGB0AwOAwOgGBWNawERrWArGtGBWNaxgRGtGBVrWAiNaMCGtAQ1oCrWgOjWjArGrGBEYowIjWgIjUYERqMCI1owIjAwIjUYHRqMCGKA6NWcCIwMDmoCIwAiMAOjAwOash0YGB0YZDowzgdGAEsMhEYAdAAiMYwHDAHDAHDAHABwwBwwBwwB0GAJjLIdAAlnAHABMZZCWQD/196E6pxyqcBgcAEgBwARnDFAVzhqMCucMMYEZw1YwK5w1owIzhrWArGtGBEa1jAq1oCI1owOa0BEa0BEajAiNaMCIxQERqMCI1GBEa0YERgBEa0YHRgBDGAIagIYAdGowOjDOB0YGB0as4ERgBMYZwOjDOBzACGAHQDAhhgOGAOADgAiMAOgwB0ACWQHABwwBwATGWQ6ABLICYGQ5nAA/9DepOq3KpwAcAHABwAdGAERijArGtYwKxrWAiNaArGtYwIjWjArnDVgIzhgYERrRgVjWsBEa0YENQENQHMUBDVkKtWA5igIa0BzACsagOjAwIjWgOjDOB0agOjDOBEYAdGrOB0YAdGGcDmAHMAIgwBEYAcGA4AIYAdAA6AB0ADoAHQAOgASAHMgOgZCYzgCQA5kBMZxkP/R3rTKxyqcAHABwZCQA4DAjOGBgVzhhjAjOGrAVjWgIjWsYFY1owIa1gKxrRgRGtGBEYYCI1GBEa0BWNRgRGKwHRqzgRGtARGBgRGowOjWjAiMAIjAwOjVnA6MAOjVkIjAwOjADo1ZwOjAwOjACAAiMYA6BgIYAcMAcxgCIMAdBgDoMAdAMDoMAdBgDoMASMAczgDgAmMgOgxkJZATAAD/0t7UyucqnABwAcBgcBgdAMDowzgRGKxgVjWsBEa0YFc4asYEZwwMCsasYERrRgRGtGBWNawERgYERrRgRGtGBEagIjFGBEajA6NRgRGAERgYHRrRgRGrOB0YGBEYAdGowOjFZDowMDowyERjAERjGA5gBEACIwwHABwwBEYwB0GAOgYDowAiABMADoAHRnGQ6DAEjAHMgOgATGWQkAOjOAD/097kqvxyqcBgcBgdAzgdAMDgMCQAgAIjWjArGtYwIjWsYFY1oCIwxgRGowKxqAiNaMCI1rGBEYARGowIjUBEYGBEa0BEYGB0a0YERqMDowzgRGoDowMCIwA6MDA6NWcCIwA5jAERgBAYDmMARGMARBjAcxgCAA6AB0YAdAwEQAOgAdAAmAB0ADoyyHABIAdGcATBjIczgCWcAP/U3viUjjlU6AYHAYEgYHABwAcGQ5gB2cMDArnDDGBWNWMCI1oCI1owKxisYERrQERqMCI1YwIjFARGowKxqMDowMCI1GBEYGB0ajAiNQERhnA6MAOjUYERgB0YZwIjDAQxgCGAERhgOYwBAAdGGAgYA5jAEQAOjGAOgxgIgwB0GAOgAdBgDoMATBgDoMZDoyAkYA5nAEwAOjLISMAA/9XfFISxyqcBgcGQ4AOADgA4AJAwOgZwIjVjArGAERqxgVjUYERqxgRGBgRGtGBEajArGrGBEYowOjUYERqMCIwMCI1GBEYGB0YZwIjUYHRgYERqMDowAhjAERhgIYARAwEMYA5jAEQMYEMAOYwBAwB0ADowxgRAA6AB0ADhgDoAHQAOgATAMDoyyHDAEjAHM4AmABzLIP/W3ySFHKpwAcAHABIAcGQ5gYHQDA4DA4AIjWgKxhjAiNRgRGowIjFYwKxqMCI1owOjUYFYwMDo1GBEYARGrGBEa1kIjAwOjAwIjUYHRgYEMYAiMMBDACIxjAQxgCIwwEABEYwB0YYCBgDmMARAwHRgYEQAOGAOGAOGAOGAOGAOGAOGAOgATAA6MgJGMhzOAJgAdGcAAP/X30blnKpwAcAHABwAcBgdAMDgMCQyHAB0YGBWNRgRGKxgRGowIjUYERhjArGowIjWjAiMDAiNRgRGAHRqMCIwMCI1GB0YGBVhgIYwBEa4wEMYAhjAERhgOACIxjAQxgCIxgDoGAhgB0GAIgxgOjACIMAcMAcxgDhgDhgDhgDhgDmcAdBgCYAHRnAEwYyHABMZAdBjIP/Q31bl3KpwAcAHAYHBnA6MDAkDA6AYHQM4EwDA4DAiMDAiNRgRGKxgVjWgIjAwIjVjAiNQERgBEajAiMAOjWjAiMDAhrjAVYwBEYYCGAERhgIYwBEYYCGMAQxgDoGAhgBEYYDoMAQxgDhgCIwA6BjAiABzADgA4AOADgA4AOADoyAmAYHQMhLOAOGAJjOAOgAA/9HfdshxyqcBgcBgcAHABwAcGQkAOAwOAwOYZDgA6MDAiMDArGrARGKAiNRgRGrGBEYGBEajAiMAIYxgIjUBVhgIYwBEYYCGMARGGAhgBEYYCGMARGMYCIMAcxgCIxjARGAHABAAdGGA6DAEQYA5jAHDAHDAHDAHDAHDAHDAHRnAEwYA6DAHMshIAdAAmM4A/9LfhlG5VOADgA4AOACQA4AOAwOgZwOACQA4Mh0AwOjAwKxqxgRGBgRGowIjUBDDAVYxgIjACGuMBVhgIjACGMYCIwAhjGAiNQEMYwEQAIYARGGAgYA5jGAiMYAiMYA4YAiMYwHQYA6ABEYAcAHDAHABwAcAHDAHAB0ADoyAmDAHQYAlnGQ4YAmM4AD/09+WWjlU4AJADgA4AOADgA4MhwGBIAcwyHABwASGQjLDAVy1AQxWAqwwEZagIYYCrFYCMsAIasBDACGGAqwwEMAIYYCGAEMMBzDIQwwEABDDAQGA5hkOACGGAgAOYAcAHABwAcMAcMAcMAcMAcAHABwAczjATAyEsshwAcywAP/ZDWVuZHN0cmVhbQ1lbmRvYmoNMTEyIDAgb2JqDTw8L0JpdHNQZXJDb21wb25lbnQgOC9Db2xvclNwYWNlIDEwOCAwIFIvRGVjb2RlWzAuMCAyNTUuMF0vRmlsdGVyL0ZsYXRlRGVjb2RlL0hlaWdodCAyNjUvTGVuZ3RoIDMwODAvTmFtZS9YL1N1YnR5cGUvSW1hZ2UvVHlwZS9YT2JqZWN0L1dpZHRoIDg2Pj5zdHJlYW0NCkiJzNd5VxpLEwbwa2Ki8b0qxsQILrhEjXpRcA8KbgQUXHDBPd//a9yuXqprerpnY/Keyxn983ee83RVM/z+zT5vb2+vr68vLy/PT09Pj+329fXV1erq6srK8vLyjx9LS4uLiwsLC9/n5+fn5ua+ffs2Njb29cuXL6Ojo58/f/r0qb+/r+/jx48fPnzo7e19/+7du57foeqSTf0q1M9C7QtUn4V6LdSV9NXVAHVMqKM29b2hvgj18f+rfheqcVgetVeoPUolhxVb7RcqqTVU/SHUBaH6B8ut+gcrumod12A16RI41Iir5RrXnodEasgS9Dw8+NRuVuu9X424sOFLwNSH1FRcAlAfqBpxYYNXi6udFBf2XUqqZbV6OqB23tK9Bno6HVDvQ9SY1wBTO6DeJ7xc7Av759QOqPdpXllcvQf1zqmGXVn+a6BHBAX1LvZF6Lxc7Gq3V9ZfQr0D9a579b1XvQP19s+oN2mrdw410aWt1VtQb6KrQZc2UW9BvUE17AvGqbLB+usythrhq+Cvy0tUb0Ftp/EF41FvQD1LR738M+oFqm1QGympF6i2QW38p9ULVNugNlJSW6heg1r/T6stVBug1lNSW6jW/4jKs86mpDZRrYM6m/j11as2I6qRbkKLWgd1tptbm6hNVH+BOtPF99bFn1EvtHqO6i9QZ5KrNaqeoTqTTO1F9cKv1oWaT/yeVatdtLR6huoMUxmb8J2wVqNZz84s6lKIanl/rfGwFhU++XzCt2Km1qjauE5NbdnUPKj5aL9hbOopVbGBfF6rizF/GXH1VKrnoB561OlEv+Kk2rSp+UjqJ6d6StWqR53yDqxT9VzbSgX2nBdL1GlQpxJ8GUj1pNnUahUuggTqB596YlWnQZ2Kf21r9VyO1iFjo6hBVyGqJ1StiGKn4TM1NRn7KiTquU2dsqphK6vVY6JWK3IIuMrYBGpNquc2dQrVGCu7r9VjQPkaMHVEqpydnOxCPbaqk6BGWFm6Bvv7qlhDHfGok3HVfa0eWdVJoUZfrndEPQG1IZarWmGsR52INbD7wKJ6ZFUnY6tlqh4fNRpyDZg6ImdAqBNxBrYMrFYPrepEuNoXrDbkGjA1I9ZAZp2IMbBlySqVs1TlxfKwMUbLr9a1mvGouXBVjVaZs2U1sIy1qhO8gigD2+tQ62q0MpmMR81FHq0yZ8tlNbCHjI2iBo+WVz3malWNViYzLEeLf+yqbQjK6qPValUXm5GjJdRcsKqHwKpWtTpsqNGGANWfLnWaqNmIQ2CqR2KztDqs1Bx7DNU5BMoEFtXtCg6BoWbN0bIPwQZR1WgxtUJVMQS5nEcNHAKl/mQPFru9XcHRGh4mKmOtqnkTbGzY1YouVg6BVCMNAarwwSHY3iLqsCo2l8MKQoZgg7JUrVhUKDZrvwn63eoeDsHWFlGHaFZLsf6vgw3JqgrkEDD1oILqFFXHI+wsUfdEWHFcQhVDMDQkjyuXzTlU47g2JOtTSQVDWEFWVPAt7LiouscePC4W1lHsePhxbegKDHWLqINKzVqL9R3Xhics++BxbR0cONTx0GI3zAqOsNjNA31cg+q4Iqm9G4r1FrvtqWAIw2ZFBWHH5VV5BVrNBFfguwz7DHVDHBeqvNhNog4qddxRgWcPSt6wu+w5QpWFzWCxVB0PKbaEYVUFu/q4RFihDurjyqLqKtZUISwWu5nJmBVksQLfdxfZg1LJrlYdqrsCWmyRhvWpA0QdVOp4eLFFI+zuLnvUdrFiM3hcSs1GUXVYVcHurj4uFXbILHbcXmwfqiWvytgdPK44FehiPzhVVWwmSbFFTwV7WKxUBSuL/ZsW+78w1Qy7ixVsYtghDJvFsGPOq6BIwpasxSapoEjClmzFDhD1b6oGVVD0ViAbYKwudthf7LhWPVdBP1G9FexisVthxXruWDpbRVsFTN3BYpNUUKRhSyWqYrHDfnU8kloyVFrsgK3YLC3WnK2PRX8FYGIFm1jBUIwKigEVbCeuoOiogBY74FPN2TLvLYcKFehi9VUg2Cyt4KslbNFegVFs3AqKQRVsOysYNyoY9VZQ9IbVFexgBQPO2WLsmLWCoq+CPTpbW7SC6LNVdFSwk3i2gF2PVcGgWcE3ewV+tWSdrWHvbIVUsG6twL+08SpYD6ogaLYCK7CoJV+xnnsryrfXuqUC92w5r25jEdbdFYSsV1AFNtVfwUC8CvrXfRWUklZAvhHWCRtzvej7sVHBekCxySuwqvb1Cn4z8rDrKVXgDbsWVIH1tYCGjad2W8Gas4JdXwU+1fnz060aFWw6K5jzh10LLHbH8nLoCZu1h7WqrinQ7wXmz0+rGrEC87eXs4K14ApsPzx8Fcz5wtpVfD/esf7wIGGz1rAuNaiCYa9qCbsWVqzj52eQOgpqYAXen58jWMEkrWDOrCCOupmxhAV3zqzAqdoqyFjC5mxh1xzFOsKOYNjJoLBrZli/unuIIxuuCrbgqoD9/PxpqJ4KJmkFQtVhQ1TOHmIFB5awwM4bYQsRiqVhR3xhJywVFJzFqrB7nrAjyGrVG5apX/yqWQF7jjAsUadoWKOCQmixEdRcdt4bNkAtI3uEFRz4KpjIscejfqVqULEYtmIJC3nnvWELAcclw+55wlaQpaoRthBeAag6LFEJm/WGjaNWuYrstLOCr4GqYNlzrNUDokoWZKEqthB0XBj2GCvArCQsqN89YQuBx+UPW/FUIFiQv3vCFiwVWFUMW9XqtFa9YW0qKZaz7DnWYasYdlqGnfSFja7KsJVq1VRFBTRswXpcFlWFreiw06ICEXaBhrWrPlaqLGxVh52mFSzQsIWQITArqHLVCAvyAg1bCBkCzv7EsKyCatUXVqo6rFUt2lVxXlwVbF6Ghb8FGjZcZSx7TjBsVYfNy7BTZthYqmAPMWzeEpazhbDRApY9Jxi2fohh8zTsAglbCB0CEfYEw9Z12LwKC/IiCRtRJWHrlrCofidq8GjRChjbqB+aYeEzuUhYu2otFsM2MGxXKnxOdNgGhp2RLMCLhI2jyrCNBoaVKo8rwi5YVMdolffL5VMM2zjDsDOUJWFjqSIsU1VYU1XTpdWgIWDsKYZtnGHYGcou6bDxVM42dFihMjYvVRm2EGlgy/v7pxj2TIf9pcKyZ2pJh42s6rBclawKyx6mIutQfcdFwp7BR3SAYSEvqguxVcXKsKDytIz9ocNGV2s67DmG/fUL1bxUgY2nCvb8nKeFsHUZFuQfOqyhOteAqTWtYti6DAvqMqiCjaly9ryJYeuSnfGGJepamFrTqgpbr9elOkPDOtWSXQX2vClZ+GIQYaWqDuyfqCsLag3VpgzbkGE5u4zsP5GXq4Zss6nCNho07PKy6iCRqsMiO8vYZQwbU+VsU4e9BrUu1RVko6v7RG3JsGfXKuzsrFCXE6nAShXYaxV2lrErGNal2gdWqK1mS7FtFVaoKzJsbLWGalOG5WydsSsYNr5aO23BB8OKDqQq2cSqPLC27ADYVaEuJ1JrrdYFhm23RQcNUFdV2CTqKVcF226LDtgjVM4mUWutCxm2CSrvAPKuqrDLSVXVwY0MC7u7imwi9UKowN7IsKBeraoOkqmXGPZGhoWb5upKhU2uCvZWsqBeX6kOEqoY9vZWdADX4rUKu5JUVeytDNuGaxHZLtXWrWTbbVBVB4lVyd7eig5u2nDTqLBdqYy9k2HZAzeNZJOrIuydZOUoyA66UDnL1VtQJcvDdqle3MmwoD4i2416KVTOAvz4KDq46k5l7L1QedynR1Vt1yphnx5VB92pl0JlLHtunpBNol5o9fJehmV/TH2S1aagchbkJ2B52G7VjlB5Dc9PqoMu1U6HsM/PqoNUVMaC/PKsOoj99uZTRVj4e1Fh2ymonIW/F2TjvhU71Huhyg4e01CBhb8XZBOpl4baEerri+qAoEGqY2GV2rkH+RVZpxrpGkCVy1zlrFFAUvUB/r1KNj31Qaiyg9TUh87bG7LdXa+G+qY6SE99eNNsiurvN+yg2+uVqprt7nLxq2/x1IBrAFVkoy1sVFV1kM41gKpk01kCrQo2tdUi6ttr/MH6VwRMBRtLxUwQizCWBqbG4jKVvEyAMBYgwACTWbQADWVuZHN0cmVhbQ1lbmRvYmoNMTEzIDAgb2JqDTw8L0JpdHNQZXJDb21wb25lbnQgOC9Db2xvclNwYWNlIDIwIDAgUi9GaWx0ZXIvRENURGVjb2RlL0hlaWdodCA1MzYvTGVuZ3RoIDEwNzc4L05hbWUvWC9TdWJ0eXBlL0ltYWdlL1R5cGUvWE9iamVjdC9XaWR0aCAyMTk+PnN0cmVhbQ0K/9j/7gAOQWRvYmUAZAAAAAAA/9sAxQACAgICAgICAgICAwICAgMEAwMDAwQFBAQEBAQFBQUFBQUFBQUFBwgICAcFCQoKCgoJDAwMDAwMDA8MDAwMDAwMAQMCAgMDAwcFBQcNCwkLDAwNDQ0NDAwMDA8ODgwMDAwMDw4MDAwODg4TDgwRERERERERERERERERERERERERERECAwICAwMDBwUFBw0LCQsMDA0NDQ0MDAwMDw4ODAwMDAwPDgwMDA4ODhMODBEREREREREREREREREREREREREREf/dAAQAHP/AABEIAhgA2wMAEQABEQECEQL/xAGiAAEBAQADAAEFAAAAAAAAAAAGCQUCAwQAAQcICgsBAAIDAQEBAQEBAQAAAAAAAAMHBggJBAIABQEKCxAAAgAEAAEBAkdRAAAAAAAAAAECETFBIVEScQMEBQYHCAkKExQVFhcYGRoiIyQlJicoKSoyMzQ1Njc4OTpCQ0RFRkdISUpSU1RVVldYWVphYmNkZWZnaGlqcnN0dXZ3eHmheoGCg4SFhoeIiYqRkpOUlZaXmJmaoqOkpaanqKmqsbKztLW2t7i5usHCw8TFxsfIycrR0tPU1dbX2Nna4eLj5OXm5+jp6vDx8vP09fb3+Pn6EQEBAAEBAAEAAY8NAAAAAAAAAgEDMREEBQYHCAkKEhMUFRYXGBkaISIjJCUmJygpKjIzNDU2Nzg5OkFCQ0RFRkdISUpRUlNUVVZXWFlaYWJjZGVmZ2hpanFyc3R1dnd4eXqBgoOEhYaHiImKkZKTlJWWl5iZmqGio6SlpqeoqaqxsrO0tba3uLm6wcLDxMXGx8jJytHS09TV1tfY2drh4uPk5ebn6Onq8PHy8/T19vf4+fr/2gAMAwAAARECEQA/AIBmVjNKtN8Pg8w+Hwdab4fB1D6NTPgqhwakfZwHUPh5zgKofD4KofD4Koc0pHwecbQ7EpHz5zSufPnYlc+fOxK58+dqUj587EpHz52JHz5zSufPnYlc+fOaR8+diUz587Epnz5zSsj585pSPnzsSkfPnNK7PnzmlPHHz5zPnwD/0IBmVucM2sw+H8DqHw+DqHw+CqHw+DrTfD4KocWsQ+CrTcT+ZwFUPqlM/gVQ7EpnwVQ7EpnwWZdiUz5/HYlM+fO1K58+diVz587Ernz5zSmfPnYlPHHz52JTPnzmlY+fOxKyPnzsSsfPnNKR8+diUsefPnNK7PnzmlPHHz52JTxx8+cz58D/0YBmV7OGtN8P5nAdQ+H8zgOofD+B1pvh8FUPh8FUPh8FUPo1PHnwVQ+spYD7OAqh2JWPOcBVDsSsfA1DsSsfBVLsSsfPLtSmfPnNKx8+diVj587ErI+fOxKyPnzsSsfPnNKR8+diUj587EpHz5zSufPnYldnz5zSnjj587Epnz5zPnzljJ8+AP/SgI00ZXs6ah9D4OofD4KofD+ZwHUPh/A6h8P4FUPh8FUOUKufA1DsSnU+CqH1UMsJ8DUOcKuec4CqHZCrnwNw7UpHwVS7EpHzw7EpHz52JSPnzsSkfPnYlI+fOaVz587Ernz52JXPnzsSPnzmlM+fOxKZ8+c0rHz52UPnzklc+fOcmfPg/9OA5lezxqHFo+CqHE+DqHw+CqHw+CqHw85wHUPh/Aqh2JWPgal2JWPgrh2JTwHwNQ5YziUPgrhzhR/M4BqHalc/gNw7ErnwNS7Ernzw5pXPnzsSmfPnYlM+fOxKZ8+diUz587Epnz5zSsfPnYlZHz52JWR8+c0pHz5zSufPnNI+fOZ8+P/UgOZXs+Kh8Pg6h8Pgq03BrEPgqh9D4OofD4GocoVc/mcBVDsSPIVw7Ej4KodqR8DcOyFdafA1DnjOIfA3DklY/mcA1LsSsfwG4diVj4GpdiVj54diVj587ErHz52JWPnzsSsfPnYlY+fOaUj587EpHz52JSPnzkkfPnYlM+fOxKZ8+cz58P/VgOZYs/6h8P5nAdQ+H8CqHw+DqH0amfA1DjLDI+DqHNKx8DUOxI/mcBVLtSP4DUOxKbP4FcO2FXPgbh2Qq58BUuWM3PgbhySufzOAal2JXP4DcOxK58DUuxK588OxK58+diVz587Ernz52JXPnzsSufPnYlc+fOaUz585pWPnzsSsfPnYlY+fOWMnz4D/1oDmWSg1Q+HwdQ+H8zgKofDztAVQ+HwVQ5JTPgrh9UpHwVQ5pHwVQ7UsB9nAFS7EutPOcBVDtSsfwG4diVj4G4diR8BUuWM4lD4G4c0j+ZwDcuxKZ/ALh2JTPgal2JTPnl2JTPnzsSmfPnYlM+fOxKZ8+cz585pSPnzsSkfPnYlLHnz52JHz59T58P/XgOZZKHVD4fBVD4fBVD4fwOofD+ZwDUOxKx/Aqh2SngPgbhyxnDxB8FUOaqfA3DthVz4G4dkKuec4CqXYkfwC4dqR8DcOxLAfAXL64zI+BuHNKSPOcAXLsSkfAXLsSkfA1h2JHz+OxKR8+diUj587EpHz5zSufPnYlc+fOxK58+diVz585pTPnzmfPgD/0IENSMslFah9D4KofD4KofD4KofWGp8FUO2HFPOcA3DshxT+BVDshR8DcOShl18+BqXYlY+BuHYlY+BuHYkec4BuXalNn8BuHYlNnwFw7EpnwFy+ssPEHwNw5pHnOALl2pXPgLl2JXPgc42h2Qq58+diVz585pTPnzsSmfPnYlM+fOxKZ8+cz585pSPnznjJ8+D/0YFmWecKN1Di1iH8CqHE+DqHw+CuHNUPgah2pWPgql2JWPOcA3DsSsfwGpdsKPgbhySlhsfA1LnDinwNw7IT7OAKl2pYDyFcuxUP4BcuxYEfAXDsSwSPgLl9ZSwH2cAXLsSseQLl2JWPgLl2JWPg8uw+fOaUj587EpHz52JSPnzsSkfPnOFXPnzsSufPnKR8+P/SgWZaKRVD4fZwHUPo0eQahxlhkfBVDsVT4K4diqfA1DthPgql2Q4p/M4BuHalgPIFS7UrHwNw+spSSofA3LmlY+BuHakfzOAKl2JTZ5AuHYlhPgLl2JHwFy7Ep4T4G5fWFXP5nDnuXZCrn8AuXZCrnwFy5pHzy7Ej587Urnz52JXPnzmlM+fOxKZ8+diUz585nz4A/9OBZlopTUPh8FUvh8FcPqlPCec4BqHJKR8FUuxUPgbh2LAj4GpdsKoj4Kpdqqec4AuHZDU/gNy7Uj4C4fVKR8DUucJ8BcO1LAfzOALl2LAjyDcuxLAfAXLtSsfOe5cmsQ+A1JckrHnOALl2HwFy7ErHwNY2h2JWPn8diVj587D585pSR8+diUj587EpHz5ykz58/9SBZlophUPh8DUvh8FUOaoj4K4dkp4DznANw5SwyPgal2Kp8DcO2E+BuXbDQ+BqXYqHnOALh2JH8BuXZLBI+AuXKWGR8DcuxLCfAXLsVTznAFy7FU/gFy7YT4C5diR857l9UpTPsgXLkjy57l2wnwFy7IVc+DdkKufPnNLCfPnYkfPnYkfPnYsJ8+cz58D/1YFmWim1Q+HwVw+qqfA1DsVT4KodkNT4G4diUzznANw5JSPgal2pWPgbh2JUR8Bcu1VPgbl2Kp5zgC5dsJ/AblzlPDiHznuX1hPgbl2qh8BcuxUPOQLl2JYD+Oe5dqVj4DUlzawY4+AuXxI/lYc9y7UrH8c9y7ErHwNYdh88uaR8+diR8+diwHz52JYD5854yfPg/9aBZltnCnlS+HkKocoT4K4dkJ8BcO2Gh8FcuxUPgbh2JTkjznAFy5JYccfA3LthPgbh2QnwFy7IaH8BuXaqHnOHPcuxUPgblyalQ+c9y5pWPgbl2rCz+Zw57l2Kp5A1JdkNT4C5diqfOe5fWWGZ859SXOGp5yBcu2FXPnPeHNVPgs4diqfPnYkfPnYlNnz52JTZ8+cz58D/14GtYhluqFUuJ/M4CqXNUPINS7FRHwVw7UrHwFy7VVHwNS7YT4G4c5YJnkC5clQ+BuXYqI+AuXalRHwFy7FU/mcAXLtVTyBcuxKZ8BqS+qWE+AuXZCfAaku2Gh5zgC5diofxz3LnCfOfUl2JYD4C5fVKSP5nDnuXYsB/HPqS7FQ+ArDsVD55diwI+fOxLAfPnYlJHz5ykz58/9CB5luqRcOLV0fA1LkrI/mcBVLtVUeQbl2Kp8DcO2E+AqXaqHwNy7VZH2cA3Lk0eQLlzVT4C5dkNT4C5dsJ8BcuyE85wBcu1UP4BcucsB857lySsfAXLsSoj7OHPcuw8AakuxKx8BcuxVPnNcuUsJ8BqS5I85c9y7VU+c94diqfBOaws+fO1I+fOZ8+dh8+AP/RgeZbqnVD6qqPgbhylhmfA1LnCfzOAal2QnkG5dsNMefA3DtVkfAXLtVT4G5diP5WALlySlM/gFy5wnwFy7VQ+c9y7FRH8BuXalY8ue5dqqfAakvrLCfOe5dkJ8BqS5qp5zhz3h2wn8c+pLshPnPqS7EsB8BcvkJ/M4c9y7IT+OfUl2w0PnPWHOE+fx2Qnz52Q4p8+cpHz4D/0oHmW6qly+sNT4GpdsJ8BcuUpKZ8Dcuaoec4BuXbDY/gNy7YanwFy7YT4C5dkND4G5dksB5zhz3L6qiPgLl2qyPgLl2qp8BcuyGp/M4c+pLthPIFy5pYGfOfUlyVD4C5c4T7LnuXaqHhz6kuxUPnPeHafOe5fJS6+fOfUl2JWPLn1Jdh857w7ErHwbsPnzmkfPnafPj/04HmW6rNy5QnwNy7VQ+BuXYqHwFy5Sk0j4G5dsJ5yBcuyE/gNy7VQ+c9y7FRHwNy7VZH2cAXLlLCjy57lzhqfAXLthPnPcuyE+AuXaqHjLnuXYqI+AuXJqR857w5KiPnPqS7VZHnIF4dqqj+Oe8OZ859SXZKfXj5z3h9VU/lOe8OxVP45rw7FU+BrDsVT5/HYqnz5zPnwP/UgeZcZwq9UuaofwG5dioj4G5dqqj4C5diUz4C5coT+ZwDcu1UPIFy7VY+A1Jdiqj4C5dqqfAXLsSnM85w57l9YbnwFy7YaHzn1JdiofAXLtVkfynPqYdqqjyBeHJqZ859SXJVPnPcuyGp/Mue8O2E8ufUw5w1PnPeHbCfOe8PqlKZ9lzamHOE8ufUl2QnznvDshPnl2Qnz5yPnwD/1YHmXSsdy5qiPOcA3LuVUfwC5diqfA3LthPgNSXOWBM+AuXNWR5zgC5dqqj+AXLsVT4DUl2wnwFy7IT7OHPqS5ywTxTy57w5KiPgLl2qx857w7VU+AvDshqeHPeHYqnzn1MPqlhZ857w7IT5z6mHaqHnLnvDnCfxz3h2qh859TDk1gR859TDkqHnLmvDsVD5z3h2Kh8E7FQ+fOaSkfPg/9aB5l0rPcu1VR/Abl2Kp5yDcu2E+AuXZCfAXLuSsfAXL6ywn2QLl2Q1PAFy7YbnwGpLshPnPeHaqHwF4dksEjznDn1JclU+AvDsVT5z6mHbCfOe8OyE8059TDshufxz3hylc+c94c1Q+c+ph2Kh/Kc94dioeXPqYdqsj5z6mHN0PnNeH1VkfynPeHYfxzamHYrHwNY3q7D5/HYfPgD/14ISk0ZdK2XLsVT4C5dsNT+ZwDcuyG55AuXbDQ+AuXcqo+A1Jc5XxD5z3hyhPOcAXh2Qn8AvDtVD5z6mHaqI+AvDtVUfZc+ph9ZYTy57w7IT4DUw7IT5z3h2qh/MufUw5w0PLnvDs2SfOfUw5Kx857w7D7LnvDsVkeHPqYdqqfOa8OxVR857w+qWE+y5tTDmqo8ufUw7FU+c94diqfPLmfPg/9CCcpmXSuFy+sNT4C5dsNz4C5dkNDxnAN4dsNj4C8O5VPgLw7IT5z3LklKZ/M4AvDsVDyBeHYqI+c+ph2qqPnPeHaqnwF4c5dYecua8OUJ8BeHaqHzmvDsVEfAXh2Kh4y57w7VY+c+ph9ZYT5zXhzR859TDtVTzlz3h2Q1P457w7FU+c2phylhmfOfUw5Q1PLm1MO2G5857w7IT4NyPnwD/0YKKpl0rpcuUsMz4C8OcJ8BeHaqH8zgC8O2Gx5AvDthqfAXh2w3PnPqYcrTPgLw5qh5y57w7VZH8AvDtVT5z3h2Q1PnPeHbDc/lOfUw+qP457w7FQ+c+ph2nznvDmqI8059TDtVUfxz3hzuj5zXhyVT4DUw7IanmnNeHbDc/jn1MOyE+c2phzlgmfOfUw+sNz+U57w7IaH8c14dkJ8DlyPnw/9KCkNTLpXe8OxYZnwF4coaHwF4diofAXh2w2PGQLw7YanwF4dsJ8BqYdiWA+c14fVUR/KAvDtVUeQLw7VU+c2ph2wnwF4dkJ9nYc+phyPLnvDmqI+c+ph2nzmvDsVj+Z2HPqYdqqeXPeHM+c+ph9VU+c+ph2wn8pzXh2Qnlz6mHZDc+c2ph2KjPnPeHyE/lOa8O1UP459TDnDQ+ArZcj5/A/9OCkNTLpXq8O2G58BeHI+AvDmqHwF4d0NTzQF4dsNz+AXh2Q0PnPeHaqHzn1MPqfZc94dqqjwBeHZDU+c+ph2w3PnPeHZDQ+c94c7I8ue8Oaoj5z6mHYfOa8OxVR8BeHaqnhzXh2K+OPnPqYfIanznvDthufZc2ph2Q0PDn1MOyE+c2ph2qh85rfFfHn2dhz6mHYqHlzamHYqHwFvqfPID/1IKQ1Mu6V9vDthufwC8Odj4C8OSoj5z3h3Q1P5kC8O2G55AvDshofOe8O1UPnPqYcnbHHznvDsVTzkC8OyGp/HPeHbDc+c94dkND5z3h2bJPOdlzamHJWPgLw7D5zXh2KqPnPeHaqnjOy57w7Ybnzm1MPiqz5z3h2Q3PnPqYdkNDw5tTDshofOe3aqHzmvD4rnzm1HYqI8ufUw7FQ+c1uUpnzyD/1YKQ1MvM7BAXh2w3PLnvDsVD4C8OSoj4C8O2Gp857w7YbnjIF4dkND5z3h2qh8BqYc3Q+c14c1U80BeHZDU/jnvDthufOa8OyGh8BeHaqH8pzamH1Vj+Oe8Ow+c+ph2KqPnPeHaqnmnNqYdsNz+OfUw+uymfOa3OG5859R2Q0POdlz3h2Q0P45rw7VQ+c2pjer6nzn1MOaojy5tR2Kh85rfWZ88A/9aCkNTLwgrw7Ybnlz3h2Q0PgLw5HwF4dsNT5z3h2w3PNbLnt2Q0P4BeHaqHznvDst14+c1uSqj+UBeHZDU8ue8O2G5859TDshofOe3aqH8pz6mH1P45rdh859TDsVUfOe3aqnmnNqOyGp/HPblfrx85rc4bnzn1HZDQ8057dkJ/HNqYdqofObUfWx859RzVDznZc2o7FQ+c1vqfBv/XgpDUy8IS8O2G55zsue3ZDQ+AvDnZHznvDnDY+c94dsNTzQF4dsNz+Oe8O1UPgLdioj5zW5XP5nYc94diqeQLdsNT5zajshPnPbtVD7Ow59RyZ5c1uZ859TDsVj5z27VU/lOfUw7IanlzW5XR85rc4T5z6jshP5Tn1HZDc8ubUdkND5zajnbr5859RyVDznZc1ucND5zW5HwQ/9CCiqZeELeHbDU/lOe3ZCfwC3OyPnPeHOGx8Bbthqfythz27Ybnlz27IaHwFu1UPnNqbL63Psue3aqnhz27Ianzn1MO2G5857dkND7Ln1NhyxDy5rdiPnPqOaoj5z27VVH8zsObUdqqeXPbk7Hzm1NlyhqfOfUdsNz+U5tR2Q1PLn1HZCfObUcrHzm1HKGh/Kc9uyG5/HLbkfBZAP/RgoqmXhDW7Ian8pz27Ybn8Atzt18+c9uUNj5z27lU/mdgC3bDU8ufUdkJ857dqofOfUfU+c9uxWPDn1Haqnzn1HZDU+c1u2G5859Rzsjy57clRHzn1HYqHzm1HaqI/mdhz6jtVUeXNqOTPnPqOSqfObU2HZDU/lOe3YqnlzajthPnNqOR859TYcobn8pzW7Ian8c2o5HwOQD/0oJqqMvCHt2qp/Kc9uyGp/HPbssz5z25Q0PgLdyqj+Z2HPqOxVPLnt2wnwGo7IT5zajkfOfUc1RHhz27VVHzn1Haqnzmt2wnwGo5HlzW5qh859TYc4T5zajtVD+Z2HPqO1UR5c9ubofObUfVWZ85tTYdqqfynPbmqnlzajtVT5z6jmfObU2H1VT+U5rdiqfxzW5nwOT/04JmXhD27FVH8pz27VU/jnt2Yp857fWE+A1HcrH8zsOfUdqqjy57diqfAajthPnNqPrdnzn1HYqHhz27FRHzn1Haqo+c9u1VPnPqOZ5c1uUNz5z6mw7IT5zajshP5nYc+o7VQ8ue3PZJ85tR9VQ+c2psO1WP5Tnt2Hlz6jsVmfObUc3Q+c2psPqrM/lOa3YfxzW7D4HI/9SCZl4Q2o5qiP5Tnt2qqP4BbsPnPblCfOe3aqH8zsAajtVjy57dqqj5z27FU+c+o5XZ859RzhPDnt2qh859R2KiPnNbtVmfAajm6o8ua3KGp859TYdiqfObUdsNT+Z2HPqOyE8ue3Ox85tR9YT5zamw7VQ/lOe3YqI8ubUdiofObUc9knzn1Nh9VQ/lOa3YqH8c2o5p4D4HIP/VgmZeELeXNUP5QFuxUR/HPeXY7HzntyVT4C3bCfzOw57dqoeXPbsVEfAXl2qx85tTZctlH2XPbnDU8Oe3bCfOfUdsND5z27FQ+y59TYcnY8ua3NVR859R2Hznt2qqP5nYc+o7FU8ua3M+c2psvqqnzn1HbCfynNqOyE8ufUdkJ85tRzngkfObUfWE/lOfUdkJ/HNbkfA5AP/WgmZeEJeXKE/lbLnt2w0P4BeXJ0R857y5qzPgLd0J5pz3l2Qn8At2w0PnPbsVD5zXl9Z3P5nYc9u1VR5At2Kp85tR2wnznvLshPs7Dn1HKfWHlz25qh85tTLtPnPbmqI/lOfUdqdzy5rc26Hzm1MvqfOfUdqqj+U57diqeXNqOxVPnNqZcz5z6j6qp5zsua3YqnzmtzPggP/XgmZeEFeX1hqecgXl2wnznvL6zrxB8BeXYqHznt2w2PNAXl2qp/HPeXbCfAamXYqM+c15fVUP5TnvLsVEeQLdqsz5zamXaqo+c95diqfythz6j6p4Wfxz27IT5zamXbDQ+c9ucJ5pz6jthofxz3lybwI+c15clQ+c2o7FQ8057diofxzamXafOfUy+roj5zajmec7Lm1HNUPnPbsWFHwQ/9CCZl5kgLy+qqeQLy7FU+c95fVVPgLy7IT4C8u2E8Zc95dqsz4C8u1VPnPqZc59afOa8uUJ5oC8uyE/jnt2qh859TLsVD5z3l2qzP5Tm1Mvqnhmfxz3l2Kp859TLshqfOe3YqnmnNqZdkNT+OfUy5TwyPnPbnCfObUdkJ5zsue3ZCfxzW7IT5z6mX1nhkfObUy5w4h5y5tR2QnzntyPgwD/0YJmXdK/Xl8P457y5zwTPgLy5KqPgLy7FU/mQLy7Ianlz3l3Kh8BeXYqI+c+plzbofOe8uaqec7LnvLsVT+AamXbCfOa8uyE+c95dieBnnOy59TL6qh857y7FRHzm1Mu1O58BbsPOdlzamXYnRn8c+pl9Z4Znzmt2Kp859TLmeXPqZdidz+Oa3aqnzm1MvjeE+c+plzTueXNqOw+c9uw+eD/0oJmXWVe7y+HwF5fJ2xD4C8uaofOe8u1O55oC8uxWZ/ALy7oT4C8uyE+c2plynPrx8BeXNUPDnvLtTufOfUy7E7nznvLtVT4C8uc+tPLmvLlCfOe8uyE+c95dkJ857y7VQ8Oa8uaZ859TL6w0PnPeXYqHzmvLsWFHhz6mXYqHznvLsVD5zW+JzPs7Dm1MuaZ5c2pl2p4D4C31mfPIP/TgmZdK8Xl8PgLy4p4cefAXl2QnwF5dkJ5yBeXaqH8c95dsLofAXl2pyPnPeXyGp/Kc95dsJ5AvLshPnPqZdqofOe8uxUPsufUy5N0PLnvLmnc+c+pl2Kp857y7VU/mdhz6mXYqnlz3lznI+c2pl9VgZ857y7E8J/M7DmvLsTPLn1MuxYGfOfUy7E5HzmvL4nhP5TmvLsWA/jn1MuxM+ArZcz5/AD/1IJmXSul5cYnY+BvLij4C8u1VP5kC8uxVPIF5dsJ8BeXZCfOfUy7G8CPnPeXJOjPOQLy7E6M/gF5dqqfOa8uxVPgLy7YWfynPqZfE6n8c95dkJ859TLtVD5z3l2Kh5pz6mXYngP457y5N0PnNeXJUPnPqZdiZ/Kc95dqdzy5tTLsPnPqZcp4D5zamX1TmfynPeXYnNH8c15c07HwOdlzmz58/9WCbwGXSuN06z4C6fD4C6c1Q85yBeXanc/gF5didGfAXl2qp857pyTnM+yBeXOE8AXl2qh8BqZdiofOa8u1O58BeXNvBM85c95fVO5857y7Uz5z3l2Kp857y7FU852XPeXbCfxz6mX1Tws+c95clU+c+pl2J4TznZc95diZ/HNeXbC7Hzn1Mvq3Jnzm1MuScmecufUy7E5HzmvLmfBuw+fA/9aCDczLpW26fQ+Aunw/mcgXTlCeQbp2QnwF07YaHwGpTnPAfOe6coXRnmsgXl2qp/ALy7FU+c+pTthPgLy7IcQ+y59TLlO2IeXPeXKE+A1Mu1PAfOa8uxYUfzIGpl2JnlzXl2TwTPnPqZfVO58BeXYfZc15c05o8OfUy7Ez5z3l2p3PnNeXyc8J9lz6mXNM8ubUy7Ez5z3l2JzPnl9Znz4A/9eB5l0rRdPh8DdPh4zkC6fEfA3TtVT4C6diqfOe6fVPCfAXTshxDwDeXaqHznunYngPgLy7U7nwF5dk5YT+U59Sn1Tufxz3l2Jnzn1MuxOTPgLy7E8J5pz6mXYmfxz3lznbFPnPeXKF2PnPqZdkLsfynPeXNOR5c2pl2JyPnPqZdicj5z3l8TkfynNeXNYD+OfUy7E7nwFZdidz5/HYfPj/0IHmXSsl0+HnOQLp8P4DdPh8DdOaofAalOc8B857pyTueayDdOxO5/ALp2wvrT5z3TthPgLy7IcQ+AunKdjy57y5QnwF5dqofOe8uxUPgLy7E5o8Zc107Ez4DUy+s54T5z3l2J3PnPqZdidzzlz3l2LCfxz3lzTmfObUy5NzUj5z6mXJOZ5zsue8uxOZ85ry5p2Pgsuadj585nz4/9GB5lznKr90+HkG6fD4G6fD4C6fVOR8BdPqnhx5/M5AunZDiHkG6dkOIfAXTshZ857p3J3Pgbp2TufysufUp8nhmfwC8uxO5859SnamfOe8uxOR/M5A1KdicmeXPeXOcuvnzn1MvqnhPgLy7Ez7LmvLsTPAGpl2JnznvLmnI+c15fWeGZ859TLmnc8ufUy7E7nznvLsPnhzTmfPnPGj58D/0oHmW6rVU+HwNU+HwN0+HwF04NnwF05p3POcg3TsTufwG6didz5z3TtTPgLp2wux9kG6cp2PLnunKF2PgLp2Qux857p2JnwF07UzxnLnunYngPgLp9Zz68fOe8uacz5z6mXYnM8057y7E5n8c+pTsTmfOfUpzng4k+c95fE7H8pz3l2J2P459TLmmfAVl2JyPn8cz585zR8+AP/TgeZbqq1T4fA3T4fAXbi3Y+BqnE85yDdOULsfwG6dkLsfAXTshdj4C6diZ8BdOxPBjjznIF05J3PgLp2J3PgNSnYnc+c907E7n8zkDUp2J3PIF07Jywnzn1KfVOR857y7E5HznunYnI8AXlzTufOe8uxO5857pybwnzn1Kcjzlz6mXNOZ857y7E5nwTmmfPnYnY+fOR8+AP/UgeZbqn1T4fA3b6NyPgbpwP5nIN0+HkG6fD4G6didz4C6didz4C6didz+ZyBqU5Tw8QfwC6dkLPgbp2Qux857p2Qux8BdOyF2PGcgXTshdj4C6fWdsQ+c95c4XY+c+pTshdj+VkC8uyF2PLn1Kdidj5z6mXNOR857y+qZ9lz3TmmeXPqZc1gPgLy7E7o+eXYnc+fOacz58540fPj/1YHmW6pN2+jcj4GqcD+ZyFdPh5Bqnw+Bunw+AunKF2Pgbp2Qux9nIN05TseXPdOSdj4G6dsLPgLp2p3PgLp2J3PNZA1Kdidz+AXTnPBO5857p9U7nwF07E7nznunNO54AunYnM+c95dicz5z6lOTcz4DUpyTnjzznLnunYnM+c95c07HwOXNOR8+dicj585p3R8+c5o+fP/Wgc3Iy3VDq3A/mchVb4eQbp8Pgrt8PgLt8Pgap8PgbpznLCec5Aun1TufA3TsTufAXTsTufAXTtT7kfzOQLp2JyPIF07E5Y4+Aun1nh4g+AunNOR8BqU7E5HnOXPdOxOR/ALp2JyPnPdOc5YT5z3T6p3Ps5AunNO6PLn1Kdidz5z3lzTmfPLsTmfPnJM+fOxOR8+cz58A/9eBZltnKntU+HkKqfD4K7fD4C7fD4KqfD4G6fKH8zkC7cU8OE/gNU7IXY+BunYnY+AunYnY+BunYnY85y57p2pzP4DdOU7XPnPdOScz4G6c07H8zlz3TsTseQLp2J2PnPdOxOx8BdPrOx859SnJM85yBdOxOR857y7E5HwOcuadz587E7o+fOacz585p2Z8+cpnz4D/0IFmWim9U+HwVW+HwN2+HwVU+HwNU+H8zkG7cG5n8Bqn0PgbpzTmfAVTsTmfA1TsTmec5AunYnM/gN07FFLDc+c90+qdz4G6didz5z3TsTujznIN07E7n8c907E7nwGpTnPBO5857p8Tnjz+ZyBdOxM/jn1Kc07HwF5didj55c05Y4+fOxOR8+c07o+fOacz585TZ8+A/9GBZlopjVvh8DVvh8FVPh8FVvh/M5Bu3BuZ/Aap9D4G7fD4G7fVOR8DdOxOR/M5Bu3YnI8gXTmnLDY+Au31nhmfAXTsTPgdSnYnI/mcgXTsTkeQLp2JyPgLp2JyPnPdPk8M1Q+AunNO55y57p2J3PgLpzTmfBZy7E5nz5zTsz587E7Hz5zTkfPnNPEPnznNHz4A/9KBZlopVVvh8FVvh8FVvlD+ZyDduDcz+BVb6HwN2+HwN2+HwNU+H8zkG7ck7HkGqdidj4G7fXGp4D4C6c4XY+AunYnY/mcgXTtTPIN05p2PgLp2J2PnPdOWNWPgLp9Uz+ZyBdOxOR/ALp2JyPgKy5p3R8/jsTufPnNOZ8+c0z587E7M+fOacj585nz4/9OBZlopJVvh9tIVW+jcjznINW4TmfBVb4fBXb4fA3b4fA1T4fzOQrt8PIFU+HwN2+uNTofA1Tknc+Bu3YnM+zkC6diczyBdOxPuZ/ALp2p3Pgbpzng4k+AunxOdan2cue6c0zyBdOxOx8BdOaZ88OxOR8+c0z587E7o+fOac8efPnNPFPnzmmfPnM+fAP/UgWZZ5yo7Wo4t4h/AqtxPgqt8Pgrt8Pgap8Pgqt8P5nIV2+HkCqfD4K7cW7HwF0+icj4G7dicj4G6c05HnOQap2J3P4BduxO58BdOxO58BdPrPDM+AunNO6PIF05pzPgLp2JzPgs5c07Hz52J2Z8+c05Hz52JyPnzmndHz5zTmfPnNPFPnzlM+fD/1YENzMslFqt9D4KrfD4KrfD4KrfD4KqfD+ZyFdvh5Bqnw+Bu3FvEPgatxPgrt8PgLtyTsec5BqnYnY/gN25pyPgLt2JyPgLp9caxKHwN25p9yPOcgXTsTkfAXTmnc+BrLsTuj5/HNOePPnzsTnjz585p2Z8+c05Hz5zTxD585pnz52Jzx58+cps+fP/WgOZZKH1b4fBVb4fBVb4fB1b4ec5Bq3w/gVW+HwVW4t2R8DVOJ8Ddvh8Ddvh5zkGqfD+A3bmnM+BunNM+Au3LGrHwN25Jn8zkCqc05H8Au3amfA1TmnLHHzy7E5Hz5zTuj585pzPnzsTnjz585p2Z8+c05Hz5zTuj585pzPnzlNnz4P/XgOZZKD1b4fB1b4fzOQ6t8P5nINW+H8Dq3w+Bq3BuZ8FVPofBVb4fA3b4ec5Bqnw/gN2+HwN2+HwN25Y1iVPgLt9U5n8zkGqdiZ/ALtzTsfA3TmmfPDtTsz585pyxx8+dicj585p3R8+c0548+fOadmfPnNOWOPnzmniHz5zTmfPnPGj58P/QgOZZKA1b4fzOQq1Hw8hVb4fB1b6NyPgqtxbmfBVb6HwVW+H2cg1b4ec5Cqnw/gN2+HwNW+HwN2+jcsefA3binI/mcgXTmndH8Bu3NOZ8DdOxOZ8G5p2Z8+didmfPnYnZnz5zTljj587E5Hz5zTxD585pzPnzmninz5zTkfPnNO6PnzljXEHz4P/RgOZYZyz5q3w/gdW+HwVW4t4h8FVuJ8HVvh8FVvh/M5Cq3w/gVW+H8Bq3w+Bu3w+Bu3FvEPgbtxP5nINW+H8Bu31TkfA1TmndHwecuxO6PnzmnM+fOadmfPnYnZnz52Jnz5zTkfPnNO6PnzmnM+fOaeKfPnNOR8+c07o+fOWNHz4A/9kNZW5kc3RyZWFtDWVuZG9iag0yMCAwIG9iag1bL0RldmljZU5bL0N5YW4vTWFnZW50YS9ZZWxsb3ddL0RldmljZUNNWUsgMjUwIDAgUiAyNTEgMCBSXQ1lbmRvYmoNMjUwIDAgb2JqDTw8L0RvbWFpblswLjAgMS4wIDAuMCAxLjAgMC4wIDEuMF0vRmlsdGVyL0ZsYXRlRGVjb2RlL0Z1bmN0aW9uVHlwZSA0L0xlbmd0aCAxMDAvUmFuZ2VbMC4wIDEuMCAwLjAgMS4wIDAuMCAxLjAgMC4wIDEuMF0+PnN0cmVhbQ0KSImqNlLIzEtJrVAw1DMAA4XksiKF1IrkDIXi0iQFEwVDhaL8nBwghU8ZF1ydAZHGwaRBIlxgIXMFXXRJFL3mML1mmAq5UFSawVSaEjDSFG65CQGVcIcX5BfAcS1AgAEAzH9Y9A1lbmRzdHJlYW0NZW5kb2JqDTI1MSAwIG9iag08PC9TdWJ0eXBlL0RldmljZU4+Pg1lbmRvYmoNMTA4IDAgb2JqDVsvSW5kZXhlZCAyMCAwIFIgOTMgMzAzIDAgUl0NZW5kb2JqDTMwMyAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDE2OT4+c3RyZWFtDQpIiRzKR24DQRQDURb5uydJGgXnJNv3P6QbBmr1UM6v8+N8O3f7y/60P+x3+81+pTZyIzs5kSM5kCErfsHP+Ak/4gd8w1d8wWe84xM+4gPe8JgXuMIFzrDDCY5wgA1WWDR3zU3TqNRLbRTVqlpUs2pSdVVTlWq4lVVZlFmZlK40pZQolhd5lie5y00uOfJwxCwm0UUTJSIshkvqUpNKimT9058AAwDOAQUqDWVuZHN0cmVhbQ1lbmRvYmoNMzQgMCBvYmoNPDwvQW50aUFsaWFzIGZhbHNlL0NvbG9yU3BhY2UgMTUgMCBSL0Nvb3Jkc1swLjAgMC4wIDAuMCAwLjAgMC4wIDEuMF0vRG9tYWluWzAuMCAxLjBdL0V4dGVuZFt0cnVlIHRydWVdL0Z1bmN0aW9uIDI0MCAwIFIvU2hhZGluZ1R5cGUgMz4+DWVuZG9iag0zNSAwIG9iag08PC9BbnRpQWxpYXMgZmFsc2UvQ29sb3JTcGFjZS9EZXZpY2VDTVlLL0Nvb3Jkc1swLjAgMC4wIDAuMCAwLjAgMC4wIDEuMF0vRG9tYWluWzAuMCAxLjBdL0V4dGVuZFt0cnVlIHRydWVdL0Z1bmN0aW9uIDI0MSAwIFIvU2hhZGluZ1R5cGUgMz4+DWVuZG9iag0zNiAwIG9iag08PC9BbnRpQWxpYXMgZmFsc2UvQ29sb3JTcGFjZSAxNiAwIFIvQ29vcmRzWzAuMCAwLjAgMC4wIDAuMCAwLjAgMS4wXS9Eb21haW5bMC4wIDEuMF0vRXh0ZW5kW3RydWUgdHJ1ZV0vRnVuY3Rpb24gMzA0IDAgUi9TaGFkaW5nVHlwZSAzPj4NZW5kb2JqDTM3IDAgb2JqDTw8L0FudGlBbGlhcyBmYWxzZS9Db2xvclNwYWNlIDIwIDAgUi9Db29yZHNbMC4wIDAuMCAwLjAgMC4wIDAuMCAxLjBdL0RvbWFpblswLjAgMS4wXS9FeHRlbmRbdHJ1ZSB0cnVlXS9GdW5jdGlvbiAzMDUgMCBSL1NoYWRpbmdUeXBlIDM+Pg1lbmRvYmoNMzA1IDAgb2JqDTw8L0JvdW5kc1tdL0RvbWFpblswLjAgMS4wXS9FbmNvZGVbMC4wIDEuMF0vRnVuY3Rpb25UeXBlIDMvRnVuY3Rpb25zWzMwNiAwIFJdPj4NZW5kb2JqDTMwNiAwIG9iag08PC9CaXRzUGVyU2FtcGxlIDgvRGVjb2RlWzAuMCAxLjAgMC4wIDEuMCAwLjAgMS4wXS9Eb21haW5bMC4wIDEuMF0vRW5jb2RlWzAuMCA2My4wXS9GaWx0ZXIvRmxhdGVEZWNvZGUvRnVuY3Rpb25UeXBlIDAvTGVuZ3RoIDE3NS9PcmRlciAxL1JhbmdlWzAuMCAxLjAgMC4wIDEuMCAwLjAgMS4wXS9TaXplWzY0XT4+c3RyZWFtDQpIiQTBDUcDUBgG0Pt+Pu+9konJRCYxyUwkyUzGTJJMkmxmJtMkyyZb2v77zomyi7KN8o/yh7JBWaP8Iq+Ql8g/yAvkb+Qvz3OPT4+Zx4fH1GPiMfYYOYaGd8Ob4dXwYhiYP5s/mT+qP6j31XtqXbV7tY5aW+1O7Fb0RvRa9Eq0JdoUvWS5YGmwnLOcsdSZT5lPmGvEx8RV4iOiCtEh0QFRToSULCVOKe0FGACEjxNFDWVuZHN0cmVhbQ1lbmRvYmoNMTYgMCBvYmoNWy9EZXZpY2VOWy9DeWFuXS9EZXZpY2VDTVlLIDMwNyAwIFIgMzA4IDAgUl0NZW5kb2JqDTMwNCAwIG9iag08PC9Cb3VuZHNbXS9Eb21haW5bMC4wIDEuMF0vRW5jb2RlWzAuMCAxLjBdL0Z1bmN0aW9uVHlwZSAzL0Z1bmN0aW9uc1szMDkgMCBSXT4+DWVuZG9iag0zMDkgMCBvYmoNPDwvQml0c1BlclNhbXBsZSA4L0RlY29kZVswLjAgMS4wXS9Eb21haW5bMC4wIDEuMF0vRW5jb2RlWzAuMCA2My4wXS9GdW5jdGlvblR5cGUgMC9MZW5ndGggNjQvT3JkZXIgMS9SYW5nZVswLjAgMS4wXS9TaXplWzY0XT4+c3RyZWFtDQozMzIyMjExMDAvLy4tLSwrKyopKSgnJiYlJCMjIiEgHx4dHRwbGhkYFxYVFBMSERAQDw4NDAoJCAcGBQQDAgEADWVuZHN0cmVhbQ1lbmRvYmoNMzA3IDAgb2JqDTw8L0RvbWFpblswLjAgMS4wXS9GaWx0ZXIvRmxhdGVEZWNvZGUvRnVuY3Rpb25UeXBlIDQvTGVuZ3RoIDkzL1JhbmdlWzAuMCAxLjAgMC4wIDEuMCAwLjAgMS4wIDAuMCAxLjBdPj5zdHJlYW0NCkiJqjZQyMxLSa1QMNQzAAOF5LIihdSK5AyF4tIkBSMFQ4Wi/JwchDQ2ES6cikwVdNHlUMw3BSrkAsubEFBpAjPSGFMhF4pKY5hKIwJGGsEtL8gvUKgFCDAArsJHsQ1lbmRzdHJlYW0NZW5kb2JqDTMwOCAwIG9iag08PC9TdWJ0eXBlL0RldmljZU4+Pg1lbmRvYmoNMjQxIDAgb2JqDTw8L0JvdW5kc1tdL0RvbWFpblswLjAgMS4wXS9FbmNvZGVbMC4wIDEuMF0vRnVuY3Rpb25UeXBlIDMvRnVuY3Rpb25zWzI1NiAwIFJdPj4NZW5kb2JqDTI1NiAwIG9iag08PC9DMFswLjE0NTU0MSAwLjAgMC4yNTkwNjggMC4wXS9DMVswLjAgMC4wIDAuMCAwLjBdL0RvbWFpblswLjAgMS4wXS9GdW5jdGlvblR5cGUgMi9OIDEuMzMzMTU+Pg1lbmRvYmoNMTUgMCBvYmoNWy9EZXZpY2VOWy9NYWdlbnRhL1llbGxvd10vRGV2aWNlQ01ZSyAyNDYgMCBSIDI0NyAwIFJdDWVuZG9iag0yNDAgMCBvYmoNPDwvQm91bmRzW10vRG9tYWluWzAuMCAxLjBdL0VuY29kZVsxLjAgMC4wXS9GdW5jdGlvblR5cGUgMy9GdW5jdGlvbnNbMjU3IDAgUl0+Pg1lbmRvYmoNMjU3IDAgb2JqDTw8L0MwWzAuMCAwLjBdL0MxWzAuMjA3NSAwLjEzNV0vRG9tYWluWzAuMCAxLjBdL0Z1bmN0aW9uVHlwZSAyL04gMS4yODIwMz4+DWVuZG9iag0yNDYgMCBvYmoNPDwvRG9tYWluWzAuMCAxLjAgMC4wIDEuMF0vRmlsdGVyL0ZsYXRlRGVjb2RlL0Z1bmN0aW9uVHlwZSA0L0xlbmd0aCA5Ni9SYW5nZVswLjAgMS4wIDAuMCAxLjAgMC4wIDEuMCAwLjAgMS4wXT4+c3RyZWFtDQpIiao21DMAAwVjBUOFovycHCCVmZeSWqEAl0kuK1JIrUjOUCguTUIoM4Aq4yKgDtMCMwVddDkuFL1mMJWmmCpRFJoCFXKB5U0IqDSBGWlMyHK4MwvyC8C4FiDAABJgUFINZW5kc3RyZWFtDWVuZG9iag0yNDcgMCBvYmoNPDwvU3VidHlwZS9EZXZpY2VOPj4NZW5kb2JqDTMxIDAgb2JqDTw8L0Jhc2VGb250L09EUU5GVCtWZXJiTGlnaHQvRW5jb2RpbmcgMjYxIDAgUi9GaXJzdENoYXIgMjkvRm9udERlc2NyaXB0b3IgMjYyIDAgUi9MYXN0Q2hhciAyNTMvU3VidHlwZS9UeXBlMS9UeXBlL0ZvbnQvV2lkdGhzWzcxMiA1MjAgMzQ0IDI3OCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDIzOCAwIDY0NyAzNDggNTY5IDAgNjEwIDAgMCAwIDAgMCAyNDEgMCAwIDAgMCAwIDk2OSA2NzMgMCA2MzkgNjk2IDU4OSAwIDY5NyA3MDUgMjY4IDI2OSA2NDAgNTQzIDAgNzIxIDczMCAwIDAgMCA1OTUgNTYyIDAgNjcxIDAgMCAwIDAgMCAwIDAgMCAwIDAgNTcxIDAgNTIwIDU5OCA1NzIgMCA1OTggNjAwIDIzNyAwIDUxMyAyNDggOTE1IDYwMCA1OTkgNTk4IDAgMzc3IDUwNSAzNzAgMCA1NDkgODEwIDAgNTUwIDQ5OSAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgNjIzIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDIzOSAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCA1NTBdPj4NZW5kb2JqDTMwIDAgb2JqDTw8L0Jhc2VGb250L09EUU5GVCtWZXJiUmVndWxhci1Cb2xkL0VuY29kaW5nIDI1OSAwIFIvRmlyc3RDaGFyIDI5L0ZvbnREZXNjcmlwdG9yIDI2MCAwIFIvTGFzdENoYXIgMjUzL1N1YnR5cGUvVHlwZTEvVHlwZS9Gb250L1dpZHRoc1szODcgNjUyIDQyMCAyNzUgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDQ3OCAwIDQxMyA2MTAgNjEyIDY3MyAwIDAgMCAwIDAgMjc0IDAgMCAwIDAgMCAwIDAgMCA2NTIgNzIxIDYxMyAwIDAgMCAwIDMwNCA2OTQgMCA4NTYgNzQzIDc2MCA2NjUgMCAwIDAgNTkzIDAgNzA2IDAgMCAwIDAgMCAwIDAgMCAwIDAgNTk3IDAgMCA2MjQgNTgyIDAgNjI0IDAgMjY4IDI3MyA1NzMgMjczIDkzNCA2MjUgNjE4IDYyNSAwIDQyMCA1MzQgNDIxIDYyNSA1ODYgMCAwIDU4NiA1NTMgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDU4MiAwIDAgMCAyNzUgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgNTg2XT4+DWVuZG9iag0xMTAgMCBvYmoNPDwvQmFzZUZvbnQvT0RRTkZUK1ZlcmJSZWd1bGFyL0VuY29kaW5nIDMxMCAwIFIvRmlyc3RDaGFyIDI2L0ZvbnREZXNjcmlwdG9yIDMxMSAwIFIvTGFzdENoYXIgMjIxL1N1YnR5cGUvVHlwZTEvVHlwZS9Gb250L1dpZHRoc1s3MjcgNTk1IDYxMyA3MDAgNjgzIDY0MiAyNzcgMCAwIDAgMCAwIDAgMCAzMTYgMzE2IDAgMCAwIDAgMjQ0IDAgNjU1IDM2NCA1NzkgMCA2MjUgMCAwIDAgMCAwIDI0OSAwIDAgMCAwIDAgMCA2ODIgNjY4IDY0MiA3MDIgNTk1IDU2OCA3MDAgNzExIDI3NSAyNzggNjU0IDU1MCA4NDEgNzI3IDczOCA2NDIgMCA2ODMgNjA0IDU3MCA3MDAgNjgwIDAgNjIxIDAgNjEzIDAgMCAwIDAgMCAwIDU3NyAwIDAgNjA0IDAgMCA2MDQgMCAyNDUgMCA1MjggMCA5MTkgNjA2IDYwMyAwIDAgMzg3IDUxMiAzODMgNjA2IDAgMCAwIDU1OSAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDYwNCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCA2ODIgMCAwIDAgMCAwIDAgMCA1OTUgMCAwIDAgMjc3IDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDYzM10+Pg1lbmRvYmoNMTE2IDAgb2JqDTw8L0Jhc2VGb250L09EUU5GVCtWZXJiQmxhY2svRW5jb2RpbmcvV2luQW5zaUVuY29kaW5nL0ZpcnN0Q2hhciA0OC9Gb250RGVzY3JpcHRvciAzMTIgMCBSL0xhc3RDaGFyIDU3L1N1YnR5cGUvVHlwZTEvVHlwZS9Gb250L1dpZHRoc1s2OTUgNDQ2IDYzMSA2MzAgNzA0IDYyMyA2NDkgNTQ5IDY2OCA2NTBdPj4NZW5kb2JqDTExNyAwIG9iag08PC9CYXNlRm9udC9PRFFORlQrVmVyYk1lZGl1bS9FbmNvZGluZyAzMTMgMCBSL0ZpcnN0Q2hhciAyNi9Gb250RGVzY3JpcHRvciAzMTQgMCBSL0xhc3RDaGFyIDI1My9TdWJ0eXBlL1R5cGUxL1R5cGUvRm9udC9XaWR0aHNbNTc3IDY5MCA2MTIgNTIxIDUyNiAzOTggMjc2IDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAyNTggMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCA2NDUgNzA4IDAgMCAwIDAgMCAwIDY2NyAwIDg0NiA3MzIgMCA2NTAgMCAwIDYxMyAwIDAgNjg5IDAgMCAwIDAgMCAwIDAgMCAwIDAgNTg0IDYxMSA1MjEgNjExIDU3NyAwIDAgNjEyIDI1MyAyNTYgNTQzIDI2MCA5MjQgNjEyIDYwOCA2MTEgMCAzOTggNTIwIDM5NiA2MTIgNTY3IDAgMCA1NjggMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDUyMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCA3MDUgMCAwIDAgMCAwIDAgNTg0IDAgMCAwIDAgMCAwIDAgNTc3IDAgMCAwIDI1NyAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCA1NjhdPj4NZW5kb2JqDTMzIDAgb2JqDTw8L0Jhc2VGb250L09EUU5GVCtWZXJiQ29tcFJlZ3VsYXIvRW5jb2RpbmcgMjY0IDAgUi9GaXJzdENoYXIgMjIvRm9udERlc2NyaXB0b3IgMjY1IDAgUi9MYXN0Q2hhciAyNTMvU3VidHlwZS9UeXBlMS9UeXBlL0ZvbnQvV2lkdGhzWzQ2NiA0NDAgNDQ0IDM3NiA1MDMgMzgwIDI5MiA0MTcgNTU0IDI2NyAxOTYgMCAwIDAgMCAwIDAgMCAyNDkgMjQ5IDAgMCAyMDEgMCAwIDAgNDgzIDI5NyAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCA0OTkgNDk1IDQ2NiA1MTQgNDQwIDQyMCAwIDAgMjI2IDIyNSA0ODYgNDA3IDYxMSA1MzMgNTM3IDQ3OCAwIDUwMyA0NDkgNDE2IDUxNiA0OTcgMCAwIDQ2MiA0NTAgMCAwIDAgMCAwIDAgNDI0IDQ0MSAzNzYgNDQxIDQxNyAwIDQ0MSA0NDQgMTk4IDE5NiAzOTQgMjA0IDY1OCA0NDQgNDM2IDQ0MSAwIDI5MiAzNzggMjg4IDQ0NCA0MDcgMCA0MjEgNDA3IDM4MCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDM3OCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgNDk5IDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAyMjYgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCA0MjQgMCAwIDAgMCAwIDAgMCA0MTcgMCAwIDAgMTk3IDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDQwN10+Pg1lbmRvYmoNMjY0IDAgb2JqDTw8L0Jhc2VFbmNvZGluZy9XaW5BbnNpRW5jb2RpbmcvRGlmZmVyZW5jZXNbMjIvQ2Nhcm9uL0VjYXJvbi9uY2Fyb24vY2Nhcm9uL1JjYXJvbi96Y2Fyb24vcmNhcm9uL2VjYXJvbi9mX3QvZi5jYWx0XS9UeXBlL0VuY29kaW5nPj4NZW5kb2JqDTI2NSAwIG9iag08PC9Bc2NlbnQgOTIzL0NhcEhlaWdodCA3MDAvQ2hhclNldCgvQ2Nhcm9uL0VjYXJvbi9uY2Fyb24vY2Nhcm9uL1JjYXJvbi96Y2Fyb24vcmNhcm9uL2VjYXJvbi9mX3QvZi5jYWx0L3NwYWNlL3BhcmVubGVmdC9wYXJlbnJpZ2h0L2NvbW1hL3plcm8vb25lL0EvQi9DL0QvRS9GL0kvSi9LL0wvTS9OL08vUC9SL1MvVC9VL1YvWS9aL2EvYi9jL2QvZS9nL2gvaS9qL2svbC9tL24vby9wL3Ivcy90L3Uvdi94L3kvei9zY2Fyb24vQWFjdXRlL0lhY3V0ZS9hYWN1dGUvZWFjdXRlL2lhY3V0ZS95YWN1dGUpL0Rlc2NlbnQgLTI4MC9GbGFncyAzMi9Gb250QkJveFstODMgLTI4MCA5NjQgOTIzXS9Gb250RmFtaWx5KFZlcmJDb21wIFJlZ3VsYXIpL0ZvbnRGaWxlMyAyNjYgMCBSL0ZvbnROYW1lL09EUU5GVCtWZXJiQ29tcFJlZ3VsYXIvRm9udFN0cmV0Y2gvTm9ybWFsL0ZvbnRXZWlnaHQgNDAwL0l0YWxpY0FuZ2xlIDAvU3RlbVYgNzYvVHlwZS9Gb250RGVzY3JpcHRvci9YSGVpZ2h0IDUyNT4+DWVuZG9iag0yNjYgMCBvYmoNPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAzMjA3L1N1YnR5cGUvVHlwZTFDPj5zdHJlYW0NCkiJVFQJUBRnFu6enu7mbI7ZHo6J3YNniC5iEJVLEJRDDY4MIHKoAwyX4CDKsCgxs66aNVOxrFp3XWMO4sKCN4fgBaIgR7SQQ2Z0BsiyW7F2jbGoStx9Pf5D7fagxk111fur+v++ft/73nuNY1IJhuO4z6a1m5PjUxenayty43Rl5SnawspSTYXjihPm48ICqbDQjV2FLrzMeLmUBJ0HXPbqfcfrtjfmhuO0u8yPX7A4aLm+5mhcnqZCt2vdbNw1G/NmY8psrJiN2tlYsH1vQVCepnRvnK68uqK4sGivMvvdvOxA5fvBy0KUudXKrdrSUl2Vcq12T3HhLqV6b2V+sS5Iuaa0VDmL3qOs0O7RVui1+UHJuooyTenSeHVqdblWuVyZry3AMFx8MGccc8cwLxybS2Lv0ViIFAvHsVgpluiMqaXYVgl2HsPaMWwAw4Yw7CGGTWLYPzDsOwz/2AlbKzqDSTESW4EVY59gZuzf+AL8GD4iYSShkgxJmeSEpFtiIdyIYMJA3JI6SfOkBmmr1CT9LzmHPEJ+S82hKql7dDRdRZ+ke+n/OLk6FTmdcXriHOFc6tzrQrhEuGS5GF2aXEZcZa7hrm1uCrc4txa3f7kr3avd2xgnJofp9CA9dntMefqhOwyDDqB5L0vwB1biQTu76FMN+GznarvJmCbjSZO/jaJNxpPmJk7fTSKf7Uc1i/zfEH60ErDeFsBOH21DPlc5fSppLjB+tMZ/hqLXGD+KKeBqU0nwufpp27RIuYQkeliiB7cqvHeK6JU3Ubnz63RD4Pk7kJHhFGM0jAjWEbxrHHTjBBy2ZbHINwX5oH1o/10kB1/wuwt+8BuoTgFf5MfPKKXhOpBAEiQ1gGRisgERKBEl6ZAkjGdQcq3epqrCgbMQUCq3qWJpxARdTp0YIO02mjldq4foUWFbFS4o5FMU2mhTkaEU2jCjIqeoFogmYQe1QFjPTtkJEq2mmJPGEfj8AVSPeI9ZId2yxSJ7IaTDJhZ8w65u+wMnE1pPDHRM+4MkYQB5c2jZjAo2U7IX4P3NKDjxMmEefMtGZBbGcbFQ/ZiauJydxMte1KMRNqYgdSX3LnxupZ7c2vY+z+wzWIR7FrxjkhASBRvboUruWKNA2AqEo+Po+BTCATMNdHT08bl9ZIkmIydTsSbrJ0iAhJs/mTo6txW38cw5o1m4YcZFoR+OE4IWfmThWOA0CuMQK8piKQh7Pg3H+Ag5Stschjy4LcKNLgo8elehVJ7ZYTTDQROU1RodXyAEpdyMfg8HIdOEMsXjsBmNzahoZqPo36AJDr4CzbGR7OyFFQZBbUJqOEgz6I+vOiACYInYgEgHD/0JyfS2716/tanYyJmFVIzxtxFarj6RBL9O4wWQ+DPHfqaOya2QRfU9hzDUST6lUIlAQyZMkksolCf2RiAiaSbaaLaRs2iBFeV+aCNnc8Gv3nwF+i2EsF1usalWUSjQrkGBgoZcJcoVzlLga19OtlHgJ4SSTOfPjGqR4SEft6mi7NcoVCVcI8Md+GsUc8dgFobNeMcEnJ0g4GvHlEZloBUoC2XfQqEQBZG3IBSyISsDVqBIfkYhRYQOZBACIQ3iQYCkAclQCArRiYeEZ46IVtaNwUWTI612ghCShX0sLA3vQ74cCnZ4WvdYVDnRC8F8uDxAXRTLRcDFcWqsp2guz3wlsjtH4dSog10p9jtHOMLCwrAe5MOhaAe783sKvETzxCn3hT5y8qvOPiD9I+SLU4tXc0Fw6hll6i5azDPFBpMwasJvTkLmJAEnBTkb15HSNOI/eK3xZssN/e6rXOs9snF7YuN6ReDaDQHzhzJGM/nH6fd3rPaPzy7ZmpFy8VwOl/cBWXT9kcaiePb4PkiBXtmfeJ1nEkVbSTMOUWKHOMes2J1iYNEMabWRNHPBYLZ5VuHDVigXr9WOmbAfoCKqkpYtqxoc54QDkfb9NPJsXQSBENg6DZ4cc+r1bmMiOJQCx9b+nYLXOxxg/55k9K8RanHM1OIINVAQJ0SRyynR86fIG56SIRTE2sNJpuTVtlwaYhMEVzO6RMM5oZt8gIQYOE0zKsNwgR7quyHggXeTBeIeyWqgXf5I8KaAyGwP26Ku3pnENW4i/9LV8uUVRdfpnRv5WPpE2dYv8hRxyVuQOy/rQK592ff6rrY3NXABBjZvV+PYQG1X//n2mkNf8siZztUVFe1QMBpHIqFwGNKqvAfMkPxYVjMgNw9Rsg5tY2tut8LaPw5pkL5pPDI1T1Owi4e6GFrUEo8+Y3v+GoVkjkTe5VHq/Pzm6xUcHKJv1LU0tygYpeGhsOghfkX8C04LheyZMvX1ZMXKmGVoA9pgDv7bQM/1M2f5wl6ypio3L1+RprWCB3g0W+40t+TvP8P/QlabBT4Q6xe85LayaFRPN5Xlt6cqIjdFoHRH9rT+CGt3y5Xms5ysJoGWdczvZdW7LeANsnpLT0uzNrueR4fonN1abb6CSTIMQvJtiL8vKoONo4RAwmHWeLyxxR980p7NnbfuPbQOrTcF/3Pwfuf5Fq6gk9QV5mg1ClXJGJAf889hP9t9Pg15fsKjjRTgxy8M94seopIhUAwLvx42vFE7Ab3C12w8Lfvh/9S+lcrPo6PKd6q1GZ/VpnOVSWRlz8j+LsWT7mvgz8smhLs0SrAXviqDl/3wthLubSX5tXqhaEj0BxfbFmsm4B1bGRszU2YWvKi6Lzq/ua1o/XPBNt4uNwvz6Ee6gbUbtmYWFv6P9uqPaeIMw+u6uxvYXSxnu4XiVSdTyJSwJS4DJ9SRZYk6EQUpypIhbBRjaSaMqlHXMbJsIVlcXOtKgFiHKxuZAq6CSYGNLRCsExA4SKmJmszNiBvTP96v+W7ZvuuVH03VsOn+vbv3eb/3/Z73eZ/jWdxGAl1WWDxFAkmUFrkMoov5OBijCUyRZYhzq4JVd+V3pASDeJ5eX/tB+tt802ayUb1EJ5Xx64NLNQF6Kp1hX5TBKq2hAEwCyCQsxfUUMklngSSm91dQ4Bpqksar4CLF4hYyIWarwjeuhGXShf5lJoqZFSrGFqJg6jikCksSOG84v0tALM0F2lztPR269uMlu/SiehyxzNmT7V3nZh5IRQqWgdc379qx28J7Pny3J1uX/aaxxKIPN0rGflXgOudg1TQ3ce9WGXeWmni20HYJvXBJ8d0EFE4okR7qNJCRfRfH4JjsFTgDZ/QnQgzE9t2BDD5Di9WW9KwsSwDUoHZfGRlxp2E1T6ixqQrywtSQ5ysgH0DqThM9b8iki56dM/6OXZ6vueHSzw0X3k5qMo4SQAOUcldnK4KzNDdU64Q0YHk/w11dYzfhx2sOPMk+SypJHVR4BEieUEIx/KApbchz9cd73ATQU3ngK771R+rL0m3NObr0vG1pKUMlfWZ9x3s9lq3xhXsqy4pzv24q4005VHnroOmizt/Xc22yoHvtOWJ38m2jaIUPVlsVE+NKNyrSePFt+vnTe7/vPH/K0ciX91PVh8sP7dcdPGzv1MPUbV8yrGYy91GY28mwJbbBUok/cX2hq9kPRHokOsbRXOc+a8EWo674SGuHHj1tEBMZg3vLZV+398xpns0MsU4BNVp4DrmIhVspbkhCG6g0GhJFF8W+EX7/s/YG2btQD8vBSTQ4GZuSwSQp8HLsxEmEpb/Qf0I5xWaSW5JI6SJ9hJViy0a8g7pCQ2HQTCBXieuS0DqKTawdRpphxbdaGBjGFTRUoATqAu59DcwMrhQTqDlvNwzahdm76+ioBhjQUin0S1hLzVgXKX6+e/EEqyM+m7ccLoA2vB+O/Mv90L2g/dCC2iJSz+onSfwIJRS4JyL60B66wJskB5GVP9Ct+Wf4XbylkTUrTGvpKI+c2TeQQZNHb1+be43KpYdJ2kl6hibSsR7ElOmxiJbJvBkjQfelDtQHU6KyyY68ncQ9hCk3gz8KOGy1qwWPzLP7eG1oCopRsTNiSnoQ1lNvhJ4GHqCn5NN8+CYKUnYKMp/+k1n4FEajQGftaVeoxodyqJ+guCj8sAKPhdogifB0hAj/NifC0zMiDMtgKArn/5qnx8AeleuybXR3FSrywTMjcX4BcoinaiaC3SUWCajopm+Nn/bUOeoazhyqqefdfdTxCuPJt3T5ZXuS9FkFDDRsCkk7512ouOO9J8LZFH5BeY9Mdc3vf/QF3zhAHTtY1PiOzhjOxNocyOWAlx3kp8t+3RF85XOHAxbXMvyJAqfT+bcq5qgqtla1SIgVFvU6P1OpfrIfUz0FxiXIqvlHgAEA4AWq8w1lbmRzdHJlYW0NZW5kb2JqDTMxMyAwIG9iag08PC9CYXNlRW5jb2RpbmcvV2luQW5zaUVuY29kaW5nL0RpZmZlcmVuY2VzWzI2L2VjYXJvbi9SY2Fyb24vdXJpbmcvY2Nhcm9uL3pjYXJvbi9yY2Fyb25dL1R5cGUvRW5jb2Rpbmc+Pg1lbmRvYmoNMzE0IDAgb2JqDTw8L0FzY2VudCA5NTEvQ2FwSGVpZ2h0IDcwMC9DaGFyU2V0KC9lY2Fyb24vUmNhcm9uL3VyaW5nL2NjYXJvbi96Y2Fyb24vcmNhcm9uL3NwYWNlL2NvbW1hL0MvRC9LL00vTi9QL1MvVi9hL2IvYy9kL2UvaC9pL2ovay9sL20vbi9vL3Avci9zL3QvdS92L3kvc2Nhcm9uL1VhY3V0ZS9hYWN1dGUvZWFjdXRlL2lhY3V0ZS95YWN1dGUpL0Rlc2NlbnQgLTI4My9GbGFncyAzMi9Gb250QkJveFstMTExIC0yODMgMTM4NSA5NTFdL0ZvbnRGYW1pbHkoVmVyYiBNZWRpdW0pL0ZvbnRGaWxlMyAzMTUgMCBSL0ZvbnROYW1lL09EUU5GVCtWZXJiTWVkaXVtL0ZvbnRTdHJldGNoL05vcm1hbC9Gb250V2VpZ2h0IDUwMC9JdGFsaWNBbmdsZSAwL1N0ZW1WIDEwNC9UeXBlL0ZvbnREZXNjcmlwdG9yL1hIZWlnaHQgNTI1Pj4NZW5kb2JqDTMxNSAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDIzNDQvU3VidHlwZS9UeXBlMUM+PnN0cmVhbQ0KSIm0VgtQFFcWfT093c2AtrvMzqi06R50EtEoiGhAoqIEMeqCIyioMRg+g+AKKsrgh2ymTKw1RSXZSspajbqCa0z8g+CKCmriJyASV1wUDLAi+IkrG50A903uELdn8LMxVfupytZUdXe9effec2+fc/oxRKshDMP4zoyaFRs9+8UEa05KjDUtMzfLvWqiJob211L/PgZk8eAgLvP7GRzM6Acbfnl2UJ8SXyIwjNDXd4D8RpY1NTlnaXac55qbk5m9KNXzmOO5vrJ02eqczEUZK00LAlIXDDONHhUcYkpZbZpnXbJkaZ4pyroic1G2KX5lblrm0kDT5CVLTJ7dK0w51hXWHJs1LTAoOn726mVW0yhTmjWdEEb9kb6EmBkygpBAhgQTMoaQUEIitWSaF4nXkvmEfE5IFSEXCblMSDMhNwhpJ8zvtORFtWWiJQIZTpaRUtLGDGAmMW8z32hEzSpNHWtgl7HVWo3WrJ2rLdAWal1cKLeGu8w95F/jt/L1vFMYLOQIDq9kr/d0Gl2k7k3dfe853id8/HxSsUfE70QXh6INwmwg5TH14MXWG0/wcf770u/CADu8wCHLi9vs9+jOe8wXwLL0e9plqHw58KS/hCNRjxr8AD8A9Q4ju+6crPxamdPIWWMikiZKplc6IBzCL3d0N1xNslYrYlPBbbrpNtPWDfdBwzr9wWGA99H3W8yQMa/HAnk8ZIDvt/C+ghojxkRE4hgZtXQTaHkYczUSYxSxtNDmtOSpKdg2YzdY+Jud8C4e5cDAYw1l4RC0ctifxyqXF0e9TIIISx8H0AXdrFMxdjstqOVxhSsdV9J0tbkeSzct4mGuawRXo97oSE7sfBwDd4GwdK8RNGoUcZXweJuWcKhxx5Tw4o5CG2y9CR/dcm/9ChiW/kBtBhjlX41jZdyi7oKtMIqHsV1VEKwgYxw2JStYxkD4CAL5m5eyhivim/ZbtPiWOlgtnAQtSzXU32AqCdrc4Fdb9emFqvblWV/KFde4A1OH7AuScNDwSPTGfp0Lb2Yp0Cf57yvH+02dviR6wpDSg7Hy/PFcSi14LQCtBBIwdeALA9DneOAeRazubQhMTosB+/FQ1GPhQMdDodOivnsek11/48Q37C1zbfDH8+Db5Hu4E7Y69Pk0yOgA4KH/tEr0jQpfszhQPjCZ23m1ettpqelPv5mqJAgfpoZtj5WGvjQbvRR9BXq1JtxqrS0rLpUx9PcGS/Ku2tN7ylsrLuSv36eYhZQFidkzJHGt/XqCjSZehzl5vlccsLdTn3/F6Kjh9RXph89ZmyTg21ogDuJDWpAPt6SlJytQZBb0+bAJ9xiayqagj7uUd8qU8Nj4feWpMiwTyktP76+SRH97O+XameNdLP0tzTQUJYeVj5WwD7IhGIMxwI6GPq0tR3YcVpIauPzsaakWafysy8ABd7bu2rna1PzPlB+Bq+iEve4x7DM6s8xYJJQkW0rCJeRDwjDeDSGuLQz4pnMlxYdlff4MQV0JrjeEp1wCb/Apu9R07kxmUpmCy4SklLjFFkmcZ/8aJlRDSANzrBt2PmDpNlhnKPhw9yE/GDDhnqqmgOeHYRT+GshoMAK5/cWuY/LCWi47YVLaq9LLiee73lFgCCw3NFfMQ+ZdBXfyHRsrq1okMb/QRue1qIgZdZybHSxEO7MM5p4sB9Xxe/Y3VHwl1W5dGKdgp7og3LbWIT8mNDE7RRZd3mpkUR4IXUy9GjbFSIvMriJhg5MYQNulCkV0CTjX5lxzt6CLafyOrX/yBxB83TDEVcxHFNhRZ5X3T+Rg5tGCI+DtJ4b2Jl3phsPSDbTIgH14TMI/cDTVjQqGCC0dEILrOVXZaIWLnOhiVYpm5THXVBTT3dPuyVLFW+npy+5hyVsPwO7QV0C0mk7F6KACr286eKD66FmpZsvrs9XmHlCtULz//PEvpZqPPQuebtPrkB07PjYzQz72ZvrxEGlC5LwMq/JoZL2pNzv05U/z6nh9w78d2ip7M9U3Myo5TnWy9DR8bICIYAeOw/DRZozAie1m1fbG3XwAEfJgI+qSJg8enFQPOtCVX+nsLJ+EOllcizNsMOc67Xvd/lgCTb0I3OMp5P9VB4r+Xq8Uxs2yWpNlCF7Xq4GnAlCeCkDtakrHendOffGTlmA7r/9LwXYVVbTcIeBzGxP837Z5iSa1j181MZUOsKlTPwrnDLO2jNt8xq/0UNGpk5dycyvkI3XczsTQz8Ik9JoUN8p8N6M5V6lZ07Yqzi95Qe7c2Jf2fJooL4zgsj+/t+gbCdgblffvhZciUVWEa+03qbYRRuQxjgfsbhpv+CvW8EhOpDVWXfhk0y7Z2sC9s3b+qmxpee7GI4rqnuZGNMMI4fk8DgdECmK+241UFvle8ryfVTTa6HCT05vXly/JmPjadOnVNUfOKNBpdumEoJIo4NpbTuwuk8WZHvIxcMMIi2gRhxyPw1yhGEBDOTdt011FnGhRx+9m2w51QGB1bQ/CFDcV4agzyxMQ4BqKw+hQTmy036E/5LXZYGAe09QNzernwMm5TZS4YviA7AmoenJ24z9kGmNyTRUw8CyKsBgyz4EIgTJ+4v4ajIeBHBp5/AUO/JHHNrmTPjLat/5Xoz35XxntcVr4TP0nDuSp/jPb0Hvw3DPlXHyvE2g91a64jemRw5ykd57Z28vGXly9lKShqotN4seNC2/mJvH31U2g4Vfgn39Gmj4iwiOA/4kOEFD3DOgXClqhq/W2J7rUSGNbsZqHanjIXXVFjYVTAp7HhxwVnf4/6eP/+ypgNOz4acnz6nml7Aasu3HRU1I9tLSr5zC63Qg+PM4E9RjFb7tcBeI/JfVdU/HIb3O53xtATZgtwMbKd6/vSaJG7rnacr8dvjd9d2F7fj7XSL7xhximJbCMe+d7FjDvLv6eteiTcB1S7t2HL/cK1/1u/MksGrA7+tix3buPHYveHRAQHR0gd0hsxaJFK1YsKsnLKwHhRSvkoHU9JPQoqPDbvz/F9AS0GIWkC1BhugelML2DUZgCFSR8P49pUMO0HwunfbeYxvY7a+qjaT9tpkyb9l2gm11uQeTMmTP/83BO4OHq5uE+w/WJ+8y8CTw8t2ZN4eH9oSTyk10UIMAAYmJM6w1lbmRzdHJlYW0NZW5kb2JqDTMxMiAwIG9iag08PC9Bc2NlbnQgOTYyL0NhcEhlaWdodCA3MDAvQ2hhclNldCgvemVyby9vbmUvdHdvL3RocmVlL2ZvdXIvZml2ZS9zaXgvc2V2ZW4vZWlnaHQvbmluZSkvRGVzY2VudCAtMzEyL0ZsYWdzIDMyL0ZvbnRCQm94Wy0xMTggLTMxMiAxNDQyIDk2Ml0vRm9udEZhbWlseShWZXJiIEJsYWNrKS9Gb250RmlsZTMgMzE2IDAgUi9Gb250TmFtZS9PRFFORlQrVmVyYkJsYWNrL0ZvbnRTdHJldGNoL05vcm1hbC9Gb250V2VpZ2h0IDkwMC9JdGFsaWNBbmdsZSAwL1N0ZW1WIDE4NC9UeXBlL0ZvbnREZXNjcmlwdG9yL1hIZWlnaHQgNTI1Pj4NZW5kb2JqDTMxNiAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDEwNTAvU3VidHlwZS9UeXBlMUM+PnN0cmVhbQ0KSIkck39MlAUYx9+X471LuF6C87V5R+/7gjYgF4cHBluQk9+oCQl3EyR+v5zAyeGBd6N/uj8smrc2lnoFUYFMBsQCXQIGIZYNwx/UNBe1ljpdrFipU78vPmz10p49e7Znzx/P9/N9HpYJDWFYlo0szH5jT27JFofiqcl0Vdc2rTUl1cKq0aHqC0aBwuhKNHfyqYPDyxHYGjn39OMoRseyWfn2LHdLu6fBeaBNLo+vLU+QbUlbk+WadrlUcbncPjlbaW1wNsvFbYfrGtyJ8g6XS/5/ulX2KK2Kx6vUJeYr1d52a25xSXuLIifJdUo9w7BM5DomXNuNCWGKmDZmjk1lm9nvQhJD3gy5pyviz/gRp25HPDsKB96GXYf7K/sFqiKGzOQj3xMyowpVT2CGD74YmKlKOrp6Xcis/AbJSJmcvXFjwk7JlFJhz5R4qu/1rhT5WOxFsU6N3LBSRLsMVEmGmxQB4zy32mfgPQHYVAk2Vo2BQ6fehU2gO/rhC8MXh8W/ZhC1AMkMNn2J0ulFYnObysXfKYLrP7t4dsHy7SmPuzzPneKQYndSqI1kc4Z62cAf8iMFIpKfwBalhqGEUpGqpcN099gt4dA4wnNgs6DyKkLB/Fb0Q/opyXR/bvCrc4vmP3J/pVRKit3R2iAuUjjXP7H4xWXLdF+7e6+1Y690gJKH9KalBRjey6qpP7y7vOCj8wkSP9XrBa+pSPOx6gaU6LrBC6qBeJSAfwRbrJpGx/R0abWYg2NAQA56OOox8I1+pGIbEm+uid+kiZ/FsvA4n/t07GzPjOXnkdrqfeXuXRmZ5/qdUhqJXNMUQnZDsqD4Dp6BCfyr4Ci7obnjiFvqvM1hAbZVt54/4ocVGYh5ACs7ormorLE/qM4Ko0PvBqQJJHCBimABBalAQ9pJ1iWKgwt5j8Fppm7ccouez93X6nWJ0I//OXLbQtHUIVw67Syra6nIKiscXDoqffbJ6YELFl7u9apntN3voVSnjqrTAuJXu8mGK4aWJnLRSTpiRqkeH6ATMwGR/9CPTWqNF6IvagAOSkAhXkKhVh2mhwOwCxSp2YwyLdhfEPl3zoX0UdG0fO3Lsekr5n+sP9FrtD1pR9zOsbKrNaLpYYYzxx5vVtO6haqKxry8ipHxqa8H50+J3x+aad5vNi1TEeaFk/2fz8z0N7U5nYfr3hJrew70jZr5dzQ+DxCjIbKyvZpFytqVZ2OzUN/cGZAqSOMz6b+GE9iJdHQeFWG1Ik7Tkx9DnPYEG5dfwYYfz/f3DolkqN7StM2CaHQIe5TR6TMDk9en5g4mvS9525UWu4X3B9W+INKCemo8cSe4kn48GMRzAYPYW9rV1fWvcV2nMSxgDMemMLwe/uh0t9GI9ReNz6Jr/cpm4T8BBgD15Qw8DWVuZHN0cmVhbQ1lbmRvYmoNMzEwIDAgb2JqDTw8L0Jhc2VFbmNvZGluZy9XaW5BbnNpRW5jb2RpbmcvRGlmZmVyZW5jZXNbMjYvTmNhcm9uL0VjYXJvbi9aY2Fyb24vVXJpbmcvUmNhcm9uL0NjYXJvbl0vVHlwZS9FbmNvZGluZz4+DWVuZG9iag0zMTEgMCBvYmoNPDwvQXNjZW50IDk0OC9DYXBIZWlnaHQgNzAwL0NoYXJTZXQoL05jYXJvbi9FY2Fyb24vWmNhcm9uL1VyaW5nL1JjYXJvbi9DY2Fyb24vc3BhY2UvcGFyZW5sZWZ0L3BhcmVucmlnaHQvcGVyaW9kL3plcm8vb25lL3R3by9mb3VyL2NvbG9uL0EvQi9DL0QvRS9GL0cvSC9JL0ovSy9ML00vTi9PL1AvUi9TL1QvVS9WL1gvWi9hL2QvZy9pL2svbS9uL28vci9zL3QvdS95L1NjYXJvbi9BYWN1dGUvRWFjdXRlL0lhY3V0ZS9ZYWN1dGUpL0Rlc2NlbnQgLTI4MC9GbGFncyAzMi9Gb250QkJveFstMTEwIC0yODAgMTM3MSA5NDhdL0ZvbnRGYW1pbHkoVmVyYiBSZWd1bGFyKS9Gb250RmlsZTMgMzE3IDAgUi9Gb250TmFtZS9PRFFORlQrVmVyYlJlZ3VsYXIvRm9udFN0cmV0Y2gvTm9ybWFsL0ZvbnRXZWlnaHQgNDAwL0l0YWxpY0FuZ2xlIDAvU3RlbVYgODQvVHlwZS9Gb250RGVzY3JpcHRvci9YSGVpZ2h0IDUyNT4+DWVuZG9iag0zMTcgMCBvYmoNPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAyOTQyL1N1YnR5cGUvVHlwZTFDPj5zdHJlYW0NCkiJVFQJUBRnFv57erobEBth7ElkpGfEE4minCIih8qhEUeBuAqiqAOieIFAobEkbjamxNJski0rKXeVYLKx8MILF2EVj8VbQGYUNSiHaxHYNSrr+ydvMPsPbI6trurX9b/3vvfe19//OKLVEI7jdPNmzk+KS/F/z5K3fIEluyA3M895bKImjo7QUl93BTV4eLiQ9mOCAMkesN/z8nC51Yu4cJw02OttdVlWftKKzLz162b1v1PzctZlL+j/nDHwXr+hOC8ne9UmU/q4Fel+psBJk4NMy4tNiyy5ueuLTDMt+TnZ60zJmwpW5qyfaIrJzTX1R+eb8iz5lrxCy8qJSevz1mbmBsQlpxRvsJgmmVZasgjh2ENcOeJBiKeGKIQYCPH1IEFaEk5IBCGxhMwiJIGQ2YS8S0iShiTzZDEhFYScIOQMIRcIuUJIPeF2sBTGBNESgUwleeT35C55xc3gCrjPuX9oQjVbNX/XPOVdeAu/iy/jr/FU66GN1WZpz2jtwkzhr8JlAUUfMVncKD6SwqRj0h0X4pLustel1XWwa47rIdd2N1e3BW673aoGhQ8qHnRsUI/7JPc/udPBSxxaWca7KBf+uLqIa27jm88oI/dYYPpStfyigPzxnXut3nZRsu7aC/xxNZ+dTV+6wzLS+9ckmNzGww77COXVjkqcXqXmpwjAZ+3aFuPdJ0oxO7chn6WWs7PpVXsqX3nLDkMpuHPWbt6q7wZ3f1HeX9JIHzRyN9qht4OHR/Y0BWMn41u4Gbc8RT3EQmwn6GELbA6EtzDW2GfSokcqaCAREuuY8QCP88hjAiYuZBrxMMpYfqDQbmZ9zWF9lent5mkSRk48bgbPm4LDLsnJpVZab+VqeuBEO0/3WRWHm/jk/Knv6lQQ74HnHRjmDSTsLg7znZqxOk09bRbKjzSfeGBoq10yNyp6Uch8IwpRyCXgWO8UukaSPzhQCAHNNLeIo2o7XwEBCrzBgHYIeN1sormoFfGpo0D45+cKlFMfweEjyQ49owA2MhrudfP3oEvpJ8KRqR0gpJoBRjXRDAZ4Td8lYrndLExgps8sdInXIEqA+yKG0lQFhjtkAb8W5cOljbDvNhQ3enW1w+0n6U90vfQNzFPg7dFVCz5TdbT6M2vtc2/QBF/FABU/7jPDWVHXCxNbmsDFqKPoAa1KxKxs5nsHimGyCNy59ESjrrcSG5XoxSkmFX8H+yBIZPRkBBrlT0ta6PUW7monT1/QXqU2JuDCKAOOxaHI4Sf4RxiKBMa+fHah1mrMuCZkzZ+2KMKAQsQriIf4h69AePhgUdYVo3y71EarbVxXO5U6ebsCLxXYjV7PcZmKa1mLa0VYBl7PYbcxUI+pkeEYqeIQWg1DRIhsmYIpRnlFqQ22W2HtgVInCk9P6W34E2yHc1Y8x4zd5jD3mSU5gRF6ywrbB4KO2gWl39EOt6DSipWwXZJvltiWFcL1u7CnxetqJx3RqnufVulbqRd+OwNScbSoq1ltmRYfYkCXSOBgVv8cYtvjBWyOv10XLkS/cwk1BvT7Pwp8O5qqai8b5XusfqsVaopYfXjRxtNv9G12cwjW4AuoCXY20govRBkdA8JlTUIi022ws3e0o67Q3lnE9TA1z7GblZC+MWJ06QfoZlEPsWUYe7a0EjTe8l9+ye3St8NCsYtdjS/xitArYgPl4AR0CCNFfOjwEahPsCSHltrsQn84LWek/dsu9FeD5T/D0Pw23j7O2eckEbc5tmIJ3SpMZr3S8yKscswWLjJD5wrys18yODbZSX0nm8zRKOJPtFEIdMY3iPLLEhttsDG90EQmGa3ziueHYSim4eLHGAb5sOkxhMFiSAuDUNxk7DNoMSwFdBAEQReZCYPwOtRhEAalMhPO9McIPdgMR6xOQjsZ5Eu6WYFA1FxCfxX3OBk9CFNE8AfNJQhk8hkRvYo5wuEIhIvdtlW+Rvkcg6htgi+anBDYwdND+m4Rk6FOAO2XLZfB0xv8kLuAE1Q86MSrhSgRzLBE8Y/JGaXibPgC5on/sq7yN8q5JVbaZOXqn0JLJw/dVFV8jwb9udXbdqvibn1HXm69evKGcGTOmAqmHp1fPLqh/Drz+1wjuK34fl2Id9SM7KiIsSePzlVXzBFW3gR+yX8M4Anam2zyYehR7XfYKM9mJAs2Dj5iFJ/t1+9X0bChT2izC/3atQ8p4trZAmVu6tSII1n0XROGo3B07uNelSYHO8wSjq9HV1gKGfXgCuNV+ez/1qQ7S/ATYWC9wFds2YwXcaPjtSBvHYioYAFQjL34B/xBeCnCPDgN8/A0+8SP4AfYDL3COBHjsRbjoFaQCwZudWWDEke/sTmmSjSE1gl3HDujqSrJ80sasgrh64sw4rZX9RM44bxoofpWeCOCV8I5lOIii9cEqoeShPLmG/uvGNrKs2OMZunT5cEHkgz+IQtxkFFXg4Ofprd13K46flLFGduUOenfWusrznfX3dny4TEjStLStOTVMw3sv7BSNLsBUou8Lj6GOmep/Xr72il4UDq+fO7pcAPygRH4nhMxtTMC+O+unao8perej5fYSeQVJTjjPvsHQ8/eb7911ZJ+2ogfSksykyyJDBpX3wFDA53QUPIz9iP6Li1TWGrPb7F/A2wcI01dtiY0OXRfWbRaHCcUtPRsaTSAa2s1+BhZ+nkJP3FkDxQ16np+rav+WtfhfaCQlhXBkB7uYSsPYXpaNsVRJn1sd1We9QSIsmnA/V9aqzamqTMK05H7XgfdRbi2WWxy+8OxbAmJCi3Dwtoxf5hoxMkcwgATI+OzsM0BhT+G6JZlYSZM4SZdCLoACkhA8Ae0sDG+Ahmj4AYbI6VgwToXQjLNdt7mdNEXytdkJC7GHze5uXnPc855zn2f5xRaFE5XIP2EFRRB8CNs5GhRzD/5LniNn/8LjHiJu0swE0Y5AW6yiOwx1oXTBZUzILvEbohhcQzWRUOI6Gxrc3w3orldnfKOFnGGBvPtreO9Ds24/4OLBvHzOZMYGGU4kpMj2c7l9OzTxMYnZWdohYJN0K0usXMDN4yIU00ts30Tmp9rUhPWYLInkY+MfLfgA0nIK3PQ/Q5F7xz8NhdIbfC1Coy6h6hDvW4PGtHofgX0oHM/AKMUrcbQVAMS5FOd7NqEds0AD6TrAIZKAn7JSkie/my5BPHmen64RcTx8itwAA5J0zxqq5LwhU9LdwgY4k/bPwMXGbvN0Ks6YdVVj+y2dVwb+t5RXNgttQ5yte/HNcRpMMCUtC/8fq6zSDtaetdyeHfKiY8TEwxN15KlzASuoMeT7dH8uWBfumfqQNLItpKKsgm6ZwQiLIq/nYHN9LRqEn8nr35rdvT/WC/XSuYfuAulJ0vyNR8WyR1aWITwEQyHCN5g4fDleF4oKBvLWp5t2K8rZJbQBOZObPiMys68rDfeO6g5WNI1rAWM8QXzUS1vA1lY6GtolwQTHin25lsU11nzkOmr2YtnOA8BuzefY8qu95lQT03cxtLhKQb1U28esItWqCAW1Gz9JCigmlvz5PO//LQCtL0tg9l7/onYFb3xrMWtm2DLloN+yY2Hz1FRHLYivKLzuSiv2AwBzFuOkmh99B3uKLsPSyz/H0T4YlOtUM+8uV59BxoJVNFY7nWC6Qh4CoC9QqXPwLVQ8xMd+FXSz9F/S2UFXN7Iu5r13r8Y2t5xYR6GtwSvT+YtKF/m7b5bXNxmNuIE3eH1bWp7cRXD7zVDkMHsZhIybv8Pw/EF0FlVoi19YNBuGxhMsx9PTE87LtnVN+rqmm7Unc0zn11+6pqkDW9e+4WezaDNNGwLF/4N9k0/EcML4tSzLLJiwzFwbyJrajVJmUy/kSFGJphb5Za9cZWyDDvLeelqitVqfaR8sUIZVK4M7gtyBfdZv1IqR6uVL0HjLm+I6rEAAwC5bp7nDWVuZHN0cmVhbQ1lbmRvYmoNMjU5IDAgb2JqDTw8L0Jhc2VFbmNvZGluZy9XaW5BbnNpRW5jb2RpbmcvRGlmZmVyZW5jZXNbMjkvZi5jYWx0L0NjYXJvbi9yY2Fyb25dL1R5cGUvRW5jb2Rpbmc+Pg1lbmRvYmoNMjYwIDAgb2JqDTw8L0FzY2VudCA5NTYvQ2FwSGVpZ2h0IDcwMC9DaGFyU2V0KC9mLmNhbHQvQ2Nhcm9uL3JjYXJvbi9zcGFjZS9zbGFzaC9vbmUvdHdvL3RocmVlL2ZvdXIvY29sb24vQy9EL0UvSi9LL00vTi9PL1AvVC9WL2EvZC9lL2cvaS9qL2svbC9tL24vby9wL3Ivcy90L3Uvdi95L3ovZWFjdXRlL2lhY3V0ZS95YWN1dGUpL0Rlc2NlbnQgLTI5Ni9GbGFncyAzMi9Gb250QkJveFstMTE1IC0yOTYgMTQxNCA5NTZdL0ZvbnRGYW1pbHkoVmVyYiBSZWd1bGFyKS9Gb250RmlsZTMgMjY5IDAgUi9Gb250TmFtZS9PRFFORlQrVmVyYlJlZ3VsYXItQm9sZC9Gb250U3RyZXRjaC9Ob3JtYWwvRm9udFdlaWdodCA3MDAvSXRhbGljQW5nbGUgMC9TdGVtViAxNDQvVHlwZS9Gb250RGVzY3JpcHRvci9YSGVpZ2h0IDUyNT4+DWVuZG9iag0yNjkgMCBvYmoNPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAyNDUyL1N1YnR5cGUvVHlwZTFDPj5zdHJlYW0NCkiJXFUJUBTpFe6eme4elW2BsUeZ3nQPBaLAgK6igOgGBDm00JFjYzjkHJBL2JFDRM1UNrpVmZTJZo+UWlEQ3VJEF09UUFFXV7IbDtH1wmKLVZMVXcFEX49vSOWfWUs3qa7pv/vv9773vfe+/w1NaVQUTdPTVsStXB6fFvyexZqfYimuKc+zhiyuLC90fTMqEq1M0Siyh4Acdr7NbH1pZiBuMmz2uvL2pDveFEPT3Fu69Pyi0IK88urYgjxr5Vqr+x5bWVVvLSleU23MmlmQFWicM/uducb8euOvLeXllXXGOMu6kuK1xtTqmsKSylBjTHm50W29zmi1rLNYay2FobPiU9PqqyzG2cZCSxFF0eSiPCnKW02JFOWvooJpKlRNzaOocIpaTFFLaCqRopZyVKqGyqCpXooaoKhhiv5QRZlIopSG4igjMfwLzdKL6Dy6lR5VSaok1UbVCdWQera6Tr1dfU4TorFrhpnVzAfMaeYpq2HXsAfYJ9xSbhN3T+urzdX+TntIe23CoglrJuyb8P3EhImfON/inSoew+NrX2rqaCXH0SKgisV7/9EwoGJ5XN9Y6zDX0bACAtVwX+8woy+HK32vBAL/NeP8kuPL7eCpFIAnfRjiIQOC1cpX4CngM7ar63DPMelfV8GrF35hAHrBEIaiEGguzZJ6gpjmozePD4h9h0vyzXFF89JkpOJRHYV+hnhlL8evtYE3/Aq8wASe3so0CEIP8CA/k+7+rpuC9TioksFXhJX9QD8fXto/f6+sG73R0t41YHgQfwdNaAxMqF0rdYcwzcevH+4Vr7a+n58YWr9ELkavFlb3z9vgsSFs5arS6BWL9xyLkfmDjbUgkjSSSQV8IEjdBKKgqFGEIBCfg6evkowZLA44cxkI2SVAKfQx2MfxTrUdIolNJN1NnLqhV3C9YBDrrNa8euI/s4FByQAD3Q6hasdE5YVwfk5wJ2pEjEAvZNGOdiArRIBmpPP8fXkJqJiCJbFFCaIpZRiMYPxy+FHvQFFBv8zftYNOSQEdfYOAXyQRHRHwTIBtqHuKNRJuGzfDNhZqQPcUtskYpMdF0elolMKUlGEWjN+m4yKZryQYMA88wdho/wlJrfTpQYejZLcVPLGVrI9A57SNmzkeH+Cs2pdUHX2X2MEGh1nAoHEfNtG+EbUWqRPVDFSctV8Eg4Hv+kknLsAbesIvnr39ANZgI0OesEvRQhsMMriUxT04xMAQBnE8lL32UUyudDyIIxFYKItZzgWYrSxgMIQkFaTksBCOj5h7ZIERhh977QedRJbKdj2YiF+g08riGcXKoMntVcXyMMkGU5QimOIqv0KRFiiejkwBt4bgXFyN2T9gGGyFLY8gDLJhtQnm4hbZ+VCDYtaPYACfM0+JLAwdM9AHDZkz0SDzzUQpf4DJkEcE74q/G0xqx1SlQoDQmdcxScITrtDERGYh6ccBCJHRpI8y1/xSwmnEaRp780p1lMxnNtYq/aT+sM7VgG+VfoGU/CvUQaGznzDv5/hvXp27JFfRY1jYOU4mVyRZHWaGvGOM8xDD59hAE1ULf7zzGGjvAxAAVeCv26gY9eAP/2DBL+kCTo8OaygNkE7NYPYOXt7RJV5rWrdSLuD+XPzuX5eLSEeYUSXrOpG6u2zsXvcXbccklI8KWSVNZ88caPn7sYu2Lfvld7mi3Kz1GSK/wQba8FolArSQXud9hMTb7I53Re+oQH/cybXlpLcuEtEjfA4mu1CXDb0DHrcvHPyiXdJtTOHIjs+/hcSSS2Ojhy71nOlYl3NExkQux5JVnSnyZtsLEG+D5zNamQm+auUQNAj2j1tOGMAQ+QQjcV7ADIzF5aCZBxJMHLu854SU9oApWx5btkKML+wY/kAGDlYLfW35Eb+XsZK982nbqR5CGktB85BQ7gWt7Q3rQWW+0iSYOd3jn5P+GWM5iVtaURn5XnDj7gSpkkjdOgzUhjtkJtz6BmbIBKCZwwPOCHc+su7x65SkNyk5J5A+N9WNgBeZEP5qyNcrTejvbOI+VJ4IZLZ5oYmM2Nxax29vkilA9xCbv735AjMxWyDmu9jF9t+gtlA67cdAaaf9kuu8JbiRobrOjay0kWQwisUorGKUheg/XkEkMJW79h3IWM7ALBYLoZ/hiagq6uivXVwK3U0bryDn8DTBWggaUh2CBangB2mkQp2Q7wIldMmmwuoGW/afbesQuz6zZMr4kBg95w7uP3e0Uzz/asdf4bgneT3IRESnlpRInfX5x8PFmITVpRaZb/ifEISc7tT/wd86cLD7yAXx4vaijNdgOQQsPCavLFviq22ghtugpttIA/8E09XKLdghQHTwGBFFXHAARmPMSADEQezIKERLOF0fULg8bK6le3T0yNXvh48mB0h8Ay6rhfTXUnAx2QwBusFXTNw1284Wn7xQRto86bsHsIz0FZLn38dJC9NLi3Il8MkWeg6lBkwvSU3MzGw+WSRDItfe1tHcIfL4PknRCOIWN7Cu7efprWd1ffbdsBCWSCByKH6yKtBWpeWNNlDBIND0UWKTQHKC69AvJO+M/vSkYe/ene3nbtbUdUqXfmD2pZlaZos4dfGyWb4jhUM1cnfD4KZcg3VtQ5459ODn6VJKAFN2GajiMRH0g1eejM0/OX2fzGOVjfyFXn4Opjp6BPzUzUq4MIAfsTj5fPrTvp7Pd7RKq14wWzbl1lvFmuqP2mX4GPyeox+YOPSrY3BaLMc3uEcMkZr3ZXfj/HTrlXA9+BEh+6GD1Z36r3KzfNLCpEPqNuyR//4M6F92ds1tHt9Z71/dunqXHF8IOJky/mAQ+57yYyHrb2BCFPzD81vgBw+I/T31z0JWvhBgtICS5UxggH1P+rPA4Hci63c9tu/bfuay/jZg+y3w+8tvge9fWPmMu79zf9/8nZtxjdiPsu/cvzezAXlHWT/8yfnN/X0l++/Nv4+yIooRYBlF1ZJk3ncjYHr7Lsf62xLoid9yrMCGEzwTngJlqWRY9n7y4zGaUqgfQUoJefO7wlk0zb8nAe0x/3obWOe8AkbjIlA0/jEHxoH5d/Gvv8VXsW1bNHHhnPVNbXPk1n5hnV7gtyBUWjM89De/fAEwBmEtkP1l3+XKKW+GZP8QEFVns3e0v8qqzvYV6LzvCmxIiR/oQ3D634GW/m9gpn+gmvjv5zANa5j2Y+G07xbT2H5nTX007afNlGnTvgt0s8stiJw5c+Z/Hs4JPFzdPNwPuL6rcN+auGIqD8+nLTy835eK/BQVBQgwAJPw3V4NZW5kc3RyZWFtDWVuZG9iag0yNjEgMCBvYmoNPDwvQmFzZUVuY29kaW5nL1dpbkFuc2lFbmNvZGluZy9EaWZmZXJlbmNlc1syOS9mX3QvY2Nhcm9uL2YuY2FsdF0vVHlwZS9FbmNvZGluZz4+DWVuZG9iag0yNjIgMCBvYmoNPDwvQXNjZW50IDk0NS9DYXBIZWlnaHQgNzAwL0NoYXJTZXQoL2ZfdC9jY2Fyb24vZi5jYWx0L3NwYWNlL3BlcmlvZC96ZXJvL29uZS90d28vZm91ci9jb2xvbi9hdC9BL0MvRC9FL0cvSC9JL0ovSy9ML04vTy9TL1QvVi9hL2MvZC9lL2cvaC9pL2svbC9tL24vby9wL3Ivcy90L3Yvdy95L3ovWWFjdXRlL2lhY3V0ZS95YWN1dGUpL0Rlc2NlbnQgLTI3OC9GbGFncyAzMi9Gb250QkJveFstMTA4IC0yNzggMTM1NyA5NDVdL0ZvbnRGYW1pbHkoVmVyYiBMaWdodCkvRm9udEZpbGUzIDI2OCAwIFIvRm9udE5hbWUvT0RRTkZUK1ZlcmJMaWdodC9Gb250U3RyZXRjaC9Ob3JtYWwvRm9udFdlaWdodCAzNTAvSXRhbGljQW5nbGUgMC9TdGVtViA2NC9UeXBlL0ZvbnREZXNjcmlwdG9yL1hIZWlnaHQgNTI1Pj4NZW5kb2JqDTI2OCAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDI4NjkvU3VidHlwZS9UeXBlMUM+PnN0cmVhbQ0KSIlMlHtUFNcdx2d2d2ZgkVHAWQpDd9aQNEpSUBSEQEABCaBQxKWCEJGnojws4lKLnkOOz7iNevCc9HVSoDE1EdRgKIlIAiwLii4vRSVIQakSqYmoEX93/e2mndWTmDN/3HPuzP3O5/u933tpSqWgaJp2+03M6qRY/Wu/zS/LWVW4cVO5Y1JHtDTRqIg0S0AKT/gwiU9XMPDGbNjl1unjOsedYmhapZ6TklWQVZ6bm11WWlLgn5tdVB5dunVHmUNElzk/N3OBLnDhosW6nB269PyiotIKXUz+tsKNJbo15dvzCkv9dcuLinTPvt6mK8vfll9myM/zD4hdo9+xNV+3UJeXX0BRtPxQsynKTUEJFCVS1DyaellBzWeoAJpaQlNLKSqKomIUVJyCWsVQaxTUWppaR1NdFHWFoiYoer+CCpR9UgqKoeZSedQeaojm6Jfox4pfKYoVpxRXlYuUacpiZbWyQzmstKuSVI2qPtU0k878lZlhk9iLnJLz5VK5zVy3E+0U51Tj1Oc837nQ2ehscp5Sq9Xx6nJ1o8srLrtd2ngc5W0q4ww9MqIc0YzMhLN8U1UHsZrogT7i0quEYWuGgOFLUIOVWDmBGgiH8JuggUqoDAYNhkv2hSr00gMPiZBoAlfwAq8OdMVETExFHr0kHt+vNViTK2iItyjhoMaanMJh8OLjmeDey9hdOL7AaCZTZrpjAAYsSvKeWbC5s/famie6taC+AXMG4BfeQAX3oduCZbmFGdqG9cyHDVcaR8W7HemxoZH6oGQJ2QikV+F87zSyluMP1xogyEwMFTTRWZSnIUgAGwZZIAgoM1LEEMLif22VzOARAZrJUsa2lONttHEG9s/QoyPKUXgoOGKwZaiepQH/w7eaQP25sQVym8GnBeY1uV9ohhQT/KkDNjV7jLc/XQDVAhw5iL4Qhx+JeAzDMAX34z4IxRQ4DL5XO4zS7+oZY+x6nI3b8VVYBqWwEXQQD9VwFFwxArdiXGBaWszBXpMWtnCP9E0Bq6N3bE3SHtvA1J47X9MuDtdujpGSuaN5UX9PE9+MWj8PVSOFvde7m+pPSRmH62KnRHDpBycI/KPk0dZu24QrBf3645dNH7ffar2wc99JCZVcdlZ6YYLI98n5JHSSHDmfK5pBFv9pTWZi5cGezAyy/ZDAwBSLkSRDAD+bL4NtLN9Q1U0edNN9/UoyRR4L51YEml4V0Rfn6rAaq2GuDnynb5vODUobW5iC1NDUYBFdgkABetDfkgeXm/9OLeiQ+DvyRo+Z6QcWoh1QWp3hkQCH0G0a12kx254M2SysA7dpOCTFajDzTX+M1aKWjIGWhdiv/TFT4v9gNMMHnXCg1uhQUZITGrNNBR9Aeye2y8MPZlukPZnjJ6vMZQYYMsEn3e59/STsksdOYtJcIi5Yo4csDGE9WjfmBi8PENE1GDhYDfoJB+XkrcSCdqnxHNO2wr8LKRFfQuEng7rJq62tXRJ/Xw7vm07oqnDYcJYZTmss1uQE7LI5Q1eCPdkC3xBnlsfJ552XKeENufIJDi50NlhHKuiH8qkKtyYL8fbX2EjjO+icr61LYyDoX8aGh978yZ8WPtBYIIOdBjXU4yBzg8Uh+AHOwCQTzuJ92yKGLErg+FVGs9Xz2efkLxozfm/1fPYr4H6UIV7yq1ZNv8xgm2ZtGjLNvCVjkmm52nOqusijLnlfSXafktCOk14ShsGYgek3MARKoOQGhEA6ZIRBMJZI9tdVGLUGRPkKCOsEH4iCKDP6yG0PT0ERoyS+qspMHpvp3l54LHscIt7CKyeD6m57jw2dHr5wc9uWHu2JL5n6JL8T
[...]
