FORMAT: 1A
HOST: http://www.google.com

# DAP Services a.s. API, version 2

API verze 2. Opřeno o model3.

## Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PUT` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

## Typical Server Responses

- 200 `OK` - The request was successful (some API calls may return 201 instead).
- 201 `Created` - The request was successful and a resource was created.
- 204 `No Content` - The request was successful but there is no representation to return (that is, the response is empty).
- 400 `Bad Request` - The request could not be understood or was missing required parameters.
- 401 `Unauthorized` - Authentication failed or user does not have permissions for the requested operation.
- 403 `Forbidden` - Access denied.
- 404 `Not Found` - Resource was not found.
- 405 `Method Not Allowed` - Requested method is not supported for the specified resource.
- 429 `Too Many Requests` - Exceeded API limits. Pause requests, wait one minute, and try again.
- 503 `Service Unavailable` - The service is temporary unavailable. Try again later.

> Čas ve všech položkách (pokud není řečeno jinak) je unix_time plus ms (http://www.epochconverter.com).

# Group Account

Práce s účtem uživatele.

## Přihlášení [/account/login]

### Přihlášení uživatele [POST]

Pro přihlašování je použita Basic varianta http autentizace (http://en.wikipedia.org/wiki/Basic_access_authentication). Pro přihlášení je třeba poslat jméno a heslo oddělené dvoutečkou a enkodované pomocí Base64 v Authorization hlavičce. Hlavička vypadá následovně:

> Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==

V případě, že je uživatel autentizovaný, vrací se zpět json, který obsahuje autentizační token.

> Token má omezenou platnost - v případě expirace session, je posílán zpět http status kód `401` - je nutno zavolat resource `account/login` pro opětovné získání token.

#### Práce s token

Token je třeba předávat při každém požadavku v Authorization hlavičce ve následujícím formátu:

> Authorization: AuthSub token="token"

+ Request

    + Headers

            Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {"token":"40287ee649518e890149577d1524000sda2112123"}

+ Response 401 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

# Group Scan

Zdroje a operace pro snímání osob.

## Snímání osob [/scan]

### Vytváření snímání [POST]

Seznam client_data_id:

| id | Jméno                             |
|----|-----------------------------------|
| 1  | Jméno                             |
| 2  | Příjmení                          |
| 3  | Datum narození (rok narození)     |
| 4  | Vzdělání                          |
| 5  | Obec                              |
| 6  | Email                             |
| 7  | Důvod snímání                     |
| 8  | Pohlaví                           |
| 9  | Skupina                           |
| 10 | Věk                               |
| 11 | Pracovní pozice                   |
| 12 | Id snímané osoby                  |
| 13 | Id zodpovědné osoby               |
| 14 | Společnost                        |
| 15 | Language code - ISO 639-2 alpha-3 |
| 16 | Country code - ISO ALPHA-3 code   |
| 17 | Externí Id skupiny snímků         |
| 18 | Volitelná položka od klienta      |

Popis atributů pro požadavek

- name, description - název, popis snímání
- state - stav snímání, kombinace ACTIVE, CLOSED, TEST konstant (oddělení čárkou)
- scan_area_id - zaměření snímání. Možnosti
    - 1 - evaluace škol
    - 3 - komeční snímání (základ je 86tka)
- module_type_id - verze slovního modulu (odlišnost základních slov)
- scan_module_id - id odpovídajícího slovního modulu
- scan_mask - maska snímání ve snímači, může být **null**
    - label - text zobrazený ve snímači
    - editable - true | false
    - order - pořadí na obrazovce
    - client_data_id - viz výše
    - list_items - možný výčet, zobrazuje se ve formě select prvku

Popis atributů pro výstup

- scan_code - kód do snímače
- id - jedinečný identifikátor snímání

Jakékoliv dotazy na Scan probíhají pomocí scan_code - identifikuje snímání v čase. Není možné mít více snímání se stavem `ACTIVE` a stejným scan_code.

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

    + Body

            {
                "name": "Scan name",
                "description": "Description",
                "state": "ACTIVE|CLOSED|TEST",
                "scan_area_id": "number or enum - jedna se o typ slovniho modulu - ciselnik",
                "scan_module_id": 1,
                "module_type_id": "number or what - jedna se o verzi povinnych slov ~ zakladu",
                "scan_mask": [
                    {
                        "label": "Gender",
                        "editable": false,
                        "order": 1,
                        "client_data_id": 8,
                        "list_items": ["1", "2"]
                    },
                    {
                        "label": "Name",
                        "editable": true,
                        "order": 2,
                        "client_data_id": 1,
                    },
                    {
                        "label": "Year of birth",
                        "editable": false,
                        "order": 3,
                        "client_data_id": 3,
                        "number_from": 1993,
                        "number_to": 2008,
                        "number_step": 1,
                        "list_items": ["1993", "1994", "1995", "1996", "1997", "1998"]
                    }
                ]
            }

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 1,
                "scan_code": "scan_code"
            }

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }


## Informace o snímání [/scan/{scan_code}]

### Získání informací [GET]

Popis atributů pro výstup viz resource scan [POST]

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 1,
                "scan_code": "scan_code",
                "name": "Scan name",
                "description": "Description",
                "state": "ACTIVE",
                "scan_area_id": 1,
                "scan_module_id": 1,
                "module_type_id": 1,
                "insert_time": "1412840432000",
                "scan_mask": [
                    {
                        "label": "Gender",
                        "editable": false,
                        "order": 1,
                        "client_data_id": 8,
                        "list_items": ["1", "2"]
                    },
                    {
                        "label": "Name",
                        "editable": true,
                        "order": 2,
                        "client_data_id": 1,
                    },
                    {
                        "label": "Year of birth",
                        "editable": false,
                        "order": 3,
                        "client_data_id": 3,
                        "number_from": 1993,
                        "number_to": 2008,
                        "number_step": 1,
                        "list_items": ["1993", "1994", "1995", "1996", "1997"]
                    }
                ]
            }

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }

## Informace o nasnímaných osobách [/scan/{scan_code}/scan_data]


### Získání seznamu nasnímaných osob [GET]

Popis atributů pro výstup:

- client_data: 8 (pohlaví) je číselník: MALE = muž, FEMALE = žena.

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            [
                {
                    "id": 1,
                    "module_type_id": 1,
                    "affected": true,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Jan",
                        "2": "Novák",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "28"
                        }
                },
                {
                    "id": 2,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Jan",
                        "2": "Doe",
                        "3": "1987",
                        "9": "Department 2",
                        "18": "Item 1",
                        "10": "27"
                        }
                },
                {
                    "id": 3,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Jana",
                        "2": "Doe",
                        "3": "1987",
                        "9": "Department 3",
                        "18": "Item 1",
                        "10": "27"
                    }
                },
                {
                    "id": 4,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Jana",
                        "2": "Nováková",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 5,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "John",
                        "2": "Novak",
                        "3": "1986",
                        "9": "Department 2",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 6,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Evelyn",
                        "2": "Novak",
                        "3": "1986",
                        "9": "Department 3",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 7,
                    "module_type_id": 1,
                    "affected": true,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Ruppert",
                        "2": "Everet",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 8,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Hana",
                        "2": "Muscular",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 9,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Daniel",
                        "2": "Architect",
                        "3": "1986",
                        "9": "Department 2",
                        "18": "Item 1",
                        "10": "26"
                    }
                }
            ]

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }

# Group Result

## Generování výstupů [/result/{id}/generate]

### POST

#### Popis atributů pro výstup

- data - výstup přenášený pomocí base64. Typ výstupu je určen v atributu mime_type.

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

    + Body

            {"scan_data_ids": [1, 2, 3]}

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {"data": "JVBERi0xLjQNJeLjz9MNCjQ1NyAwIG9iag08PC9MaW5lYXJpemVkIDEvTCA1NjIzMy9PIDQ1OS9FIDM3ODM1L04gMS9UIDQ2OTc3L0ggWyA5MzYgMjEyXT4+DWVuZG9iag0gICAgICAgICAgICAgICAgIA14cmVmDTQ1NyAzMg0wMDAwMDAwMDE2IDAwMDAwIG4NCjAwMDAwMDEzMzUgMDAwMDAgbg0KMDAwMDAwMTQ3OSAwMDAwMCBuDQowMDAwMDAxOTU5IDAwMDAwIG4NCjAwMDAwMDIwNzMgMDAwMDAgbg0KMDAwMDAwNjM4NyAwMDAwMCBuDQowMDAwMDEwNzA2IDAwMDAwIG4NCjAwMDAwMTI4MDggMDAwMDAgbg0KMDAwMDAxMzE0NSAwMDAwMCBuDQowMDAwMDEzODA3IDAwMDAwIG4NCjAwMDAwMTM5ODcgMDAwMDAgbg0KMDAwMDAxNTc2MSAwMDAwMCBuDQowMDAwMDE2MTU3IDAwMDAwIG4NCjAwMDAwMTY1MTkgMDAwMDAgbg0KMDAwMDAyMTE0MiAwMDAwMCBuDQowMDAwMDIzMDk4IDAwMDAwIG4NCjAwMDAwMjUwOTMgMDAwMDAgbg0KMDAwMDAyNTYyOSAwMDAwMCBuDQowMDAwMDI3NTEwIDAwMDAwIG4NCjAwMDAwMjgwNTYgMDAwMDAgbg0KMDAwMDAyODQzNiAwMDAwMCBuDQowMDAwMDMwOTEyIDAwMDAwIG4NCjAwMDAwMzEwMjQgMDAwMDAgbg0KMDAwMDAzMjc5MCAwMDAwMCBuDQowMDAwMDMzMTI5IDAwMDAwIG4NCjAwMDAwMzM1MTAgMDAwMDAgbg0KMDAwMDAzMzU5OCAwMDAwMCBuDQowMDAwMDM2NTUzIDAwMDAwIG4NCjAwMDAwMzY5NzIgMDAwMDAgbg0KMDAwMDAzNzQ0MiAwMDAwMCBuDQowMDAwMDAxMTQ4IDAwMDAwIG4NCjAwMDAwMDA5MzYgMDAwMDAgbg0KdHJhaWxlcg08PC9TaXplIDQ4OS9Sb290IDQ1OCAwIFIvSW5mbyA4IDAgUi9JRFs8RDA0Q0UyOUVGQTMwNDU4QUE3NUI0QjlCQTc2RjM3MjM+PEE2MTc1OUFBNTM0MDQyQzQ5RTIxQ0FGOUE0QzVCRkI2Pl0vUHJldiA0Njk2Ny9YUmVmU3RtIDExNDg+Pg1zdGFydHhyZWYNMA0lJUVPRg0gICAgICANNDg4IDAgb2JqDTw8L0MgMTE2L0ZpbHRlci9GbGF0ZURlY29kZS9JIDE0Mi9MZW5ndGggMTI1L1MgNDI+PnN0cmVhbQ0KaN5iYGCQYWBg+cwABH0sDKiABYw5FjAbu1R0IInLQDEDQwQDL48D20JWjuL3zE/cD8SYbPBlUpUuXiZ7xoKdkS/AU2gFY7M78xuVBQyRM4IO/REWgJrAyMAw6TuQZmVgkJAF0mwMrCWikiD7OBgYtr6FqGDYBhBgAK/FGKcNZW5kc3RyZWFtDWVuZG9iag00ODcgMCBvYmoNPDwvRGVjb2RlUGFybXM8PC9Db2x1bW5zIDMvUHJlZGljdG9yIDEyPj4vRmlsdGVyL0ZsYXRlRGVjb2RlL0luZGV4WzkgNDQ4XS9MZW5ndGggMzgvU2l6ZSA0NTcvVHlwZS9YUmVmL1dbMSAxIDFdPj5zdHJlYW0NCmjeYmJiZGBiYGAcxYMFM84dDYPR+BjFo/ExGh+0xwABBgALTQe3DWVuZHN0cmVhbQ1lbmRvYmoNNDU4IDAgb2JqDTw8L01hcmtJbmZvPDwvTWFya2VkIHRydWU+Pi9NZXRhZGF0YSA3IDAgUi9QYWdlcyA2IDAgUi9TdHJ1Y3RUcmVlUm9vdCA5IDAgUi9UeXBlL0NhdGFsb2cvVmlld2VyUHJlZmVyZW5jZXM8PC9EaXJlY3Rpb24vTDJSPj4+Pg1lbmRvYmoNNDU5IDAgb2JqDTw8L0FydEJveFswLjAgMC4wIDExOTAuNTUgODUwLjM5NF0vQmxlZWRCb3hbMC4wIDAuMCAxMTkwLjU1IDg1MC4zOTRdL0NvbnRlbnRzWzQ2MSAwIFIgNDYyIDAgUiA0NjMgMCBSIDQ2NyAwIFIgNDcwIDAgUiA0NzEgMCBSIDQ3MiAwIFIgNDc0IDAgUl0vQ3JvcEJveFswLjAgMC4wIDExOTAuNTUgODUwLjM5NF0vTWVkaWFCb3hbMC4wIDAuMCAxMTkwLjU1IDg1MC4zOTRdL1BhcmVudCA2IDAgUi9SZXNvdXJjZXM8PC9Db2xvclNwYWNlPDwvQ1MwIDQ2NiAwIFI+Pi9FeHRHU3RhdGU8PC9HUzAgNDYwIDAgUi9HUzEgNDc4IDAgUj4+L0ZvbnQ8PC9UMV8wIDQ2NCAwIFIvVDFfMSA0NjUgMCBSL1QxXzIgNDY4IDAgUj4+L1Byb2NTZXRbL1BERi9UZXh0XS9YT2JqZWN0PDwvRm0wIDQ3MyAwIFI+Pj4+L1JvdGF0ZSAwL1N0cnVjdFBhcmVudHMgMS9UcmltQm94WzAuMCAwLjAgMTE5MC41NSA4NTAuMzk0XS9UeXBlL1BhZ2U+Pg1lbmRvYmoNNDYwIDAgb2JqDTw8L0FJUyBmYWxzZS9CTS9Ob3JtYWwvQ0EgMS4wL09QIGZhbHNlL09QTSAxL1NBIHRydWUvU01hc2svTm9uZS9UeXBlL0V4dEdTdGF0ZS9jYSAxLjAvb3AgZmFsc2U+Pg1lbmRvYmoNNDYxIDAgb2JqDTw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggNDI0Mz4+c3RyZWFtDQpIidxXS67kuBHc6xS6QGmYZPK3N+y14YUPUPAHmG4bbd8fcEQkpVLVPM94bTygnlIfMhmMjAz+2H76w5/S/rd/bz/9/nvaf/fP7Y9b2vln+8/Xs1zyMVPfy8zHsLa7pSPNvFtux+ht/9dftr9urc3DPf/6Sz80utlMR622j5qOMp3P/rz/Y7M9HU2z/7z9QAaRRx75qH2MveGr3GrZn981zPftMXFjj99v26Ni0P1h+ej8j7HSQOgHZvBj8FE9LPn+3CLMRzJ8x8Dw8Ji4+W0rvItoYDF2FFdgWBHWc/0+t79jOQDrsLor7/KZdp+4WRvSbkdyDP1K2zDHrLhG0kh3ZuRZD8dSAFr3ov9l4m4/snJzZJAxq1J+MOOMjxHxU4TFEaZjYKmPclRmZG3EMphy5myvpLtSBJzvKU8Hgs2Qsh25Z3ulPDGckC6VMyHphgUg6daxfkBcCHivYyfGmN/xwoyE6yT8pUTC+H9GSK7nHesnTQ4rhDtPDnQCPW45Y2Il/ZFywwN3pNyP0sCSK2WBXASyMO47IbadEJexL4QJ8H7BG5Q44X0EvkxX/CK+ZSe8Wq11DAZ8FaTc7ggj+4G5I+l3NtvRHCTuKR85p/HBZtvjN5jRkQdY7T14jLTJ6rmYXE4mnIlfxFhkvsekM6iR9DWWy3IAuxfMjw+0cbv8EuzRD8+zI3dM30q+5Y7vkcDCXLUIOgv3KTZ7CuRF7oBb0CP1SPKsxsXmhT1i0VnY58VnYt/6vuZ8BL3vqdsXqQ/MPeyL1N9GESljRzkF5/Z9bXzwYCUWGvJKW2syrgmbhTDYpRVzC52VEWjckLIraxYji/IXJam8UdWgNuCq97z30BHWIyfo+6klhPuSEiUmIfG5si77S/lKZyD9DGLHWoMvISJJAuK3UvSq9PDqW7KlQg+g0Ei2HsVAlCtZjE2JgKxY3weEMYAsBAXtZQXPDbweS5rxrB+oEsJfIDaIwFAIj9Zh7XBxyMSVgcmamkFc2zxqaVEYjDOY27nUjAGLYVztR8W9FWnIVq44G9pZZZQwT67IvEFusEDuWi5HAy3xEmMIG6BCJhklKwlM0Aa9g2aHmecKnlvH+nxFFRVdOAY1HpODcIbtzizoAZZ0bR5z4UPnuI5OuqKMpROyFaLiBtQGo9VWtfsGJhp11a6Q8yfzKw48KOuxO/p0iKDnbv/afkN8uXkNuoB2YO/ctEPUxHBsnp8xcK2F9Zb2kpZKJWpdIhUH/gM6Nk7V5NBaGVdWF8lMIbbCz7DXfVjMoO6EvR9F1ZCMr8dCft17vFblGXvQoY+dA5Bk92WBf2yEmAqtC1pFxvCfnwEoh06EVZwPoee9Xh9GxE6xLrP2fX1zDeRx+dzWTIrSejnF92gFaK0ParKHBMMmQeOxKaMF0vAeX9yAkrT2wuW1cod+OIqsA3A0nfcNLQXioh1D3si4gL6gEgg2YtbaqXSJaoNndQTdK22IY7d7lVBZYdsi8VjMSVE5SpdjkxNaoTpDp/afz0e0LTe1jzPEXC2p1OMGYBnlq9X1AacB8SBdrZfy1gIon+XowCVjssZyolSBcaOfAatycOYIJ0xx9FjqOXRGe24qc5aqddUZK0wWxMgYkLTAK8JPsfDIMHwMtZyvSKI1a7tuaGHiyBj5jIJPa9Wd/cTIBgDbMrXSsVKMi+JfwZOOiIxbMfa4YB+ZmKnWaDbCwgQewBXTfcei6SUiYnEx87iH3UUFYY3M1oXNCmT80OxWiFJzApacDeY1+PNjj2omiY2mGQCmMm8Ow+UWQSS5erwHotFdhr2g8Y16WQFUgZ2C3ge0T/2LO1QVhfEJNrffQheuiBteq0jeyUVwBA5qivpJrhKlMl5yeV8LaDY7+Qb+ervxLcfRBLqH4oi2BVpMDsXK0vVTHqKXFUo+5Y0HzSvVk2DkTqwRsoWXy5Gww/d867FNI65wBEewA2o+GAINYHWiGC/r3LNicFm9jv7e+XXDWii6rAiQqeJIRSfiHj5I/Rdioe5TQBbcI6Dc/it4SsTtDFnDmV8NZEbAc6yYDa5pWcCfNJ3Cf23RisAFcWmFKM+Es4esRJRL5+bSrq/gSR2CI1uhBW5oYq4jk8F/P9hV6xfbmgvai8mRJTYgu5sca3LXDpFGo3VtgEOckG/L9YxkNYxzRQxkZwpby4YQURXdn9sKja1RZHCu32VOVgQHMEqNZsG4OMqigsBYVekyshZ1syLpExM4n2JrABU0HDyliaGgYhSRASyY6tfTc/TiCWDQDbyF1YH8411P45olIu5cRms6HwJeBBAomjkFtC5V6SgEl6gZMEfUDDV9PyMQhH5yWyHb4tQXvYQgZwlRjf3PsquAxc4I8szm6FihOk3jmQo3b4eem7FBT+kJOeMHG4cvXjIE6Js6+Lfr+pGrXBbvgERypJ939H5mb7kurbD799tL79HkieUWazbyq4W0zuiKUzWzIvWDUvr1FAhPPWVJYfm0CEDWZ1tHL2pq1aFAUlejFxRAhpF4UKUtRpE8aH3bGZFr2Al7PV5YsMewRa6QzlIzrThWmK7/izEw0HQeqmvBFmG8xS5ICx8BihXyk653XlePax1njJRRkMhTx40iOwjxUyVG9NwiwzMmhXQcYTvXAdZoBrhxs64Wqv2No5PySfoe/WpIpZABo27UgJnbFZHmvb2e0k2iuBu7rjZ1zC+46A3vzFL/n0xZWseJ+XHW5YEMeaOfsjDvVTfVJPULmmIhVe6o1yhmWQI/1LV5fKS8JV/HXXXBddxl5ibvwvNuUsSTrqnhUfuNbiWt3/469H55AsodFCuUJx6B9P5LKDD+PIUiB4ogSZNf6V70v8zBxpOVlwtCWSeTr9SpiEZKyjWKa6MH7U1BpSIda+pYo7ALplyXgbtn3N8zntCAigaHlnmMXG+uBBoRJ5SiUxRdA/JHzqproFuIda9SfcP0KOk5I19YTyYYxUf+nJFJYbB8qtBBvYC2yMecGI9fZFw/MgaLHZ2gDrSefDuOCeHQAgFMV+lNKtJpkgJeortf2AYXTmwfAS6TFbEILg+W1Uq0Y6M5cAV0WL+J7mAnA6h1wih2tw8K2x6/QQka7sqaDvIiZVJ5LvqWkwJn0hcjFoPvMTn8OAmtCiSjF76P/wnmwYMkdLYCb1hwv6WedAxZcKv+XNo4uZPU7BSgi9SBtFCPDrM8qVYdLF6wIxaNBXuOUhTssCRrzkew+jP18pH6YKu0L1J/G0VsjM3kFJzb97XnQYGVWOjGK22tybgml+YHsbRi7qCzJAKNG1L2W9qhrOl9ISIj3eWO/YBDuMTZeTZdCkKwLwFRWpIPHe9c3e+ldYU9M0kxg9Gx0iBLSEeSavhHpvaWZ6mVnR8nwN5YzPNueOuUJ81qrK3cThy5nEcRuc2xdLjIs8HrP5JaKiJjz2lxQm1w+SSPeqxOEnE8ims09FpaFARjnLC8c5UZA8Kh9qSN4CFqRRqylSuGmaVxRpQwDxpxhgplWhsLc6mTjin+Ru9ttGUo1bC6nf4f79C3eJ8rYEcdw1eEDrzOUhiKp4hOw9UpXNsAPbr2jbnwoZy9w2OsCIZDh54VPmhpnKPVFiddc7l5ussz5PzJ/IoDDwp57I4+HWLmudH/ZatRP9w3MjL7KO+M5AmANTvUJD/jwiOpnMhe0hKmRHlLJCCsS5KxTF7jEMFlMq6sKFKYuvsf7qslWW4chu37FH2BfiVK1O8kOUBXdjNTNbn/IgAo2e5+byrZTjbvNW3LpigQADFP8S6cL507vyApwrGPoh6gxG4X8a9yM5ugMpR6VCLK7z++377d/7k6qIzyd3BiSwSs+8u2AL0W80SXQSZY+M93ALR1jLHtuInayPTHwogoDOtn1pGvNceLPH5qRuOXFKX1cIr1YH/o6IM87EG7dOt0cXm0qHSj1/x0AZ62tbMu585dTnjcG5GRkv9/vGP/L+942V0fHAIn4Mr+QgWutE/ShAbjKoeupjnQSCdp9B2wIYflHc6PmUJWyeGcABiYOpxdal0txuaS4zAiBiAtMPUwT+w5QhSLK5B4RuKrmFrjgjYmjIyRdxR4Wrvu1BAjGlBYjncABXeK2c52ENNIrztGUxWcIxOLIY7+IhxL1AN1xef+xqZpHyJiczFzXnMQL/qDIsNsXbVZgVwep84I0WrOgiWnrJwvf76dUc0EsdEgNyzsF/e2h08NgKxrNU58KWiOwviIflkBpznsknZnCCCfr5BVFMYSHG6/hK66aso1rxrVTBiB5ZqCfpKJBFeNkymve4EuzU68IfU5L4KdYwQB76E5QrEAi8lXsbP0+ynf0MsKRZ8ywoNe1TR3QjQ6a82pEi8phwuhrvd8kdemN65wBEZwAtIdvALcv0Qo3pc136wYWJbM0cw7VzcAmKSrGRUYAFHQf7iH95H0gizohpE70IKLrCjP/wieYnHbIZs4c9lAaqx4ji1T3Jr2hQMgTqcOYJ3RigAGgWmF6M+ESUM2Ivql83Rpz1fwJBHBhq3QonCYyVzzkcFzP6io9YtzzQX6YjJiLGH1q8GxRosLv9vRHMl1Ag5iR74t1x3JZhi/FTFKO1N4WSpCRFV4f95WaNRGocG5f5cxWRHUf5QaasG4OPqiAsHYVelyrxaNsyIRFBPYd3E0KBVIvCDnTHw2vkVoAAymBHt6DjGeKAzkwFvYHPA/nvU0jq9ExJPL0KZ9E+VFAIaikVNA21KVjkKAiaQBY0TSkOr7jgCQ2cN0BTeSzOUOSzByFhPVOP8sl4qy2I7Az1RHxw4lNY1zFC5eJp2Ls4Go9ISc6yRvE+kHD6H0TRL+1/H7kascFq8ARHKj71f0fKa4HD+tUP775aHXaHJMucT6GvHVgltnyOJUz6xIglBKP+6iwlN32VLYPj0CKuuzrXmLpFo1C4jraohBQcnwJg6ntMRokgdtb9sRsYaTsPP2qgVFhhq5QrpKfWnFscN0/F+IgXmm9VBfq2wRxlOUQdr3CNCs4J90PHP+ehz72DFSRkMiT40aRX4Q7KdOjOh5iwx3TAhpFKGea2o1ugEe3KxLQ3W+MTEpn6T1UPwhlkIGjLqRA2ZuR0SY93bepZ1EczfKrg51zC+w6A3PTEDlD3JlX4+4BXTgE7TsDiXMF8GkVw7zLB+LfVS5o16jl2UJ/EOqzcmR7MZC3SI8h1wmbvIznHKTIs63JsEj9RvdSjr+Pt8y7m8ZY0SoSMoriIUUeuEJvH9unshRRGCkya90L/pf5qDuZOXlqqCsk8lXaiqikRJxjeI650F7g+8iCZD3iC0w3VyXf7smXF8TLujpXuj1oWKF5LcTBkPEgFI0RNE0IH2krK5GcQtL3as43/B1NPSckS6cJ/OL1iN6dmTiF+yeHPRBtgCzyMbsEo9PGZfXjB2U0LDSK1LJ4wJ/VTioQAWmq8Sj7OFOkxTlZXXvR20DC7u2jygusxWwWFwOltVKqLHRG7gCOqxflhedXVsualofqb1B2O7xNyBBw43nKUSq72CXUL8E37IhsJM+ELEQfI2JYWAiaXV0ICG9Kvz4rUIXroAZ8AZpzzilM/ekOWTVWw3o4sbJsyRnp6i6UB2lVtlDYZYp1bYDxqvuiIVj1T0vILPuyGJ98xG4fk/d3lLnNERIfkr95S3CY5wmP8Fv+30demBgJfa83X8KMADFqIYnDWVuZHN0cmVhbQ1lbmRvYmoNNDYyIDAgb2JqDTw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggNDI0OD4+c3RyZWFtDQpIidxXS64kNw7c1ynyAiWIEvU7xqx8gIKNAabbgH3/xUQElVn5XpcPMIMG+mVUpiSKDJJBT7OV41lStuPHwzyZ2TFS8UGYU13zwJ/h5WjJG0BJq6wjp4wVVlNedrwe/3788fjXIx/6l8bxn8dfhwnZUWtJvfd6uPfUrB2vn/qS/z+1g+Ms7j6Aub2OdAAeXA9ZdTxp1cJZDpPrsS0GqIOgdKCK/SsMmAur0oTROVmfMioX/27oVzPXSs2rw0xsM2DUZScwNnxaKjaOmXrt8lilM0otG7we1tKc7Xw30sh4Rx82Ipuws+sK1pNbgZ/N+fVc4+ip9PPZYAnOeD02LiP54C0LNqyGfRWHht820pa9XrhYcm9EGeeUBsv7UVbqhdEqNfVm/Ij4x6PAS7CklDSwcUt54CW/OQz7jLXB6zFwP9+opVUr9yjYCod32D3TKAXfTbBjKG60hS+d+/roJyq4Ol224ROea87dGrZm4A0MxOlW7YI8P5tfOPzxXHCwoqOlU8Q8A/051O7cYC484BaNW98paUmMxFYGr33H8GmrDTgfNSt7+NhSy0yZib9wW0/Z+Q08wnsSN74mh+tRcS0uQ5zHtDih8QjEfVYlQTZ+Hpf4S7aZrZwafD0bKeXH378/fjv+vF9rgF8koA98kfP6ci0lId20BpzmYgv/+AlAt4Fl/Xq5UhntWhgo87N4LIr5XnNt5PGIr+Ikobw/zrE+gz+LKx05+ZO4gXjPihyYPTzdkTO//jCRJP3tl/fNZ0ck5sTN8ZD715vXipqiiMFuWFwRdNAI5JpxahusbplFBu/aDKo3FI6nI9qjqT4Z6P50ko6JnIVqqnRRVtE6IW7oaSBS13syp2kzQzqeEGf1rDSPH+AWRP/X2zUk5kL4RVfHue/LiVbPmgbcUnBWZyaxSoFwc5yACTl5cMCVVqY18JSxjkyF3JThzFIbSjEmFziKTCVhwNGKGr6Q0iUYisUNRHwj1avV+vWD7iWKzFlOFHTalx5sIUYywK+9sEw6KiT2Rd5vAKOqCLcxcqoijDTMlGoDOZiV8uEPuBXH/cSl12wbMbdoefyG4CKBcEda6/LNBqhI6BTrhMgjp8Oys628N399D1H35Eq9huLIBnHFiH6GA8Ej8IZ+beAZDoky54tpo3TZAEWBTQKkx0V7Hh9+YVERjCUI7rhBl1+BOz5rMN5JRXAEBWGJ+aQrd2nzXSlvdxmkqSOZwFcR9LwKQsc7oOohNaJhgRWLOzGv9PySahh1QxXPpTV1ErVKX5RBVwOyb9dLg8Dx6EHRCBUFnKg9TzyDJYiBOg92QfXfbSi2RBa4nRhsVqODjkB9pfdAYVZd5gTo1LJLw7iH+FHzRbVQ66mgC36jS0mAC7xUxe2ETOLCVROW9Sj3vDS7W9fNEAESdSkCO0gbgQ1i04ZI0LzWIR0RCTMYXiVggBcLEWTYhhauGyAIyYUkRqjZUtuHwJZZUT5YoStSaEGP3BSOoWhiA0eVRpd1hcARfNjbSzuRdAa5sTE8u+BDhNfYEQI1Ef712NDYG8UH5/1dymQjtP9ZW3QL4upIDGRRwq0q5FFXJJg5G6lC0YDzLUIDV6GIV9hcigiLXUQGsGCpYS8v0YwXHIN24D10Duo/vvU8r1MCMXIFvel8CfcCoERRyQlQtzSZIwguibxVVUNd308EgqwRqiuKY1pLK0aNklxUilrEv0imwi12IhRodkfHDdVqOioShSHj90uM60CxMHwPrU6xVm6FCK7vauE/rudnaZJY/AUkkhz9/ou+L+wu16NVtv9x++grApsRojfWaeRXjzRe0aqWcmYjdYRax/UWHl56ay7BQo0Az/rq0WFVVZuGARW7Ft2gwmXYCYWYSJek7u0nItcQCXu/3r5gl2GT3JCyUidtHDfM19/NGKhn0MuU13JbwPiKfZD6PQCSFeUnX9+8n57XPU4Mk5GQsFOzRpUeRPFTJgZ6PcLCE5NCmkXY0LvaI73IwK22m6jiGyOT7Mlaj5Y/VaVgAdEw1oBV+oVI89HfbyknkdydfVdBnetTI8kOP6MC/B+psrzvdh8nBvsLey76KdPyNuFSKod2lozFNZrU0WiRypIEntS1OTmyuGXfQ6664B5yabdJu3DKzULMblO7Y+U3qpW8/x8fwjFYcjoV0URW6pt3acCe6ywNJfwGWnRplOFVf+uabDVFtricJrlk0pIahNimVatmdYV2UtJU5CbMsq4eNSv7Xi5ti7ZvVlYOMZCAEzwu7SZ2UQhiDqmalagNOBO0SF44sdKlo6m0G05E3q4VJkJh0qbIMJLkRKYyghuz1CQWBRQQ6ZXTlZ+q7KisCRA5mDngrFuRlSMjyeVHCkbvKg+DAii8SCcelwsjzKcLn+FDGijO0IccGZvV6LPGru8CVE8fnSiNg6RuC7pvgCFfGWlH/B/Rpn4GM9lW5MZJzrMbiY31jO5p6BXsTcg7JiWfJz+VTiTo9uPzH92JstJYotuCmjeOj5e5WZPEdqtSyFXcFqPEopvDueJoeFTejRaxdaVuGqTc7gUWK+XeEtkk93KkjTOfQdJP5qKcoT//au2XhSJXxIm78jg/djgjutuWyPa3pbqG8RquOh2c0SUZKCfDwwE353xS8mFoAU2hCma+FybWbS5zFVHnFLnznj690l6mKOk1iLm61LsqVU6dWbUtCBq3Cx5Ewmflun+yjtzkHNbYHkZZdznalhRjUdvr21eV9y61bCAtOHedrFJUnE2zGh6QsSP0mCA7NDiZoQ4onR/zSzwjXVrtwXDigklzsG8XbAj9OLJczilnI23Z64UhNSlrgTLOAZ8Lykeh8LCQfppDTPgHlbFRNCH3QogiqfUNVYWPtQH7HTTcRuiPe9LBVtT4g3JosPpg1M2YCxkt2sKX0t1ovCcqmkxgSsAnBYdzt9ZjEjWX1qb2OyHPz+YXDn+wAkd0tHSKg2d4P3dIJF6qjASJWHzWr0SkQGdGTnWx77hyaJRQOGrepSazYGXyDrNnlu7L3kLjawIDbkweMpfV06omAJRFCmueoCaCuM8q6rMfnk3+L9lmtiCp4OvZSCk//v798dvx5/1avXPC8aNnMtb9y7XAvR5yf0i/ki384ycA3QamzH69hG+kyWNhIJb3/VgU873m2sjjUSMUTxLK++Mc61HP0QGx0pGJKqoU0xRZZfbwdKcU/OUHSM7e33553xxKJw9QopMaOfv/jrQb/yTt3rdbLB4FHoKXkGDwwL3Cs1aicnXWPg0qTWWKKnicgBk5rZxwgSbRKFmuKdAJTCnONLWhHGN2STcYGQOSVmjuFT2YFMXiBiaWC6lgxVAZP+hi4gjq/omCT/vWg+3CyAY4ltMXSMHExOhlJ4hhYbQTI6kq4kjDYsaiYgjdEf6AX3HcT1yagiAQk4uW8zdH5WWlxx1prcs3G0ifcSgMiFRzOiw7u8l789f3GGG+Hcz5NpGEJNRbM+zZUPMZ/dqMA1mOOudUpJEvG3DYwi0pYKYI8usvrCqCsQTBHTfo8quGUPOmScrEEYioJepnSUHUqvmpT69O92fyDaavdevTJWYE1D0kR7Qs0GJxK2aWnl+SCKNuqPIpCTupOE1jIbrGoK859GGTegkOtvNRbv21a8f/cl8lSXIjMezer6gPqCMX5vYSP6DDt4mJmPn/wQDIlFRu+QO+dBdKJYlJgiAYcDpHYHaXJg+eAfWPMeQPLNpAAoPMGnT04cbbOxgsM8qfggRQCvoOM/c5Gr5QC5paBA/+40umlAQ4wZdkPG/ILi68bSI2prz4mTneug6GCpCoywe3FykQ2CA2BUSDJiwJMhLeMIPlpcsO8EUlguUKmD1z2KBM20yGjT44U5+cInYE5EMGDDnkwL1ZnNzpYGFnB7ojmUpgUHbE20vbSEYj812OkVqMHN8E2kZNhP/6CJg5HEUHAwOZNWsb0RLW5uOCGJM5YRm1T5yqDjnV7J0TSArFAPZVlAapgopXxFxI0ManiA2gwdLEXlZ8GoPbL8wD6250MADwW0vzfIsjVq5gOO2LSC8AJIpWToDGpSkcQZCJqgFrRNXQ2LeNQJA13Ha5OGK90x2juiQXSVHjjuNIxMkbQaCHtthqmjWdqxG+fF5eRuUuCZ1aFG4y/RSibFpOk7TCPx+lyWPxG5BDfvT3b/T7wulyfsyV83/cfvSOwGabN6y3kV/dxXX5XFzqmUCaCIx8X0WGl66ypXB8mgRk1laPdYqq2rQDSOyaT4OKlOFJ1uS7OprkoPHtG5FrqES+LkcuOGU4JAPSV+pNgf2E6fwfjIF9Br209ZnS5tB/xTlIA+8AzQr9Sedvrk/HeY6NETIaEnFq2agyhJA/daKjrw+PcGNSSMsIB7qW0kw7wMKtFkNU9eWmFPEk3Y+RP6VSiIBoZGrAKv1EpPno11X6STR359xVUed64CJmB4wLbvuLbJnvE+ltnxidiwqebDa5odz2CXplN8/ysThGkzsazVtZlsA+NbW5OlLcmKcPh9duy7iz/AyX2yTEtTZr3lH5M91Kir/jSRrgUfLK64U6f4412l0a8My1paF43kCLLo8yrOp/XZOjpigWU9Jkl7K8pDYhmidpFXYslXbS0mAdQRDQ6+lhM8TSwrN91y88GPkwKHtB8c8gQSZfRKqWJZoDhIww1bxIYmVKcUqqQmY58IPlIcJhMibvMJJkoywZwYkpNZ8UBQiI7MpO5bPKsk5gibVGtzWvKJVJ73Ilko7RuvRhVI1/ppFZfJ059DrvHB6eREYo0jCJXBpbrj5oM8e+CdA9Paax07/jBNZg+ZSGN0rC5emvl5sGGtTkXFEe6Us6x5HoWHd5d6BntYORd0xOHpug6icyNBJ5/DGfsJwLa4h1pCyXu3tO2iQiq2ohk7gtVomimzy34qgnVMn1ERG2Ugd1UkZ2gcVKZbc4LYVoKuKlh9P0KVxuvZjw3+N9u1P08kLxsXyhvaKeXt6Ixvv9ilUHyTyISamdNDomK2XkuKfglp4nL++RwqiYQaXTXZqo3LzNJKPGPTI6n1k9G1+hqO21ipnm1KVLldMtSd2coX46J4K3fFK729OAgL/KszA6RNLnuBvStuQZiwZfr7edoNS9LMgNzlDKKk8FL34kjTygzJnQfYfscOHkRq7aNun1fYPxz5i4rXbnOHHBsjl4uIIHw0LKuxftOYH0zF5PDLdJZwuU8CJMyoL+K/Qe2d2fdpEs/A/NcaZvQve5F0Vb6zc0FjZWAI68OS0QuiS2HTyKNn/QEQ0SENsuBYnlYiy8KOttMAGB4Ai0lQQ86DmMT2vdl9Fsstu0fxvy/SnbiT0fFGEvj26dIuGu7/OQnFgmx8QkRY6QJ8vvTKRHZ1NODbLfceXaKK/wqinEJlGyEtsD22eS9UvW3ObznMSNl0ld6meuWgLgTemt+QbNEdR9VnGfY3PP+f8UW84Lrgq5no2cstf/Pz9+vP69HWslNFhBCa3jwSu9NxjI193xD1lYsoX/bAPQjQ3az4uQZdlyv9ERBT4+FtU87uEtK57nn7VH8V0OU/w++SMg6piDuNnQjZJWWmparTK7J1sT9dsXMJ69X6m5Dk/KL3hHkAy7US9/gcG7na4N1h6nMwzFUuqbylMvYaOQF25GXctapqQkyFgANuXMZUNM4uTTkpJNm06Q1eWvXwIMAHqgiv8NZW5kc3RyZWFtDWVuZG9iag00NjMgMCBvYmoNPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAyMDMxPj5zdHJlYW0NCkiJ1FdBjuQ2DLz7Ff5AKyIlitILcg7yhAayAXb2kOT/QKoo2dO920CwATbxXHqGtiwXi8USLZaq+H6TnDTr/raJJnHFBUmllX0kyYw05Sy7pTLeo/t20zSsnRduPQk389S7HpGm1hrXzlBKEhs7ntSmu3iqdXDfIkdw37BG3Y5YeiqOBwFMcLElN90zlv2+5ZTN8XTD675sPY1uK3rbJvJ5zZONuiNHoq2pix7BfQN0HUeYU6mOpHMt++Pm9+237Zftj13w4ozfMbC9+tirMZ+y379svPNlu2F78CfJcg9aTQQcZIugAsatko0jkJEaknzDlZ5a9hdXQFyNcD7S8YKHsAatiBuWGbBXQyVK8jwQDDyK1JS7WJdg7TkVydlAadW9Vkl5WH1PBrVjFjn11veGigEdJMC93Nf/KBdY87JC6GYAPZ8pnZEVsqFOrhFmbFJSRwlvk3lNzn1XGfDG2POI+5QJirDr3GVAK+UI7tRrqXLEgnIhfc3MiE83aBiEAi2WQga5UoG5klBBqUYokr9AD73gGkmlAs7gvnlSvGOFeAUXIgkgI+llJg0RbC0yQw2oVLwW7K0yrQh6CDmt8GZgfBD20THOAkcHzuC+GQTWj1AmdQ6JUF5JGordkKa9KK2DgOwQcS1sSaj+rCxU2wY3qM3RHrlGCWpuxNvUjghImWI/YjA7wCHKK+jQFVlIHq00Q2RjOfRQoUGyVu2IFAwViwaIuFS0hkHEyAogpUUl2DsrAgALAMddlAZUlYayAw4V2rhLiAEqGIhYjfAydD+IKQVZdsLKvXNtzf18y4xYOdV63gS9COBRw1YA4M0CToTQUoi3hG0IW7QeEQQyuHKFyHSMeMLRCqg4X0RjQPorCuHIESnoBOEVGRqZbrAk0N+lv6hxB79qLnAi+iS5Pa0ItxqqlMMt5v83BZvwWl6BiOAO316J9WC2+PmvYF806sOi5whqRone43gb9dVmG6NpUaDbiJ5ZURwJpfh5FwyPuCuoHtI3sABm64i1y1ehNdht2J3N46CAMuwEJ2YUScJB4SkrotZQCXm/vbjgMSN6hkAx37TimWE+/y7FvMEVB90AfR20zXCu4kE4/AjQrLCffK55/+925nHEgIyGBM7CToRFCS1boxNndN8mwiOmhCgolKfjhI2Du0VYhq1TNOoL5srCk+N5nPk9XAoIGLnQA4a2M6LMvb3fzfgPzd148EZR+3ihxVFGsor8q6OduPrUIh5DGw6kAyph1VB0sTid4GHoyhsa2lBf9KhI3LNu4bzW2Avg3vkstQpYFa2JWoDtiAoEFK0ytJ9haMZ5GB73e0wQ3ExEz7BYnLJrQkG74LBhZWZ2mTNBZPj5IVMFG2qwIx04BwqHobPrcDhCa/yj0RKAHG4IRumyqBrnH1THYevwmxWNTEqPGOqgthCGgXSdwvMWrt9QRhx4JUw243DHrBLI+fttXZQnH7WrHFsMr33wCHI4lkfgRb3FoUQe0a2zaW11Z/MY9Ua0CdbWcCl66xvDViMM4Dj+VTmGKCSKw8LqxM1pJGtZ89tXMGHc2uCDOlg4f5iq0N7IEpy2GIUAtPnyy8Y+jhEChRs9jnNYDtxTp477KEHzAjneA9foWxp4kCBhv7d3MttLlCXaqGSOPVxygAwqp2cGk5xF6X4jnGvS2GIaDhLXKUgWDxJvk8UanYmQLMpOEkPdnAMkDhdi1PqaRdrp6Di+Mhsf08WzNDlfmI5Vb1ce35KXIgvHXuNMwfmm21HfE+ntEaraU9wGDQOzlkxZxqGvJUouE3NYyzeI4VAgkoid/vF4hOX4sCCz5rOZsswhM09pxjdKj0kapGJCosf7bP4aiaxWup1zSG+xFWjVQEWOA75OkqcE+D0ztfoKsdFq7AXipycpMmp+bctCzheGIldrx5DzFdjIpUQuNb5lrEWa0yD7QcADOy+lGjChVR1Y7+PZj+OxHp4a5Yk9eQxG/Uf0TeDQaP5wVMLU/cGdMJpIHD9vG/mEkUR2UwzMmuMHydATXw50dNVHR3XHlNbtdFS9tKO64wvDx+mo45qO6p2fLCjgctR6SUf1ziEOSS5L9atZqjs+M9RtWmq9vKG6Y5qr9oEMFb2Edd4ubqgTZvdrGSrQJY+r+mSp+HBKrYAUqVCo1X5pS62DNgNuxdgp2a5pqQaBtuB0xFfUFQ3VMrBB5xALR9VyNT9Ff8PUGgGyOWq7vKNaxupR0YcNX55e5fKOallTyeT4G8RXctQJ09lPLXku/RKOmhe6z9tPP/8q+6e/HhC3gqGab/gIptrwsaok69qmCgugmOqlXbWh4D3LdW2VyhS20Iex1VYz6kuz+Ci22iqWF0rmu21V/ktfnTjtR9pq+35bTcCPHx/x6/ufn2iw+dlgJaPRKoxTMRH2kuXSDgu0Fo2pg98G1v8Hh7V/dljJ8IQqlaxWsOPlkh4ruWFdRRIl51Rc2tVMFvXmFyqGipIr5DnG5V0WtVckroRM7MMub7OAXFP2+grypXx2AYWv6MADPvQqA2ySAPn5Aaxq5jToH2N2VUHlLfeLz64QXNLW5dKzK0jnyHrZ0VVlpDJ6/TijK0hPOJ7qxxldVfHhqqDn+0fX/9JRJ0xq9ceNrv/KUOOaPRmqe0HL22mofmlDdc/Q+bi6oXrH0yzgNFQZl3RU7w1bI8mrWqq7Jsx8dliqXd5S3T2Naj/YUve/BRgAnj+RHw1lbmRzdHJlYW0NZW5kb2JqDTQ2NCAwIG9iag08PC9CYXNlRm9udC9KT1BXQ0krSGVsdmV0aWNhTmV1ZUxUUHJvLUh2Q24vRW5jb2RpbmcvV2luQW5zaUVuY29kaW5nL0ZpcnN0Q2hhciAzMi9Gb250RGVzY3JpcHRvciA0ODAgMCBSL0xhc3RDaGFyIDg5L1N1YnR5cGUvVHlwZTEvVG9Vbmljb2RlIDQ4MSAwIFIvVHlwZS9Gb250L1dpZHRoc1syNjAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDU3NCA1NzQgMCAwIDUwMCA0ODEgNTU2IDAgMjc4IDAgNTc0IDQ2MyAwIDU5MyA1NzQgNTU2IDAgNTc0IDUzNyA0ODAgNTU2IDUzNyAwIDAgNTM2XT4+DWVuZG9iag00NjUgMCBvYmoNPDwvQmFzZUZvbnQvSk9QV0NJK0hlbHZldGljYU5ldWVMVFByby1Dbi9FbmNvZGluZyA0ODIgMCBSL0ZpcnN0Q2hhciAzMS9Gb250RGVzY3JpcHRvciA0ODQgMCBSL0xhc3RDaGFyIDIzNy9TdWJ0eXBlL1R5cGUxL1RvVW5pY29kZSA0ODUgMCBSL1R5cGUvRm9udC9XaWR0aHNbNDI2IDI0MCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMjQwIDAgMCAwIDQ4MCA0ODAgNDgwIDQ4MCA0ODAgNDgwIDQ4MCA0ODAgNDgwIDQ4MCAwIDAgMCAwIDAgMCAwIDAgNTE5IDUxOSAwIDAgMCA1MzcgMCAwIDAgMCAwIDAgMCAwIDQ4MSAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDQ0NCA0NjMgNDI2IDAgNDQ0IDAgNDYzIDAgMjA0IDAgNDQ0IDIwNCAwIDQ2MyA0NDQgNDYzIDAgMjk2IDQwNyAyNTkgMCA0MDYgMCAwIDQwNiAzODkgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgNDQ0IDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAyMDRdPj4NZW5kb2JqDTQ2NiAwIG9iag1bL1NlcGFyYXRpb24vUEFOVE9ORSMyMDMwMzUjMjBDL0RldmljZUNNWUs8PC9DMFswLjAgMC4wIDAuMCAwLjBdL0MxWzEuMCAwLjYyIDAuNDUgMC40M10vRG9tYWluWzAgMV0vRnVuY3Rpb25UeXBlIDIvTiAxLjAvUmFuZ2VbMC4wIDEuMCAwLjAgMS4wIDAuMCAxLjAgMC4wIDEuMF0+Pl0NZW5kb2JqDTQ2NyAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDE3MDM+PnN0cmVhbQ0KSInUl0GPWzUUhff5FV6+LJ5r+9q+tlRVoi2gikKhHZAQQgiNVCHRIvj/G865fpl5SVNWLBxVmtSJYx8fn/u9mzX7nItbo29V3YfDKj4ldWvwLUW+XXviKJbMlxCivSRx94c/Du8PPxz+cdEF/ItOtWOeVhdr8klzdPcfD/wIf/ff/HDgsvm0LHaUsaE4qqknNfcHDKupaCXya8l3FVd91Yxh96W67hsUFh9iczH6Hqobm2FywOefk9nUxVy9Bmk7mdiLX2tYnUvCCFuzOO4FJdxNnOmALRRSNpnJnVTyDMpRrRjRz+7G6XhscTx1oRaYkR70QZ2vpvDPndbcsYfAktTFNwk7S9fmS4RxeEnUuxYfg5hgpYfBl9IxFK84D0Rtox76kGzjR83Ddlsqea1tXD4uE9fDZaFWqTmW7e+nzmaI7AnOpk6LscGjWvoqMIJKIbE17AeLsR9NRWjwwuzQ1Kp2D73z+jA3YxIVNotOq9mGJpzG4iaYoeS2mI50jayFKzJLUF/N0wxvEKgHlc1nhr/5Ghkw6KwaqTMlGAEnkxlbe+Oo42Kzl6RDZbf4lk1jfxwoKgmWFnpJD+BoGtW0eXktpSV0nxFzCcGLcspJpDmp5qQZWZh+SKGNyQ0XaWK1nHZe1DpMPHm4DhMpkNW4FTs9LKMom0VVR8HmqybmXrxqpcCMZPZ+kczsGMy+XbdiFeZzC6SwCqygMOIJtut9ULrupaZyNmYNrfBT40il0SuJ3XgcmqNedRSzexYoVl8yjXlQvEOGjloKsZ94wmRWMdLkEUzcC2ufu6wXjFr/R6CWkLwE8/hS8UxAHTKVBYX5im/PANTA8gv2djtjKnjqY8z9NphaJfocepycqTXDqoQqmRqqoL7vxRAwJ1WrYH7BXd0MVatAEYvjZqhapXtt5vHMVB0ytc1G1ZJN3nmfKoVwynIbTJVScfiWT0xtczJVFBNr0bmZCozCAdFpmSql+dRRFjfDVKliF3szSJUKZ5NZPDNSh0xEby6kbl2qnhG1R+RO6o0QtePeIXJ2ovYUEU+dnKg9CUBa5iUqggR32u0AtcdsmboZoPZYfQptdqAOmX02oOJdSvRVLtpU7b7nqLfBVFUWZZsdqcH3InF2ouKnVIzTAhW5DA3zbwaoDWuEW+pQW0EMzeGZeWoqs86GUzVxwaczmEohlzK+nBHPktvUNJVScfqWXSwsk1DmxKkoJlZUTszd55amxCkQCgOATcTFh15lNp7iselTR1nEwvLIdXqg4peeXWysySfNcXqgSsWjKtHiTxTPRNQhUwmp6jVImwOppg7zzoDKn1Wt5GxAbWmPf6Q2JhZ/FBkX2erQm4JdWTEOCmYl+JrKGKVaTfEYg5zFJJ+GWQyodXCJnvqoRhFAhEnN299rbR+6U5VqOO2h7SsMqkiuE04FsyBYu6U1I7t44TlgKftb3oIYCagwcS5zZXRSq7aUq+FUgW9kFq0Sfc06ZNfN3KvdaULDV3Bs4lTZAOx4SlDB0hTLoFUU27zzIYFdumXYUAUnwYEMdzeeBo5SzkNlk92oZhK1JjrYsQbW5QPr0c7rDWryceC07qFvVp5oKsJdFeijjawGukgT1ZmHeTCKJtLDNJBEEylPB02plh5uNHXj5tf/6vDRnfKiCFNJvV3GkqnM22XHxr3J+tU8pAuF5KaHyNs6hD3oXPdC89mwQtzKdBowutpTP6puJq6f9TLiogKmx4pyZnovUQpTex9lpE05FhQpU8lHVGZe6aeRVAb5WTT5sYY4FutR8LtikJQ7bvaa+IG80e088DBd1YtneOWz91Lv2RctW+PcXJVXGMeGI4vxpGYUfHkUa2exoNgQx8SF85x8yipKdzNg5077rE6WkiKllySNfrCFctZtQe5k1Z6RAFNhHJUN9xS5g1Jmrah242hgcFjvIwc8c9swGvcY9caCwjZgj1L8oOo56m20pqpsbtrknWlHDRaJUzemPbEC4rR9KWKJh1e5nba0YY1wS21pK4ghHZ66KzWV7BtnakqfvPv797/c06dPvn3x6iVEPnv2/OULhw+e38G8XHY965O7+BvPcfcen+DlHuceR4uuBHZ86DEKQYCau/t4+GV5foSFefniaI3A8vaIS5bly+OakMPlpyNPrct3fDsub45Ikyzv8C4eKMude22fp/FBWb4+rsr/w4vlDl9Bz7b8bFNk+Z4b9eVH945zbRqX/Ao7obg4PaLls7Xx9jd4AX2XV69NWF3Gq1JZxfS3R9QcJv/q/hVgALp2nooNZW5kc3RyZWFtDWVuZG9iag00NjggMCBvYmoNPDwvQmFzZUZvbnQvS1daQ1FHK0hlbHZldGljYU5ldWVMVFByby1CZENuL0VuY29kaW5nL1dpbkFuc2lFbmNvZGluZy9GaXJzdENoYXIgMzIvRm9udERlc2NyaXB0b3IgNDY5IDAgUi9MYXN0Q2hhciAxMTYvU3VidHlwZS9UeXBlMS9Ub1VuaWNvZGUgNDg2IDAgUi9UeXBlL0ZvbnQvV2lkdGhzWzI0MCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgNTU2IDU1NiA1MzcgMCAwIDAgNTU2IDAgMCAwIDUzNyA0NjMgNzQwIDAgNTU2IDUxOSAwIDU1NiAwIDAgMCAwIDAgMCA1MjAgMCAwIDAgMCAwIDAgMCA0ODEgMCA0NjMgMCA0NjMgMCAwIDAgMCAwIDAgMjQwIDAgNTAwIDQ4MCAwIDAgMzMzIDAgMjk2XT4+DWVuZG9iag00NjkgMCBvYmoNPDwvQXNjZW50IDk1NC9DYXBIZWlnaHQgNzE0L0NoYXJTZXQoL0EvQWFjdXRlL0IvQy9FL0YvRy9JL0svTC9NL04vTy9QL1IvUy9UL1UvWS9hL2MvZS9sL24vby9yL3NwYWNlL3QpL0Rlc2NlbnQgLTI1My9GbGFncyAzMi9Gb250QkJveFstMTY0IC0yNTMgMTA2NiA5NTRdL0ZvbnRGYW1pbHkoSGVsdmV0aWNhTmV1ZUxUIFBybyA1NyBDbikvRm9udEZpbGUzIDQ3NyAwIFIvRm9udE5hbWUvS1daQ1FHK0hlbHZldGljYU5ldWVMVFByby1CZENuL0ZvbnRTdHJldGNoL0NvbmRlbnNlZC9Gb250V2VpZ2h0IDcwMC9JdGFsaWNBbmdsZSAwL1N0ZW1WIDE0MC9UeXBlL0ZvbnREZXNjcmlwdG9yL1hIZWlnaHQgNTM4Pj4NZW5kb2JqDTQ3MCAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDQ1NTI+PnN0cmVhbQ0KSInUV01vXMcRvO+veMe3h/c0Mz2fgOGDaTmwE8VJSCAIKCOQFVmRQ9G2oMhAfn2qqmdXtCJZgHQIDIK7W/Pd09XVPVdfHe5fHe4/uFgO9y5/fHS7fPLJvQcXX36+pOXTTz/7HM2fXR3uXcW/hyUuV98dtrCHjF8/LzEuAX/4KmE3q7a0mvfS23L1/HC9/uG4xbTb+vVxK3tZf3fcGn+Pva9Xx80yvv82h/xpueSgzn7b4/rFcUsdczAu9j2t6I1o/j2+Gr6/5NK2t/X0ff+4VQz/yzHg8/L4zdUdm7549vTfL56crbKTVT8d/PADc0pcOm0YeXnx5PDX5fbw0zKNW1rZq8W2wK69JGvL4+eayc+kKTjbwI1k3EFZNv/yz8cHnKulcerre63jNMtB4CD/uc0On7L9Yr3tvKBvNnE4TQpa6LvDn/EXFv/7110rwp7zgBFjjzXX10ZsWMLQ15abQ9pboTW9FqB/arm3ECPfIQaWLb7d3rEheRKdJ2G5eozWUEiVoTEDBNlD12XCzX2QKOuyHK++fwcHyxscPK2NZRPXJxlDurtDj7uFWLBDOe1wvT4M1kSVtD55gR8BJLoFx/ax/nDc8vrtEUavD60UEsnWm4eW4zGty6tH5KWtmNT2uj6b8JbQ1pfiY10fHQvG/irt6ofSro6yj1Hjb5p2deCa7obOB7CufTzr6oiwOOb30q6/m3bjTLvxNtrVYectrtcffzjGCNL9x7+evXx2RPf6CjrVQKIYnXNjXb49UvceiYcvjgmDnhxB03QeW/a8ipUY/OoIKdLgRmZywDM05dl0+1IU54gy3sPL8aG8zKXsLab6m+ZlLgjjwoU+gpgxfDwzcwF/Wn8vMZFrX+8FYyDmvld5Y7P3C2Qudtryer194mr4lImWgqZs/JIyF8EtXgmYKG28PWZnLSTv/6CrF5dhubiElcvlxR8PcS/Lz0hID9DwPf6/Wq7DYt+E5R/LHW/HaLBjIO21UvcYQr7j8Bh63mvoQDeHS7j4+n+n58Dp/S3Tg6ZxESTWMM5LntBckrEBFX/LwRBFA6JiGemqjPLLg+FiVWS982DWMT3lt0x/fbC2t1DPS56QL/nrUR/2QY6dPl48vbt3aJA0Q4TEPJhp7+4N9jWSs3d+4r6CqIbfhWuV2hGdRALsToWfoyX9Nv6uTYMsjgU7QQJu4O4AY/OeqBT76Kg4EffaajQcSYCTQhXsxshFDGRMQKVZcCAQPAWeek8IVXAV97ZEuKFU6knas9kS4WduCOInFBFgo2FFqExKfUFJmhsUqaAPFzGwOndllQsjgVvmVEQQtks4DAIc9I/YAChBd4CyJaLcXBVrE6xVgjeiJnYOBXNxXQmmW+RYBAYXol5UbtOxvhFXnBjIWiPqoCtQw1dKuA8ZN2Q6sMHGG+IC5wBnuJeVOaQCqPJionsOsA1tjAaU+MlwkK5uEJowgU9b5HmIIKcajKsq2BrvAWNKQHbC8QEH5sK0koVqTrr0wDsjTqbukQXJ6A3GgGKCbgUaCu6NDWGovzUjzLgRwjE0nI7kcJqX2GByOCKxV8IEF2w4cm46aAx+FtuxKz9xkRuXIei0GYDXCli7j4VotciGPLg1WNR1RabhIhFQ9GPD6b34BWb1NpwXx+ma2+Ak+aYVJTY0lCh3FHGfL6IR5OnOGzdQKYg0g7dgcEAV+7qzkQ0glRrkbCNFiOlexx2xjgaDNZshEnCNgNA7QfgAVO84LJcDLXAhaChDvYNB1PnuA4SNOCRgaF2jcSM4JNzekIe4WRYVGVfG+UVGgCWW4BOr8ijfgtV3q8y9kaZ6N4MwYk24BFoeqH1IbOIltR0WseIp3p0Y0UEOJbSaFlqd5+gMl/EZZOotICziJGShmhJQcloSQ1dghPnCOFNz2SDoecExPYKBeVQkuea6AQypQu1e/RAdZETpJM+xrwOl13NRSCE2bPYioBkL0fcZqp9CmWMpVHj05jT3KXSLzNPVFOb8LNOrXkAsiUwMxK0zi6GhFz8lCcs9QVSTV6qogPldkEoNWP06SH/sUuRwrVT3ROUQHSq1Kpc02cKYQ8PQSuBWlTqlbOJqhxoAlmqTq5RXuCF2dZeg7l4nsxmpA24fc3SMakj8shkB5PEQbASlOBOZ0VzcojoDgoLqFZCKtjTkQOLUxY9ETXT5Q4k74y6pEGTh5GEtp4KtPGWiV7NgyVMUEhjGhsp5FL1UhamkxKUL8m44AQ2tzhYP9SwOs7IKuJEbiViiHqGlZpdQGR9NWrkh9GJy3IdWnbGnlq5MwSwm6UYL/Qocgq/ZdQlMQ9lxlCloYYpjS2PGi0VrCcuk4pmDp3JPsqW3c8uNWlLwVavboj5vseI3x9zIb0khrr75/SbPyUzsfqHMY8pbQ6ZRwQp9W5vnoFZEBNE/Uu+ipz1KhRw4lBWrIyZWcjL5pvSSEmxz/9ckSlt1wlhR4h7de0MbnrqLiW8MSGV5ocxG1nbiafQMAKYkPXtY5wBlrgyWRy8mxvBXUPGxQZ2ZVQfvvEsuAFpQqKDG5DgoA1IOD131DAr0IOJQgaQMszWVQ/5WGho0yH3cMvUGtB1xPph0xWiE7eD+c+E4WKVlcwdZZW+iGSI8UUg251ItsW7M7q0uLZJdYnKSNBWvJtDAqGWDc0FcJGwTupLVOZqZgWduZXJomF5nibZE1gqc59EBzpkYA0vrpGVX7E0uVt4rrJGnkV2aVDG3MiPHeNWwr9kMHAk3C8iiuOlFE6pCEKEXHDqBmBW9tKy6ta66ULAJ9uij2xw9sc3Oid6AfjRoXvWlg/Sf1aYflRFEVaCQM3c77FXnTufKSVqVlCaoKUMFceNmLIxoDlJym4VQGrri0LUXy5wu4vDJQVjrcJ847E6rOusdkDGrIWeXwcTqDkesXljZkIdnIKmhq6HPuku/k4OQHOY5tkU+ElJVqQ3JjaJtY2ABlcCcaN31ueOhkST8XoaprkWqixJzgzaYJyaWaFA+xE2fQ0tgKmbVfOMYSRmn6T6YbyYcpfhCLE+Lqv05F55BWNfZ25jyldg0ln0tn4dmwXTaBqepqscc84VBtfb0wyW9SqB1w1iyFJcNlqAIIEiMCm1sCMWHHKW2eGJiKdTtVL0GPmfC2T4oDQ5Crevug5b0jmIceJpKhM2TvDym4WP6F+ejrM5amQFPzY2nLBdADDYkm3SqXtbVcwN4FalSTXRsXA9RmoZggFxGjyLnMstBJs3qCZGlTJylDGDkYaEbaQZOY5HI0mbMwGFxE2etw1ecAJnNKDNNzjnOGGVmZkP1EC7dobJiV8JX75jDTw3NZr+jfhf5G4J5GnRiQzmn6eCzJS+QJ3VbrEJWtXXsp4Q7gtZzHzLd6q3b6XLoYqWLknhAGPm6Zal/UuHuPhj9lJtNTir/5bpMciwpgiC6/6f4FygU83AFEAvOUBJCSL1gxfWxZ+75QajVVWWRkZmREe423JDgu3w5CR925bzDuNSIigyk39F2GcW9q8fsOnM2Ps7lFO+qDjRoaQrylJXRQVwDqvyYmr89V0sQVNPGrQU4tvs/xRrZS+umN6tPdgTVqd6q6U907W7jUPVxh1FN1BLlXG0OXLPyLXPR8LR4uJT5zqzHZ5LmtN0911vkg5qVJBbcaK30T9WBsXqd9i2Uy0MdNpYDEXZQ++P1++u3V3nHv19e9f239uz9q8Cf+v/z+/XXOwSczd96EbJWx8X9a+d/+F791JZtPbXqpIs5UH2+/bcIrLgdvl8gAy63yU/cCn9DuNdOAj+mshCh00tauLpG7a9S0QzVJUbTr7qmj97jJmyI4Omu1OJ2oTSPRQgSUoG2kM5KhpsOOzS7dqo7PUZukS29pMu+bIkaNHaiG6ctK/0cpme63Nz/3IqDPW/Rgw9x2Xkim8PmbqhAhSKXYYcN7Vbl/KpvPEzdNo/ioNJrmMbFg0Ru27UifyZ6Rm+rXV2XFgidYce59auFm7U95dMb7dHD3U4EqoW3Fl1L+1q02leNk2uRJaJIVdmizvKUoQoLJi1RZ9r6hs+OqiRX6NVi8j5sZIaWT0AJBp3DaI3g98KegVswKkmDe0334nltBPDjLab2jQF8XaOoO3DgQRus7ukc5LcDDc2GhozwIledgYiQ9VqQpWAtLc2I3srPvdMdYDhSadhWy8mja139xDOIE0ji8Ra5U5uLSChdig79zNjA4at45pZRpOGdfTZ7hr7un2b1ccx2Mx1CYpwtO94RUxeNMynZdbn6TlQjA+gSAz7sTomAo9nBB8YmzRJum11AJUMMQ50BtrDbOnQy5maAcNIJkBPUMZ5d34gWqBaDRDtit96ZDHnZcCnSV537pz9CVdLh+758onb98bZFNCJ1lbgc0oEMf3XtVAURtZirDgltmDMuk2hdvs2QWMVXj5w9dGTXNA2aKlj1CWZVaDUsTouyBF/s0O7xYK1pB20A5BC1zOhgYZYqzdzBG8INvr8rFnFUjDPMva9h0dq/90pT1Bs9r1as4JIB9HtUjtqnMnMuRNUfB8cHcCz+PG9NZBl/+oKXnT66K1C7fofzwZmxymkr85VWRnC5FMKpCMLUgiu2g/LXW6YP3E+S8sEcLgfnvxGGrUfPaeD6SaqtdSNZdtfqITThJXvW6nLU3A6TNcyram9lZXeH21Jvzq7VA41fPTuAOr6GGzBnVKJEIcmt+iLmHPYq9tLXBwhuafjhxJT2ObPvmtOb1pG22Idq8XTTO+k4pCYp4MlsS3bY1dsi024nQ/HWCcdTHr8698qRm/aYGo4sawdDgtoRV507ERJ7n26udDRsgc89j9ubOXI+ds/UrRHOteLz45nHm4AMjcDVn6IRJI6Rbf8501UI+5NmKAerWo9JHGd/RtImlnjqqo/zs87hAGfsHNrIb1Oh/Y5hC01G2GND0THr1vWnwWCTs107NGhPF4LLH7tfa8geVOEDvFbFNIEIKzXZ4qWckgV2x/lj9L6CPryEaeG+J65mmBRzddcbDWmVNxoMqruu67SGAqhSYLtjnyM0eLKqvIaZuO6QFfGKxAQcuA72/JguBHZxq5Tj94sZiIhaNB8lx8gJYk/duCjM17YdYh+ljJ50qX3tMnyjsr1h6r5lAL3JDrhL1f/DuF582uhxRH1xtaVNnwNUWn9cOoFK1DvivI7ZyF/mWm4mp/kkgkLfMhDV4GoE7oTBZStnow2ses+sotun7RxfU3EL3Bf9oarrrhl968rCPO6+rMbFzuprfNbL5h/vt2f2Dm6avdk9W8fUjYWc7pwzfcNyE6r5SsAoIXQxzOXyrh07w69IlMBTY/bO2Yl7Xkz0PzgzXrYVjy4t4+WOpdJD8IJTqdQ74Fled/t4J7NVs1DAKteWePMyrBGfI1HeaYXa9RaX43dhdI5L55JeMULrxpkEPFFYKx2PynF4YIwgwoa/0xJXWKt+fcLZSh44HjjpvPx3C1BawJFzdyUmtGWzLdKtLttNawlNoqp6Ixj6KGo0U38YMTtbiV01nXexQw9pwqSJ+9Q5J6fOghi3yLzgRjAbJybPCdozHoRBnU+4Am8CIPEyEKJvafNcru3xmToM2/MarWbZkQUmY8DXIUA8MnwCX3c7pmUGcWBC1UAiGVttvVCcL0Jq+x3ShBk6/fGvhUBTPt8nriE8iu1OnMFuTlL0QQhVA+6QeZ+Yp988X60PYk23TMPDuvXRuaLCYKD1LKcVxm59BlRXFZ7aLsfN89Sl7RoWEWaNLopaxhAimyskETNT08wIVhYr3mjZOBubiLm52TjYm5puhxxnQGXTZd03j1GzR9FmBla08DwBrYvHku+rN6c/A7vn9UDnvyhSBEqtcmJgfoS6xN2mF9GTL/e6jPryq+t5JPcWPy/OEMF12j0cuXhxcUTNdQCs5FvM/sPCJ87gnkeduw9p3hDhu3w5CR925bzDutQIiwyk49F2GcW9q8fsOnM2Ts7lFO+qjjSoaUrylJnRQVwDqvyYmr89V0sQVNPGrQU4tvs/5RrhS/OmN6tPdkTVqd6q6VB07W7j0PVxh1FN1BLlXG0OXLPyLXPR8LR4+JT5zrTHZ5LntN285/2PAAMA0tuhhQ1lbmRzdHJlYW0NZW5kb2JqDTQ3MSAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDE4ODU+PnN0cmVhbQ0KSImsl1uPFDcQhd/nV/Rjj8QYly9VtoSQwoJQLigJ7Eu0iiKESKJASEQi5e/neHZmtm3GxbhZIe12DzuuOq6q4887ImOTTM74INP7zQ7vTsJEJiWeylvIjLfg0/5NhPBmSaY3+FuHpzBZwyHuv4t3z+U9lvffN682P24evvr79Yfp0aOHL66+fjqRmx4/fvL0asL/PLne2Kn8o+nd5uHzVzT99s/m4TX94vDJ9a8ba6z10/WbaXd4+m+iwxfs5Gw0kShNLmbjidN0/efmZv7h9YftDv8z/7vdiQnzX9udx6/Dh2+3fp62P19/s3l2vXn2Alk02fljdsitZEK3mZQEoiupHB6qTII1Ym1oMiG33TEZP3v8zobmiBzcPF1p8UMT/7gT+9C9DQh8CjtfTdvrP3qrx746Gw/qykMVhrxxibgOYx8oYXhAhLNoLRfq1acXmgpZo8I7w965Ks5NKY0j9AXk7KLeGWlAVBBDQXIt6idNU+5r8vmgqTxUYWIwEkQaTWRL38346QO67oEiytkBUYJedhKbSn2rqHJ0XtVi0VT8BZZSN5eypDuf8bmx8P5uyZdamtrQH2f+06EIgk5cBrmZMfGR4TaYdF8mn9TNH5l1l+GpmN9K1PRcU6UMewgHWeWhtTJLcMFaFyW0lJ95uwtoOb2lRoYfmxU5UaPqiaaqM/yLRZlNdmX4lotqLdWZ7HMtBbe625WX+yq7+avtjgTb8p3mH27VhDtMcLTSBC4THr3hYl/YwvK7H9iPzPhJqJVFvO+3u3J+fYROO7/GTzjmm+0u4bPX7zXRvmMApcnc8WCn9jhF3cRn3yRhS1yZndXiddxBBQmJCTZq7xckfMdTzu26ZI+OzS0/hC2yleIpwCo3WxUcfMdMzsm8FBf8GlwQjF8kO4ALfsAxRND2TO0hpOGCX4MLkqJJTC0ufB4T/AAmSI4mEA1ggldMpKslWV88XS6vSBiwjETWEDsewIKguIKcXEGaOMUBPY7qFuBswTelIqHnCecqcpqRS9khKOzQPWXLjODC0NLDwCkbBthBEgA+ygg7hDXsUGyMSb6AHcKAE+z7TsIIOwTFCbqqSt9F73NPlaJmxApOjbeeMELHHIol0Onwo9ZQccZKbglDyml7IAzi/d21HzgO2MWd0PshjNj3EkV0AiJy+oQwBD2K81aJtoYvAu44KWGLwdXFwuJ98EVUfOdW+BndEU1kYQdNJoLZdGXHU0mBZmwDzSptxAH7uZNv7Smoyh1RcZ8uKodUbkg5VmFuUZmpwKMHSqvuEwfcJ1o2rjBqJUrlkLiGQyIlEyC1FiWlR/gCGokDFhS9MyCSpk4ajcQ1NBJxw/QZDVSF0WiEB+wlBjExcFsXjUZ4zR0lRtgxcR3GKZdMHqCQ08QkuVtcgxDWzKBXiDIwKWSuoqh1GBn6DKcpIZeLq8jBytCndNBQHuoxxPIMw12EuSmoARSJs2jTziPTjinEeFCtRkMNVob9WJB2MFwyKeM2UGkhHMCcVM7ggSE/tZaERZAhzGBl6nvSMCWQx3XUCGVi9t4cMqKSKFFlwAROIpkW4VYjhnQMYu8Lx+OIctsywFMSV+dQjiG47BxJi7cGMhgHuCvx7hMyRPMVf/SVNpPIJlicPE0m2HGH0B9LGbgkUqqBAgQ03lu0ArblH/xNwN/gNxJ7Uj7k+X2p1fzmnZbngDPdbdSlOCKKM3XdlTHNOXF9cqv2KgOGxB5M7iUN4IeswQ8OCctLC1WfBw8Z8CTGWZpSaiqigYesAQ/maEJKlxckDVgOizPsU1NulTuSYitdyuXkTLKJm4KcKLdfkTQAIKcZuRRA0hoAYQcHEKGLASSNjDkmxDvJlwNIWjXmARaVRC7XMDLl0ZvkE1+OHakz5MspwDUoYyerhJUVO4N8plnWI0XqzDM23J0Q3Lm2wuDX2DBFtnYLywJb9KPlkbk+irsflMj9u4al09FObY9lE0LgZQ6zFaVoeQ1BkPXecIQtuZiNJ2DlPSBEVpyB5AhP0qbCYOEAiK5TCaAFMMUcpHTVPF1pgQfMYiEd83yMp0JBXuMWZAOZUFypiqP5RR7wCyyPe4rABKrlVSzIa7AA9bFGBC6yDHQJF+QBLiD0ODwczVzJ0cAgrwEDxBGT3UBRcPiOyEjRWIHyuioaG5DtG0XfEcnmaFxAa1aRsuIUZAewYDEmeDitr4EBvrLC8fZzwlTmZBFoP//OYf75gdJi+PKIpHLGRhzglSQVFPCdVZpw8uIoies0DdmA4AYWcXmrNWnggO/0G+50ZLhPjozEJpE0DRFYCzTkALcNNzlnF1s2xBYYilWjFJ1xGfe3OvQlfEE05A5HiVYWcVYTBtEaxEB/Ee5gMVRp6JBBtIYynAU1EOEaRn5BVF8GGVhrxV3KBRxiFm5Rp1LuUjEanhNyyDpkEA14zZ305R1RgwyiNZThIMclqu+I+nlGA/ZSBiJ4F+rlVcggUiijXx/vDHtHVaDb+nhcYuYHt/VRy3M0m+l/AQYARVGU9w1lbmRzdHJlYW0NZW5kb2JqDTQ3MiAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDE5MjQ+PnN0cmVhbQ0KSImsl1uLmzcQhu/3V3yXnyFWNCONDhACzSaEHkJL6puylLKE9qKkSSmFkn/fV14fPmmtseUNgV2zJhq9mpl3nrl5tbl5vqHfeKJp88eNnTYfJvz4byI7lX/4xT4YyZTw2RrnWKbNXzfzL9Nq8+fNm83Nm3e3083zn/++/zS9ePH83e23ryeiPL18+eo1vtgdTw/Hr62xLm9jPHyo4og3lClUce5msqt1oBk/Hb6fn61+3XzXi8u2iavJitbESL6WNX2v6WI6rWtxarIme6L6VKudyafvvDjTihFCAlI8Hvlevac7e09yxkeKyzPvZsZTGz/Lak0Bby36Y/uzF3fW+Jykuvj0Vr259CtHdoUjbX1akyS5x1K8ieW3ELSQriUMFI4gDgq1VvVKVRXP5iNEE2LK1aFq2aSLyyb6xbu8Rx+R4fkb5DjifX6Y1He5qpEZjSo21oFLHws/ZAQZQ0a0wG6kk/dCAy3i/bhaZ0T5BzrtfI+fRuYPq3XC3+4/qqJdp8shFXaB+Ovdp+oSzpnosqsvYSHWbjVr8ToOgCjW7eOVT8t4UZKJ3sKV0cnHgD/df8IzQ+q/q3VEK39GuvFr98ffV27WpXeM49Szx+xM5uybG9yu1mxL3IiAnz9Ob0sC8ATbROAq96uEL75McbpVb3LWXY4vsLTaW60PneIuB3tp/SUGzD+y9Vya7TMtzoCdxOhMCCTNHHqn6uj4ia4jiUmBuJmvELKWM1XR8ZrTVSHGFwC4nBacYjJdNck6NCEG2OVZ8QOeklCrFLhJuk4HXvGNePCN2ATi7fmuDiSa9fueX5xKx75JLmYH37EAZQKXDonWNjBBDiMYo3nOMHyPzlcnsO/0+0lRCbkXGuEKP84Vxd9Qye5JqgaMINlsYuARrvCKD3RUlXoDx+auKk3NiA/sC+8J9OE7xlDsgA6DkVo/hbCYG/qItowlpMuro1gGLOKg8Cthh3Tso4gM+2yGR6YeTA6pxQ5kswB89GrAa7jDJzIp4XlZMjA4pK/CHTLAHYLKsbCA5gZuu7RI0c48W50u5CxdHHX6cIii04UoHtOFZZ+yCZKlijO29cqAyYgNhl3mWpZOG3INbQgl4yG2lhWQHF+SdB46ZMBsxLHJyTfJUqFDroEOweIiydfJ0qEjDDiKeHiiQ23WyVGhI3RcY3Eq9tVs2ztrR3Z84VRzYOs5nKliRVCwovvepTmSz6GOo7/3AEf4DCcpQavjdZAISpN3XVosZlKAlS4D3RV7fpi6anuHkfZG14UQqVGkQkRQ2tvHnSLfYKtwNpZDbhSRQJGDYYmqaKC1j6VWQPkQaAwkgtLsfYkAcuEUmshFYbFkWDMaKhbJSuQ40P5HqaVcDgGvJ4p43hvKmkORm5DQRg7aRIWleA0/BMLQjoA2jR/kgR/cxfwQFXfpdmUQjCJJLcqUrvQJtRXxyA7R8TtgWKlAEQds5/gEF6NF7LjO4lCOhlxOzcCFFiaAmKgWEzsWszje4c6YJCPcEK/hhiCob2lm4N0lwBAHXCUAl8kGGgCGeA0whIAdwUoeAIY04BghikkS0ggwpI4p4PYU911LjRcGrBmw+4ZMkkYRqecOakdczBOptzGo5sNl6W1mFloE4fOc1BZJIw2OZpHMaYQrUqfDiwo+6OEmkMfFhUPLFWj62elyBqAiBEZFlORfDhWp0/sQwYf0cJueyCgD4GcVKHktzkjTH6rsCSiROjZQ5Bx0teWQkDr8xzpuWNndurqdtzBprwXOI75wUPqVSCL3TaOrGsuMZAyux2gB4t2L12JegxdkUTpBYHIEgnGO5RRf+Ae+8BfzRe65zYnHx1xJ2FqA1fUVbpFpWwJv+ebj9LakAfW2TQfucr9K+OILDlZJI3eM6OQbAGH3F9ABIytrTXe6kfUoW8ZkrAKp4y0PGA/Ox5NEeEl1vk4d+RrqQM6QigiTX0a6CDvygAORjTidUdmVIJU78jXcgUDRZB5IDNsBfyGbxNgI6XViNPBg2/GQIsTlnZDyoY6UxbBHeVaRSCEPtgPkse8VnlI8Hq+RB1tl14DGXULoRKsEquPczbztfTe7Bx9ibWazHUAQsoLW8WjNpS4VQdhqHtAXBrfLKLenCBvyBJRecti3KmEajGAA9dlKDpPkUQvlYOAm7pEwv9VV5herqoaMYV+G0S+CDaEJWwVNjlOaHxUKG86R6sjZ2lWZk04LSEOWsVeI1esY52okYbrOThA9YWWqbwEoAaPFYitaxGuAxHlvvMXQZskLDHoajzBd40EulrUkNTdBhzJeOwY8/qyiB9OAAR11LzdGjUGYNP/xe1G+iYPypYiJuoxzNwtUSUFq1XhowHhcQH8I1XpUFGG6BkWwABkRWFYt6DyJMA0YjkswN4sXr+RoIMKkgEi34Vx2BouIa9Sg0daBtn3nUXxqknjAZTyGDidqs6RyCXeMZHEq9jbfpmTWEIQ7VnGqP5a7rgoerDT9vpraYkJ3uIDtZRkFz4+mD2XbSCiq4jt6Akbavuw+CdOkkqVzByt97/d979u+h5khHblVVhQBEOa8tfStsul/AQYAEbmS3g1lbmRzdHJlYW0NZW5kb2JqDTQ3MyAwIG9iag08PC9CQm94WzAuMCA4NTAuMzk0IDExOTAuNTUgMC4wXS9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDI5NC9NYXRyaXhbMS4wIDAuMCAwLjAgMS4wIDAuMCAwLjBdL1Jlc291cmNlczw8L0V4dEdTdGF0ZTw8L0dTMCA0NjAgMCBSPj4vRm9udDw8L1QxXzAgNDc1IDAgUj4+L1Byb2NTZXRbL1BERi9UZXh0XT4+L1N0cnVjdFBhcmVudHMgMC9TdWJ0eXBlL0Zvcm0+PnN0cmVhbQ0KSIk8kE1PwzAMhu/5FT46h7p2krapNE1iH0yFFRDNDggQmibYATGh7YDEr8fpAPXw2n792E6ZOFTA+SOO8G7K1cCwPxkJJI2HP5HakeMKonNKNHB8NW+G6Z/NaIgksYUoTA234CpPzkVVqsSdiXL43B5gMinX28MecHeyZT/vFjpiOp0t5mBmyfB5ZL4lyQuDQMqrHHtIOyj0zhx9aUc6gbDKd46PGo+cSi3knQQ9JVJ0sYb0YR6x725sISTYWaGAvSaeGrxQDVSjmvoA3Dx5lrHU4Np6hLUtvNq3mXW4soWjmLOASR1R62Gc5PAuT2hxk6nBFi35sU/bL5WqNU2/O4dcFrzWMlOFne5olPyV5dm9zxtr7X1OV2aZzLLXH/QjwAAH5Vk8DWVuZHN0cmVhbQ1lbmRvYmoNNDc0IDAgb2JqDTw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggMTgxMD4+c3RyZWFtDQpIiayXX2tjNxDF3/Mp7uM1rLWaGWmkgWWhmy2lf5aWrV9KKCUs7UNpt6UU+vU7cuIbS7bG1k0I2MZJ7rnnzsyZn3bf3Hy5u/nyw+108/rHv+8/T2/evP5w+/X7CZGnt2/fvddfvNvdvN7BLzjBtPvtxk+7T5O+/DeBn8qPvpFEx5zThESOgPO0+/Nmnt5Nm93v3eun5vrweH3nIReN7eOnY6Hg2XnMsRYitnTygI8QXPAS9L/8cvm7+eNmS+Bw/mKzheTS/N20+XnXf3By3ljxE8Je9eFDpcykX2ZqlHmz1V/E2W+2gVQZsqVMfo1Vn44Ev99sxcH8jzr1872+qvinzTbrd/d/mLYJ+vWUpZ7S3EVCx8TS3IXaRZdnJlMQO26d93QQLJ+OBbN2ahJQ21GOBH+4/7zZRvX672abXJj/0orr2+OXv25otr1Tv+QP5s94F/JOcnMjQR+5aKFx/2Gebk3ZcH29n4wHfpqcW2tCKfZd+fjoqnyoXHntVwasdfwrS2cgaQS8S+3Vpw+mjU7Q2DYQnQCkSuiu+NjGC70wkDdC6AJjrO38ZLox0qXvJuiXjDRQlDCQJRKSQ9AAqKvyreUj9OPCwzK90AhFTYmsiV4JJW/p9FLCnJHj7fLRtGFM/oOPczZ0RlIEqnTuZtGRZw1afGX1VxgYeoHosuijrvfyV6Yja+q7jpAdRu3NVY5G5p+yI+Eh0ggGacRlM52MTNYacUMagpbOwOQ/tdozSCN0suC4AXTLk8dGJm3UMu/XLJZXKGwRTa3YyYNzll6IKGInIi50YijYeJYoYE5gCq4hCo4OhNs9/kygiEasBDowZHMn4LXGObZsAzqFsTxuUpj0+h4LTF5AiziQMssTuJosopExOq2P9lIto6gozNxsZChudP3MZsTEgYjJOjKSwghiRAMx6MB/1PIfO5YErR/tVIbSrxS0VsobJBd6ZSB2QBcCp7ZWJnDETsiUUcBlKLDRQXKYTorFJdZmMkvFA+ABFLVWvq2VCR7cSZWjq4ZymvUNzliQwZ3gODMjV5MFdyLABKREDmKzHe9m1MdetkoJQV/OVXYBRgBDE8dTHOELtmbfijZmaompRBuVeLUNDQw/gK6JxC0xmXzBfb7ApVII7YSgixRbYuKN1/2QTTsD87603TMog40ASEsjNmGdyWXSWKyFqbBALH3I5YybLNk0kAOLzRcij2SRx2E/tZZFF3w5D5yCByhrkUkeaQ15UNBN5SVo02oLkR4jXwI9Ui93zjx3SlpOyc0NaJUhl6xXVJ/R5ozUCZtzLgvePIrYeJGsI0w8lK8Bfopl8gUrnT0qx4LKZsKkgYQh1r1OXNux8SIZeNH3k3R5lRGs/aiRbbzQAQMBo7zpctZMr+yYQJE6eWLCEpXpyroTazcntGTYygOBEkDvgdsimVyRO5lRzpYLJ0HDSUHjEdsizWixRu5FxbnqHGYnp6erm9SRjYOHOTrEQscyV05OHoCNMjlU+O3YjQ0bec1Bg1JwnHU1V3bKQaOMbmm2gBebbSQRBEoipNqXiRzZQI6l2bBtNg9KyzqrxzqBLJmRJDj0mj69p6c2hhrZQI0u8xKT1lAbtxIuR438wBq6nHT/mrAhA9mwGGU40lsPG9IPjn4tKaFjnbn6JnxxrYAfTL01rJEluiTwwqwhA6wh5N0JaoSN3mwqBxxW2WizhlxkjSeXV7OGrGEN8eQiQ80aJSkNnYFAEd1eqb26jRiyBjFEzzACsAIxZCBYhNAFxhHEEAMx+m5C2flI1xeF/EBsSEgOgWCAKcgbTLEcvaA9h0SN94y5FsoGU5AfYIplRq5lCvIWU/ChGnw6IilCwxS8XyM4i7V8yQ9AhYACrE8DUEHeGvmuH2QHzLLKz8jsU3aIOAAT5PswAcvWBWjbWbdrxhomWCyZgZlfmmw9TJBfAxOq6UKZh0o4KUUoqYeyb/Rd9IhrCMNAKixGXwYmCPqJYZjGoAXOLUwowNMFp2tQgqMD4XaTP48kCIyMOQR+k/f7eMyxRRoo55bC91mhIs9K/dHPJlgQDOTN4v5awiBYQxiKh8LtAdbcZTAQMtk7XfvNRjYBg6ATMsdd6PSvamq5K1XYczzp5Gk/vLK7oBMxx0VnJ6hnu6thgsCCiXB4/qFpLs2RiLFFI+0mjCVHzLzHgQAB3SssJ7UwsQI7IXF0VWKXObWAal2zEwWnnX81N2DvdKCPezkY+eZglMhB5FSvWSyZUrJsq9tez4L20x+hB+8wSByAB7SmGQ7dBKdRxV4aGNKg4hltLwNDDaBHyggwQA5okMNSIcC2Y0m/9BUJzdkiBxwgh0OXPQMc0Bj4zi7J5DLptFeq2m7MGl0KD0FUVTeLoUoDQ38w+ULQQMYxIy5lbI9Lup4xUMMMxbPyUajkpv8FGAD7pHkJDWVuZHN0cmVhbQ1lbmRvYmoNNDc1IDAgb2JqDTw8L0Jhc2VGb250L0tXWkNRRytIZWx2ZXRpY2FOZXVlTFRQcm8tQmRDbi9FbmNvZGluZy9XaW5BbnNpRW5jb2RpbmcvRmlyc3RDaGFyIDMyL0ZvbnREZXNjcmlwdG9yIDQ2OSAwIFIvTGFzdENoYXIgMTkzL1N1YnR5cGUvVHlwZTEvVG9Vbmljb2RlIDQ3NiAwIFIvVHlwZS9Gb250L1dpZHRoc1syNDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDU1NiAwIDAgMCA0ODEgNDYzIDU1NiAwIDI1OCAwIDUzNyA0NjMgNzQwIDU3NCA1NTYgNTE5IDAgNTU2IDUxOSA0ODAgNTM4IDAgMCAwIDUyMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDU1Nl0+Pg1lbmRvYmoNNDc2IDAgb2JqDTw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggMzEwPj5zdHJlYW0NCkiJXNHNioMwEAfwe55iju2h+NGm3YIIW9uCh/1g3X0Am4xdYY0h2oNvvzNO6cIKml9IRv6ZREV5LF07QvQeelPhCE3rbMChvwWDcMFr61SSgm3NeJ/NX9PVXkVUXE3DiF3pml5lGUQftDiMYYLFs+0vuFTRW7AYWneFxVdRLSGqbt7/YIduhBjyHCw29KOX2r/WHUI0l61KS+vtOK2o5m/H5+QR0nmeSBjTWxx8bTDU7ooqi+nJITvTkyt09t968iRll8Z810FlKW+OYxpUtklm00DWYs3eirfsnXjH3ov37IP4wC7EBfsoPrJP4hP7LKaQmZYMmjPoVJyy1+I1eyPesCWb5mxaMmjOUEh+Gvjg9xNyC+im4NFfcwuBWjtf59xT7mbr8HHjvvdAVfyqXwEGAJM8l2gNZW5kc3RyZWFtDWVuZG9iag00NzcgMCBvYmoNPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAyMzkwL1N1YnR5cGUvVHlwZTFDPj5zdHJlYW0NCkiJxFR7UFTnFb/7uldpuhqWpRuQu9eK8YGukFiExiQV0RVFQRd8FUn2cReu7u5d7y6sqEuaiRFR8VE0qRYVSIpaH1FDSX3EICSYmBRUauoQM5NppqlEUmfSrOfit3Z6LlCrZqaT/7o7u9/e833nnN/vd37fqiitmlKpVOZ5S5bPXGhNmcN7yvmg4LQv4Mv43IJ8SZyc5ZrpU45MlBNVcpxWHvWYkWSQnXfP312gS6Kolz/68d1PR4zS+keO0kqP94x6bHgspcaamk81X+bbpSAnurlgKc+5hBIhaPd4Kjje5xRdvIvz2p2lgo/nJN7usjs8PCeWBT1KwGUP2jm3KHF+SXSVOQVfyUCFggo/77Y7+YASLxeUEkKAc4r+CkkoKQ3i42EuLTMjjZvMPZWamsHlCj4xiDmc1euYM4kLhUIWz1DI4hS9Fm6Gx8MNpAYQQ4CXynmXhSsoxaIB0R0M2SVeaaC0xoZ+XgpWKGQeKWv3KUwqOAxyDoXMIGjeNYkrCyjfLiHg99grlJ9e0SW4haGg0yPiPoc0g5LdF3DzkoSPISFYijoMdOXX+BFXgAtJQjDI+zi7XyFu93wPhYVD2D9I4vvE/pe8HsHJ+xRsQZGrEMseVXm8cwLqnJnKzXCJyNhWEQjy3sCgnIsG5Vz0w+V8qAiXg8AlvyjZlUaKtELwP3hEKfB/U3sApIW7fzsUInalkov32qVV3xsIAisRkJHSQ/ANlC+02CxcPvLyBQdYFNxPznO7keB9agO0Hsx2olR2XEUsI3EryyQh4BKcQUH0BYb0DQ6NToEl4pgEH8LGuxcSH8GWzQeEEh9nC5a5BNEyaJrB0FBnpBzkncGHGz/ccspsm2IVbiqmuilKhW/qp2rqSTU1kaIm6ainNdTPKSqLorIpajZFzaeoPBVlo6hCijpC4SsJ/xyoUmoV1ahiVCtUm1Un1DHq0eolakl9Sv2VxqLxarq1c7SCtlF7RbdU16j7Fx1H59N76MvMCGZZN0gw3NjZPodZjGt1ne7E9qZddeyuur0HGhqGtTT/uu7NhLOlJxyOlX7rK+yyWt3Xuy78oTvxauuS6S++5F1aZJbKwmurKodVVVYHShPARnKN8r1oavQeIzv6U433HNFd/Q5GT4r09eWQAjHywpAKDst/NdbQl8k1HeFo4iINRphIH4UUHSyijxJcJtJkYX+xjsym9VsisOo25EVi34VkSIVkEgcTDd/BYrhm/Ii+dCaQkVEkzTbbaHmz9j3aIHcfkazW0tXPmB00SY5mGqGKxtPT2/pAe2tZxzOvmWsYPHTgrY7rCZCU/g6JYcmrtL4vHIGckKyLxB7HLtnYhYVkgyxXyV7jP9dDCnEQj59YiJd4m4gFPCzWXHgSTDDFTJJpMsW1eul87ynwwAv7urtZg/xJffEYs755C8RAAX6mQ4wK4Wve7S823iuWJ0MM2YcbG3DdgJu1EMPoG1GfSw+ejUcklx48Ex1D68OR7PI/hQDhvhyJbcET+cAa9ss18mYjjJ17g6SRXBsZQTaQLceJCWaxhsquM2+0HzfX5ERkIwmP/jqLNux/rtBdmrEOKPgFWA9dvdzRaF3C6snc+vL+4pDqfewNK+L7i0nyvWJG3zcY/S967FnKtN6AceS0DtJp4pEn4TA6dCSVJnPJKV01nKL1jchcvjmYJhfGI4da+eZgQWhFou6QXB9StYJJpsGkaY3HH501NBiinTrQ4ip36mqinWBCFAKdHN2qq6bHylt1ZCWthwTMLwvJO5XqJnBj/hAwk7yphoHs6CYdZGCiKRqupkmWHNahanJTRKWMNgsBHYd+49AcwdMEFvCC1w8W4hmaMY4+Hmx7rn3xxZ4ZxEYKwlnp6eE/QwGr78HWJyPgjSjEYKqi1GL5O+NFuvugKzvLJSwyz1Ncl2jE3ZPXaRj1VSeMv7P8DhlnJjto5Qa03QbHoJXT4UnCAWeQBwbddp3uaBRs28zbSdJWsca/N/QEpO6k/XurTmz+yyZICV+Y8JthNcyNupOXbiXAiOwPyY9Ysp+G5NHGLjR459GVOc+5vLPNebS+B83xk5A8LRLbgD5OGADKEgPemm8bIGD0McT08fMwDVL/3gUpX4qthDrLEs1ZnaFvwZuVB99JaKl7+5P2Bt7KAnuAhiRLG4kjSdNmEY7EdBRA3Ius4dtbq46snpeQZxdfeH5NSydbz+jfri+Xb6Jz0anJmtdxHiQGUqM3IRmjqYq9vwlH+tUh1RWEY8YjzXgkupEhNtC4YDi+Necgh5U3onobmex1i63Wda1X8ZnRfzZoQDR6smYbZsH86CwdOYZ1jjEwX56lGG8cOYQOmQyHdPrmcG9+eXsI/gbWyb2xB8FEGBgJcWAy1MKz8nDjXsZQ01Lf1HKmTnKUhNc5fsU+W66btNrhHJsw81jmLdYQ6Dy5p/2IuYbevmZ7aNfaYWCiK49U1Z9PgLeYPk8XyRiTbicj2UoGdhC30bA775dBt3v9seazDU3tr7N12xtr9+8dpm8M90JsCJ4KQdxt1e+AhdHoUzkH+owQN/czVDQubT5ZTTxdc3Bv3Ac9MJolJvrpEF+0oLINnoCRr13sem+3De9l4zpYQgp7YfrnENcbewHYW8jlHJbaavw9A5klQJGfkQUiSSDJrGE9SahFXxeB6YMr8PgOloykra9UrCxKXLr2w4/NLczn2nrm/G/b297fvSJzG975okFxzwOrOR8PLN4altZfxFkuioRDsacRmwn/X66fxj3opzveOHyueV+ogI0ywMpjmDvLTk/NXx5Y7GOracMfLxET+iDcK+t78XqwEItFD0KDkeSfmQDYDdLa/gG5kF/0DcncZCZpBeNJrhnYeFDv7Olq31dIEkliRaHN+moP/FtMcnwKQEdYfJeAuEL4AtgF19kuH1yye9aMrq5ZQIex9zQ39TRLB6VkhufLC2/ovAwMQL7fKrPK3pf/YHv5Xa+c8TrQBdd/rBN11b34+wTbb4b5md8ZVi/r61sl95q9q6mhq0E6uWn2Nvnv22+/tAbmfzl2RB116LuKkPADUioqYYFFW0Vfsr39rsIKCsTamT/WzfyuNHPiTLbfPpN/hE56NIm9as6PmdO/+87h+J02/Uf2pPeTOOUWWCb/5+H8yvVdjvvi9OkTJ06cvpqH5z2Qnjh54kQe3h4evh8HRH74iAIEGAC7d4gFDWVuZHN0cmVhbQ1lbmRvYmoNNDc4IDAgb2JqDTw8L0FJUyBmYWxzZS9CTS9Ob3JtYWwvQ0EgMS4wL09QIHRydWUvT1BNIDEvU0EgdHJ1ZS9TTWFzay9Ob25lL1R5cGUvRXh0R1N0YXRlL2NhIDEuMC9vcCB0cnVlPj4NZW5kb2JqDTQ3OSAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDE2ODAvU3VidHlwZS9UeXBlMUM+PnN0cmVhbQ0KSInEVH1sU9cVf88f14GmJsU40tLUvl2rQlNqnLKGAla3pKVxtpQEEoiBkvXZfo5fsP3Me892nS60oapo1GYtwQjSGgKFtUVslKmMVaNqSjsNBhtpmYa0fqgrW7VpH9ofQzs3uUbbeXYaDSpN/W/Psu+759xzzu/3O+daFGwWQRRF77c7OnseaLsrKCeysqFEpNVyRm7v7tTUu4PZB1LmkUXsZpHV29gt1W6+ghvTv5/eZL9FEIb+dOP0R/Omr9RM/+umT+qrLs8XrJjResn6kfXPnZJmUDVGjbhMo0qfYkiJRJ7KqYgalaM0KUXiSkqmmixFpXBCpmrGSJiGqGRINKZqNK2p0UxESfWVM3Tn03JMisi6ac8qZgpFpxE1ndeUvriB2yO0cfl9jfRueo/ffx9tV1KqgTG0NRkOLqa5XM6XmDH5ImrSR5sTCVoO1RGDLmtZOeqj3XFMqqsxIydpslnALI0F07Jm5E0y16WVUiaTPEUjDZtkKqDl6GKa0c3fqKKnE1LefE2qUSWmzBgjCRX9FGkampTSY7Km4TanGHHUoVxVfiyNuHSa0xTDkFNUSpvEpcSXUPgowv5KEs8S+1/yJpSInDKxGSrNq5nrVV4UuRN1Xu6nzVEVGXfldUNO6hU511bkXPvV5bwmCW1D4Fpa1SSzkCmtYnyBR9X0/5vaZZA+Ons7TCKSmSkqJyVty5cagsD6FGRk1lBS5fTrfF0+2om8UkaZRfdscEcshgRnqZVp/Xd0BKWScFUxjUb7M5qiR5WIoagpfUZfY6Z1JiwV26SkEDbevZx6HbYHZV3pS9EuIxNVVF9laCqmmcpI2ZAjxrWFry0ZlKVsfslDXea80G9gfEwQRPwIXxeFOyxCgyAsFoUlFmGpTVgh4OPCvwMhLmwRxsUqcam4QTwlfmCxWTyWTstLlk+sK6yvWs/YRNtC2/o1oMEc94X3go71uA4X7ceff6VQ9BSKL44fPFh18sRo8XDdqfjxcLg/3fqUZ8Mu+18Kp3/ym5svvtMTePSJZOgRr5YZHNixrWrHtmE9XgddvN3Nrpb8pasOFp7yu6+GS4WpsMPJzzkPZKEeall3ThyphRZyGOrt8E3yA45LC+EPTfXaeYzAslK3mzvJL+CifYQ4n4UaWAc2uBdq5k9AABZAgPugxXUF0vCB+zSZeD31YMiQWr0hwmK2nxEXOzse7gsZ/Z3ezYQHSs1ueI7g6U3HgXwKdwReXr/LO+Jwscm9Pz3/aR3csPLnfJ6HjxHnqmcR3DL83gb1IlayTtSyANTzAhoHcB1AxzDUlxqJ8x4kMnHNSQQ2cf2pwUGw3Z+dzIGO8PF9/uvQAj7wu/azvexp98fboYEn+fbH+WK+jetH+Neg1ePa9qtf7jv/ineEPN9qBwdz8Se47UODuPYvyoXWBofOQQ+sKVycPLuzZbPHyd88kJ3qzYnvIoZ3EcNULw8QZ8U2i+sR8ub74OYH7bCG8BhrgA44a+dthDfyY/ZhOGaGUOTOLn0RxJYgkR3skul5Gal+P8ceM30N8B3wm0kb2JMjBBaWnrTDWqzpL0WHCfewqJ2vQ9pgYy+CTaywbbGyYzDlho2D0MyH+NYkv53neO4Ivx22wtAYNMNGD/+4FkKFcxcmd7fzEA8NtbcGt5+DkMc5iMWPYv87oMaEBm5MB2l22X2STO6Tujc9LgUrTV7oRu/R3xIInP0cFvxRgQV8lZfvNbWAUzAXcc8tJ6iDlRVRTp0n7xS38poVL0T26l5oKxBj99Njz8Ctz/x1x6+58FLViOPD/Sfe/mfd3zf+gd/m4ccwNZ/rfptcGI+tfzS/odXbQ5z9SBWqc6wJe/saNPEm+BZ4IeD622uQcm928DvBFoN54Pv8PCzzwE5+5n5oqJs4dPjkoeJTA7s9he+9oOF9aSoSEDs+4wHevPouTjx8HM58xn114YHvdnpcVzoHT5z2HnY4Gw9k2SWcN/Bjj8CPJHDbgJMW5/XQUJk2VsqJJ8s0A1a2e6rXjdIcIl2Z/t7ezA/f87BDuNccnL7BLThHPW+ABajH2Y8iNeXY+zkRltZCP4Em8yIGyb2lt+zDpIm9ZW6cSmWsoN0s325q+CMCbWyV6VzO9+HJlbDPzlejsbTK7hwcYz8eA+/YzjHC23exdaOXRx0DRTa2Bx4uVvHYHrZl9B+jczwHlkf+XT0HauZC0w2/e3Vn+Tm6p7oaasfN1z3VNz5X7WQXF7AL7v8IMADfzvc1DWVuZHN0cmVhbQ1lbmRvYmoNNDgwIDAgb2JqDTw8L0FzY2VudCA5NjcvQ2FwSGVpZ2h0IDcxNC9DaGFyU2V0KC9zcGFjZS9BL0IvRS9GL0cvSS9LL0wvTi9PL1AvUi9TL1QvVS9WL1kpL0Rlc2NlbnQgLTIyNC9GbGFncyAzMi9Gb250QkJveFstMTY2IC0yMjQgMTEwMCA5NjddL0ZvbnRGYW1pbHkoSGVsdmV0aWNhTmV1ZUxUIFBybyA2NyBNZENuKS9Gb250RmlsZTMgNDc5IDAgUi9Gb250TmFtZS9KT1BXQ0krSGVsdmV0aWNhTmV1ZUxUUHJvLUh2Q24vRm9udFN0cmV0Y2gvQ29uZGVuc2VkL0ZvbnRXZWlnaHQgNzAwL0l0YWxpY0FuZ2xlIDAvU3RlbVYgMTY0L1R5cGUvRm9udERlc2NyaXB0b3IvWEhlaWdodCA1NDE+Pg1lbmRvYmoNNDgxIDAgb2JqDTw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggMzExPj5zdHJlYW0NCkiJXJHbasMwDIbv/RS6bC9KDq3bFUJgzVrIxQ4s3QOkttIFFsc46UXeflJUOpjB1mfk3/4tRUX5Urp2hOgj9KbCEZrW2YBDfwsG4YLX1qkkBdua8b6bV9PVXkUkrqZhxK50Ta+yDKJPSg5jmGDxbPsLLlX0HiyG1l1h8VVUS4iqm/c/2KEbIYY8B4sNXfRa+7e6Q4hm2aq0lG/HaUWavxPnySOk8z4RM6a3OPjaYKjdFVUW08ghO9HIFTr7L588iezSmO86qCzlw3FMQWWbZGYKxKlwyqyFNfNWeMu8E94x74X3zAfhA3MhXDAfhY/MJ2EymWnxoNmDlnc1v6vXwmvmjfCGWfxo9qPFj2Y/WjxQ4I/ff8gloE7Bo77mFgKVdm7nXFOuZuvw0XHfeyAVT/UrwABuOZcyDWVuZHN0cmVhbQ1lbmRvYmoNNDgyIDAgb2JqDTw8L0Jhc2VFbmNvZGluZy9XaW5BbnNpRW5jb2RpbmcvRGlmZmVyZW5jZXNbMzEvY2Nhcm9uXS9UeXBlL0VuY29kaW5nPj4NZW5kb2JqDTQ4MyAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDI4NjkvU3VidHlwZS9UeXBlMUM+PnN0cmVhbQ0KSIlUVGtQFFcW7game2B1VNo2OEh3iwuID0TBANEALggDAqOAAorizNDIDDDoDE8F10eUsIgaBddEgvgiRFkDRCNRRAUJuGE0tbOioixqu4IpjFYkntY7Vm1j7W5Vbt/q8+fc737nu985OOZgh+E47hatXp4UFjVbxWcX8Hl6nSaOz+djEpebcueGGccSZorTcNHNQWTG0SgQGd6WvA2TuWHY9s7xcHQC9E2Eu5NuTRu3yxlzwHGy9mSzTqcx5Rr/D8fpzZyGyzNp0vkcjSmLy83gVLw+nc/W8qYNvIkLN+XrsnI0Zl2m3sgbuSWRczi+SJedb9YX8NnFXLZexxvNfDqXl2nKzd+QycXojbl5xRt5LjJHq5rDaYzpXI6mmNPynInfoDfn8SYpWW/kdLwpTyNFQ75Jb07X6/L0uUazT1yuKUeTPS8iIXEMwp9L5zMwDJc+bDyGTXLEZuDYTAybj2F/ssMiMEyFYdEYFoNjajsswQ5LwrDVONaDYVYML8Ok5SFJiGViWdhfsWF8Ir4W78Cf2y2xO203YL/GvtthlsMnDs9knrJm4g9ECnGW5Mhg0kzuJtvlpFwrPyS3OQY7rnesc7zulOFU6fTqCJjAkb7ZqSJXSbG8Rta0r76qhqmq+eLosWPy784dqDmpvJTZpNUaNkbuZFIOyn6uunbe6vqPq0mL1/85JzmVNeWXbi7bKi/bWm7OVEICiqHFdzZf2ztS1L7xpd9pbVVvtKQCVUkbUQXwccFvhc63h9Zcol7enkINXzAT1EvdjsLMzUwq+fDEgZt3lI/nkYpSi/jYgjcLUCTYgzOM0OD7GbgDBthnyB35Iu9daAbCELYLZoA3AwR6S0NiNfDgDUu2SyQSUeJ2lC4lLq5G8ZDIKuoKxIZukBc6g3FQ3U29vCk20DDb1jD4JpmghtXEbs+Pti/YLVdU3BM7rDi8EOzF6Hs0uk4culh/rqXxxWOXfktr92tlzyaYLDnSI2EemsoIxLd7QQb4nXqV+uOM9fGrmRWrZYsjl8xHLkqRI6QqgCuEhRYoszjDQ0ElUKOggkd0KyF8mxyAxsVtSlpk6Otl/XYQWYdQEMTDtN5/A/1L8uVFR5hKkhL7as/2WJX39a/QTPRBvHRCurK9+vHQrRMrl4UbVoYyaYRUGYRYRb4Qh5ZB+69hL70YqlDIIITcty4S+QCyHDF0JbqPVGN8oiAZDBbwuecMowLV2gWD9J0yWU3LlZ4nDUEfh21BDl4MVTS3dLiJ9SPiTyEWFsPMLrAHF/AOH+TWpBZnGpnyyq9AI4PKe+in9zU+sD6C4CiL81nB7znkCdRTmArZdF/tk+Hh2gWhoeYFfn7mJ30MtEEf3VgCbpJ+mu0oD32IvD5HKyRGLrdGwQ1cYofQhOB1SRu3MlR/eSfRdBDCwZGhfu5uTFO/f0HbPbxZtNFwl4jwTfBe757mbkT4VoTJnxOHwaMFJrYCfuF158OWdvk/bTPHXAStFiixODcJUQLEST/qV5gEq+nBxhsDA42xAQGG2KAgw41BBkhxOU2N/NiwJlJlXL0sOrft5q2vLvWy1K8ozZZA+1xAcvADvwsgH36m6QmsZ6gRa8Pp7+8ogYzsRTIki4xGZMjptVYjQ40GbtTEzVW+Vzv4kfVAITwb0wbynvsJlBFeiCY6tGiBj0/Rk76+E08E4cSCUAa1oT7a8AVyg0DQVEMefAiepRCPkpFLpDtyQy435sEEhvrybuuV+sNsZQKxYSdaiiRxjGpD6w+s4niFFeossM3q3CWAaShiiBLB880U+hfi8TeaUGQXsCOD9ST8bLNoWEVILvQe+AE8hPSbfnXsmM96a1t6e5XAzr/gw6BcQrA50aNS2t2/894RWTE+LBpHKI6XWkFdKIZZnS8NQfXQwiFqVPSCctr/0xIvzhUptoASgiDoiBQULCU+PRnx0V52iACuLHYAebiiFANKQCqkqkcJkMZKHHyvwkRwPcgqzpVaMwpGCsFkheb36MfuR1moy2KpeJhu+gTC0Pr/HU48gyJB3d95uaeWqSSo0lkWkUSbwkiqHaYTc3YgT6T4PRGGuiycig7dzypKpD7pkESy4pJC5iH7/8ojfJOyeM7KtGWsu6SOEy1AB+AEjH94W/KwBvlXxLEomlAklVoyCroLGwphEMIlpzcIoH5AVcA18KETktYmxBc1dVz8vK6+hmk+ad3f2ChHYQP0fpIqO1rxcKjz69zktD3FsUUMkullEQVZySHK2d+rXzDUmvb2hkv1bCURsfd8xWnXurp9ew6w3SSV9WnZ7vJtrhv3HD3OwhWys+I5CkCTkxLReEZhKLWu6DpYKIZbIbDQuaMftAK1rmPKfYIKtkhPWas7dFHX5QoT2+EDmA0OxRCMPBJTclOL2HLYGUBQ6/pt8fSrmt+e3q0LQpPRhAL/YN/NLwFnFEvHDJsKalgqVXhGgPhBKlVkREe6xwxy5IWCNknzdCqKvTZfmgbK8yAfZCS8mhVbQsI8/wLTf4Lkq6euMFTjj3XLk9gxyaIgfsAC/mPtB6sEqkScDYfov5EgLwF3aQb8Ds+rEaZeH8Nr024LXPTHCpjwL2avhT5KnqkGTOj7MlzNGEmFAcVYwMkqzupaYR1rKW0/NSLOERvpRZHlBPXgu21rW5a7omnpUsd4hFejFMljbfWttWzlUiJjXyDC0vjatjLpFqQ8DFMqGl1f93WBP0uNILXU/k9rps9AdpsXzgvYCvh/CC33kKbiKI5nen93lc3odhVa3FtSrZCcPddrRWXkMqWgFyorsgxKMsp2y1GaGaWm4qJsqXl7UBGjh5AM6o9h0CS7ZqyHZfErBxlYzIg6v/jZ47eNKILwv/vH75x7Ht/zOacHxqivu2Q99TDuuJVPfVE+HO0jP0TcZ0bfbTGYuM1MF0xUtxVoUiBLiWrF0dAAPSKYwcZNRXQ1reTKicX83YbBijoxTKWN3EcUdvnNpoQdxuNvNuZnB/vJHv9B1k8MGVjoao3HBKGutmue59VpW6QBhMkovr3yC52wYW1BVqHEkvU8WMCHikxStaiWAKwJRF8FVaRJt2gCmCC5Odz+pG2QQE3UtI0m0CSJ7cV8cXZREHSgawy+eVdvpDqqO2CcIbPCmuwwx1+tEGuotBFZtbTSVBHDYTZpHTnnPAV3DCDfgEWgh1nZEEOFNTm5uSUyi+WZtoB/SVUR4up7ekO6Gk5l+3ymqy+fJT3NYcnl4XByQifLDHpR4FHz7cunjleclF7zNUeKq4oMmfmbN+4N+brZbeb1Mw5q6WwbZsPidG30JbwEgxkLOwhH4kRh/YMyGEJTki3ZRjq0Q3m4T2q3dziWjRWuLc44tHtu0f2HrMFrq6gBVgaf3IOYr2kX0lVJyLOq1rr2sULWM5/zcltj3goW2eGjfjJFgxRldDc2Q6rQ382kZLG+GEBoedP2gCS8v36+uvq03MlXlJaW7zcI/ZtKGlpk+PBeS4YUFud0lV0zZD3bvab4PgSTiJszIePAUq4cGclS9q2fTlM1yI+8WVgiOnK4XSWOwq0Gu+NEVbFs5SvOnil3G/pV7akqg4l0MptpYfsJEfvxlX4yzh/VTLaK4ED02EAiZ4W3flrKQxmRuMf0Of8vnV7ZIVH5jSjv4IzyDgIp7/8o5f0/pmAyFIs+xA62RDYKv6cI+HBoPiy0MeWHJkhIeRLz59nfBIpkEcHQpsEx1PQvhm6EMXSX6EULypyZGeAsKEgTuS52sbiI2wUTXbUuRFedJOucPU6+qIG46iCjQUfz6shOZ9A5TFLn5f6MHaYNxyN8tbW1V2JjfRdramJHksIxpEz8JcAAgRcz7A1lbmRzdHJlYW0NZW5kb2JqDTQ4NCAwIG9iag08PC9Bc2NlbnQgOTQzL0NhcEhlaWdodCA3MTQvQ2hhclNldCgvY2Nhcm9uL3NwYWNlL2NvbW1hL3plcm8vb25lL3R3by90aHJlZS9mb3VyL2ZpdmUvc2l4L3NldmVuL2VpZ2h0L25pbmUvQi9DL0cvUC9hL2IvYy9lL2cvaS9rL2wvbi9vL3Avci9zL3Qvdi95L3ovYWFjdXRlL2lhY3V0ZSkvRGVzY2VudCAtMjE0L0ZsYWdzIDMyL0ZvbnRCQm94Wy0xNjQgLTIxNCAxMDAwIDk0M10vRm9udEZhbWlseShIZWx2ZXRpY2FOZXVlTFQgUHJvIDU3IENuKS9Gb250RmlsZTMgNDgzIDAgUi9Gb250TmFtZS9KT1BXQ0krSGVsdmV0aWNhTmV1ZUxUUHJvLUNuL0ZvbnRTdHJldGNoL0NvbmRlbnNlZC9Gb250V2VpZ2h0IDQwMC9JdGFsaWNBbmdsZSAwL1N0ZW1WIDg0L1R5cGUvRm9udERlc2NyaXB0b3IvWEhlaWdodCA1MzY+Pg1lbmRvYmoNNDg1IDAgb2JqDTw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggNDAwPj5zdHJlYW0NCkiJXJLLbsJADEX38xWzhEWVJx6QokgUgsSiD5X2A0JiaKQyiYaw4O9r51at1EhJzjyufcfjaLPf7n032ug19M2BR3vqfBv42t9Cw/bI586bJLVt14w/o+nbXOrBRCI+3K8jX/b+1JuisNGbLF7HcLezddsfeW6il9By6PzZzj42h7mNDrdh+OIL+9HGtixtyycJ9FQPz/WFbTTJHvatrHfj/UE0fzve7wPbdBonMNP0LV+HuuFQ+zObIpantMVOntKwb/+tZwTZ8dR81sEUyU42x0m8LU2RqjCO5Se8AW+EM8xnOp8l4EQ5BafKGThTzsG58gK8UCYwKTuwU16Cl8or8Eo4R/xc4+eIn2v8HNpctQt4W6g3gjdSbwQtqZagJdUS/JD6IcQhjUPIS5qXHsGPyqgDaR2oAlfKO7AUuXDw4NSDQ16neR3yOs3rUBOnNXGog9M6OOR1mtetwWvhCmep9CzVFrydLvTn5vRqpQPtb980txCkZaY2nXpFu6Tz/NvJQz9YUelrvgUYAIPRwYgNZW5kc3RyZWFtDWVuZG9iag00ODYgMCBvYmoNPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAzMjM+PnN0cmVhbQ0KSIlcks9ugzAMxu95Ch/XQwWlJagSQlppK3HYH43tAWhiOqQRokAPvP1sXHXSIpH8Isf+nC9EZXWsXDdB9B4GU+MEbedswHG4BYNwwWvn1CYB25npvltm0zdeRZRcz+OEfeXaQeU5RB8UHKcww9OzHS64UtFbsBg6d4Wnr7JeQVTfvP/BHt0EMRQFWGyp0EvjX5seIVrS1pWleDfNa8r5O/E5e4Rk2W+kGTNYHH1jMDTuiiqPaRSQn2kUCp39F09iSbu05rsJKk/4cBzTovLdZmFaiBPhhHkrvGXOhDPmg/CBuRQumY/CR+azMDWTp6KVslYq9VOun+6F98RaetDcgxZdzbo6FU6ZRUuzlj4Jn5hFS7NWJvUzrp/thHeLIfebszX0gvDw3dxCIMuXZ168Zpc7h48/wQ8eKIs/9SvAANYKnCUNZW5kc3RyZWFtDWVuZG9iag0xIDAgb2JqDTw8L0ZpbHRlci9GbGF0ZURlY29kZS9GaXJzdCA3OTkvTGVuZ3RoIDE4NTUvTiAxMDAvVHlwZS9PYmpTdG0+PnN0cmVhbQ0KaN6MmF1rHMcShv9KX57c7E5V9SeEgJMQDtjHEZbvjC8WsSgGWTKyBNG/P29PvW1iGTsFtno1884z/VFPb9sjbUnmH00iSWtJosm2lsSSGX7LyTqakmzkJDXpqGgbMhsud7S5JhnJxFrSDW3rSSWZ4qKCZcDrDgMfNBuaFLjcDe9LVvCLglcqngevbngOvIq8gVcHHsbHht4YeK0hjEt9vnT2ruLm7N6Gi3V2E78gMjp+9JS3CRtom+BHyoKRZXyUUlJWtKOljEs6Qxltx03cMnQaQ8voSMqIAJAyeDkjN6NDUgGvoDNlPtJKKuBVTE6Zj5aRCnhtQ24i8JICXsN0lonCoAt4vSI3kZj/Ct7AwxhSHqOkqngFBlPx6NZGwtQXweSiS0VwsVa8EuuAqSuKTtaOtiMHJCY+tQ1ts4ShFww4NfDQ0YRLBS9IDTzcSLPrBevRwKtYD0xxqYBiKUvDeuDVGJ6kDl7DemCKEC+pg9cRxqNlYD06eAOdxxDrhvXoFS0mE0tRN/zoHUPDeswuCjo1NgwR64GpxGtLQmlUxXrgFRWFklByFQud5lRggdIADxObEKmYkDTAw0AShoLpFpQxgHgSH0CsGNYs7NqwJILu4MLAB0D7NsOg9jzDwPZZ5UDWoTMM8MAs/vzz8beb0+fP/zt9mpps6c3x5RRlfrg43Z9vH97en8/Tma+vvD7//fDy/JT0+Obu5rw/bXvk7dOn8/Hy4f7xas+9ubt7+OUXvOXFhh+vPtye/3v+cP3XA1522I5/Hl+dnu4ekTi+kGf35dl9/fr+eHbbfnj74vT89fpVYO/iS+g29kG8Ot1e/+fq80/Hi+QXLo+/3109fsTg9+Trx4+f321z78DNJHP3wIf3PtD7hw9XN+fZHl/f3X883WDWTtf3p09/XT484cYFpufu/ul4eb4C7V0u+9y+f3f7eHMzN6Ad2bzp3uydmJvP3og36o15413R4o1T1CnqFHWKOcWcYk4xp5hTzCnmFHOKOcWckp2SnZKdkp2SnZKdkp2SnZKd4vM8t5e9cYpPxNxb9sYpxSnFKcUpxSnFKdUp1SnVKdUp1SnVKdUp1SnVKdUpzSnNKc0pzSnNKc0pzSnNKc0pzSndKd0p3SndKd0p3SndKd0p3SndKcMpwynDKcMpwynDKcMpwynDKcMpc7PwVtgqW2PL+t0KWxbfxurbWH4beUKekCfkCXnLByFvFfOq5lXOrGdhQQsrWljSwpoWFrWwqoVlLaxrYWELK1tY2sLaFha3sLqF5S2sb2GBCytcWOLCGhcWubDKhWUurHNhoQsrXVjqwloXFruw2oXlLqx3YcELK15Y8sKaFxa9sOqFZS+se2HhCytfWPrC2hcWv7D6heUvrH+hAEIDhAoIHRBKILRAqIHQA2lrsyKPKghdEMogtEGog9AHoRBCI4RKSF+7H3m0QqiF0AuhGEIzhGoI3RDKIbRDxtpO137KDZV+KP1Q+qH0Q+mH0g+lH0o/lH6orA2aPPqh9EPph9IPpR9KP5R+6Nrv14b/Zccnb+35a9Nfu/7a9te+vzZ++qH0Q+mH2voKIY9+KP1Q+qH0Q+mH0g+lH0o/lH5oXt9J5NEPpR9KP5R+KP1Q+qH0Q+mH0g8t60uOPPqh9EPph9IPpR9KP5R+KP1Q+qF1fWuSRz+Ufij9UPqh9EPph9IPpR9KP7Str2Hy6IfSD6UfSj+Ufij9UPqh9EPph/b1vU4e/VD6ofRD6YfSD6UfSj+Ufij90LEOCuukwKMC/TD6YfTD6IfRD6MfRj+Mfhj9MFlHD/Loh9EPox9GP4x+GP0w+mH0w+iH6TrLkEc/jH4Y/TD6YfTD6Ietk9E6Gq2z0ZfDEXnreLTOR+uAtE5I64hEP4x+GP0w+mF5nbbIox/mfryfZ3Kch+dBHAfQ7FePF9c4Ua3T6OWn0+1+2mRQZ9D1+U7wBf7++uvd3+9qPbT5zVq6HgZ62sqh9/lPuqEHfOO//+exGSfivQf9W/AfH64f78+rD4po/l70n501BMu/Br/pbB1ywD9sv3S2bduhdHnW2bqDR6Sz7XvR553t/xr8prO5yGGeTVZnc90OcOxZZ8cObpHOyva97PPeikSS20zuJbPVQNLCyb0EtsjbSzhZw8kWTvZwckSTuoWTEk76GvVA0sLJHE6WcLKGky2c9DUageSIJm1fI9kCSQkn9zVa/2Pyw6SFk/sarf9z+WGyhJM1nGzhZA8nRzSZt3BSwklfIwskLZzM4WQJJ2s42cJJX6McSI5osvgalUBSwsm5RtYCdhQLJ/OeDFRIKeFkDSdbONnDyRFN1i2clHDS1yhQddXCyRxOlnCyhpMtnPQ1CthRRzTZfI0CdjQJJ32NAqe1ZuGkr1HgxNJKOFnDyRZO9nByRJN9CyclnPQ1CpyCuoWTOZws4WQNJ1s46WsUOK31EU2OfY164LQ2JJz0M0PAjmE/Tv5fgAEAzE6UJQ1lbmRzdHJlYW0NZW5kb2JqDTIgMCBvYmoNPDwvRXh0ZW5kcyAxIDAgUi9GaWx0ZXIvRmxhdGVEZWNvZGUvRmlyc3QgODcyL0xlbmd0aCA3ODYvTiAxMDAvVHlwZS9PYmpTdG0+PnN0cmVhbQ0KaN6MljuOHDEMRK+iG4xIij9gsYCxoZOF9wSOnBm+f+SiOnFkVNCQ1HpdoljUjGT32ktkr6NoZNVBg64GWlsShfYslaF8qQ8WS9vR5jKb+VpWgrahgu8VapFoZfl8p7rcoaW2vKELJqzR+op61kr0RXPlrKe1CqGI9iqHnu1VDT2T1Qd6pqsLeoZnT6AGaAcUbaKa8G3Cd4wsJy6ITqB6oHpXnm0+Upi/bxOjycGZXZ95HBpnuO4ZLfE7j7deGB18GQhVDp5IGXBJIlni0ErHvONtbYwmbTWqk4eq0QDX2OGNshPzWE+3zDqJjtesM4mHhjc6E0tsdGpWlqWKxCAEdHKcsqUGayRgl+ELCfh1NpQDymd2AFf0VF1b1ZFPQdbUE8rYvwYcxQ7QidkBlHNDGeqas29wmjW7hHLBBkkoF0aSUG4UgiSUG9FJ9rK9zyQAnckWasR2Qxmm23UPLtpoIDfLFPUjyKxpTLYCxbWhXFNlk2PEbdaTUSif8RxadrCy4K05yg4ZRQeZkIZybCg3lGOcQcVaYF5QgpZ2s44O4p36sEK1Cpy2mvzBM+s9PkC54acij9ZQVWTkbBuvDjrYJbxaZ4pcsd65WceXRzcygecoquDt7fXx+rZf31HBr09QiWP34/X5ax3v2/16ff35+fv9/R/SaTJoMmmyaLJZUvbmUeFRvWgxqPHo4VHn0eDR5NHHrGbQplG5buFYEajw6Lg1/xcEajx6LqoM6jwaPJo8WjzaNKqbR4VHH7eMQY1HD486jwaPJo8+bh0GbRq1xy1nUOHRx61gUOPRxy3mp9icR4NHk0eLR5tGz+ZR4dHHLeYH/hiPHh51Hg0eTR593GL+jE7TqF+3mvkzcuHRe8tQ5sC48ei9ZShTLu48GjyaPFo82jQam0eFRx+3mCIM49HDo86jwaPJo49bzIGJptG8bhlzYFJ49LplzEUvjUevW8Zcc9J5NHg0ebR4tGm0No8Kjz5uMZenMh49POo8GjyaPPq4xVz0qmm0H7eYi14Lj95bRjMHpu3/6F8BBgAV4X1RDWVuZHN0cmVhbQ1lbmRvYmoNMyAwIG9iag08PC9FeHRlbmRzIDEgMCBSL0ZpbHRlci9GbGF0ZURlY29kZS9GaXJzdCA4NzIvTGVuZ3RoIDc5My9OIDEwMC9UeXBlL09ialN0bT4+c3RyZWFtDQpo3oyXMQ4cNwxFr6IbrESKoggYBoyUaYz4BKnSBb5/5ceZFK6CXwyk2Xn6IvmpnV2bNeawNcd2hjXuYbCxrBh9rDTGzRXvFZfxDJ+LMYfvfnaH32QsVFAz1BI5WyNgzWxEoGc+zkTP9jgbLYtxLnp2Rjp6liMTPbvjom3EcA96aNZED6Y2em6jLnpOfJMb880kUfQYaxGO+WFy0PQkl4moXyYbVa/ODtk9x3I0bC8mifAm8U0WRjHWPiiT3oqJMvGu2CgTwIpCGa112Nn4dJ1EeVfXC+VAOQ/KgfKdKAfKl+cWKN9COVAu74qiXIlywE1qZoHWPPu/Yk/uunrEMazLwTImXS+ytI7Skue9n1Nq65V+UO5rTzRO50Ysdp4oeX56P2pjp2O6qGar45Blc72irU/6w9rLjL5jZVb03bBLRa2rdi8rOv+yfs6n1fsQE12CKuo+ydvgfFavsOELH9Bgwp3dPbz7wW4w6ehoRHca0ugsd6rFPkwKZbyn71DGRd9oGH540EaEwKRzokZ+aGQjW4qBMnH7qSe64YnnhpYnO1t1A1tnUN3JHS9X0f/d517RDY9y9XM6cU86xekqqhud3NiLpnWc3is7yxy7j41T/d1+fvny+ePzbX7+xOv9+Y6Uce7++nz/Z+yoZ/rj8+Pn3/9+/fo7Gjp6dDR19OpoqajNqaNLR+1BXUFdR7eOho4eHU0dfd3aCloyul63QkGXjrZbm1MooK6j+0GVdlmho0dHU0evjpaM2tTRpaOvW0oTmuvo1tHQ0aOjqaOvW8qBsZJRf91SDowvHX3c4seBgLqOPm7xm0FAQ0ePjqaOXh0tGd1TR5eOvm5dBXUd3ToaOnp0NHX0dasUtGQ03rM1FXTp6OOWKS+jcB193DLlqzhCR4+Opo5eHS0ZPVNHl46+bilf8Md1dOto6OjR0dTR1y3lZXRKRvN1S3kZ5dLRx62pHJh0HX3cmkq7ZOjo0dHU0aujJaN36ujS0dctpQmv6+jW0dDRo6Opo69byoG5JaP1uqUcmFo6+v47Vn7olf8/+kuAAQAGdn50DWVuZHN0cmVhbQ1lbmRvYmoNNCAwIG9iag08PC9FeHRlbmRzIDEgMCBSL0ZpbHRlci9GbGF0ZURlY29kZS9GaXJzdCA4NzIvTGVuZ3RoIDEzODMvTiAxMDAvVHlwZS9PYmpTdG0+PnN0cmVhbQ0KaN6cWMtuHTcM/RX9wRUfegFBgKDLAIVRL40uLooiLZAmgeFN/r6HozPJbOKRZ8Wx5vDokJSGvLY8Uk4mObnBSOoVRpPogLUkTWE9qRTYkrR0WGCywLZk7rBY63iWARawKdga6FRSCaxqKgV8aqlm8Kmn6uDTkmqHr9bUDHzaUmvg0556cENDr+AD58jgA2Y4+EzT6OAz6Mv4w8zx0MBoJYmEHKt4qOC0hlgySK3jwcFqI6IDreckwWEueGggdgTuiMKQDPGqW3hSMpihV4qDGQKkDDCDSyp2NqxKHeEO5habFjCPCuYC5jHgXjRpRnxWDA+RjIKk5uApyKpogGukOcAtqSKJhmSr9lgZSYPVkA71qAW2Ue+xAuYS2cR+WiVWwFwjGxXMzWMFzD2iqGDuLVbAPCxWICVnrMRqhoe1qGyUcSt9JGqr5cBfbctjrERGgjmyVjb3iC2K1XrsF+AROLiGQw/NXeKcANjxeqAO1i159njw5BJHENG6hlQcREcY28nyOAqGo+K+eeGclSgcxHmJ9CKPXpE2g0pvUcEB5h5eA8wj0gucj0gmSlVynITRcD5zYHoqunmNVOLYO0IqEaXjnBfHIXIc3OJ47ziJCDQePJWWA1zwUAMM5q4BBnMP4RnMcVbfvbv9dvuQbx+Rdr89bHvn9Mft4VNEsD0+3h6/3b+8f3+ElnVoXYe2dWhfh45VKM7bOlTWobpB+wrU1qG+Di3r0LoObevQWa2xAh3LUIlqxYVYgMo6NKqFW7wCtXWob1BfgZZ1aF2HtnVoX4eOZajmdaisQ2e1ygrU1qG+Di3r0LoObevQWa26Ah3LUNu+hL7yeTNZgD7cgX2KYQWvtlkF9s/NsRP9+9fn/+6fH+7P90/P92//PL58//z35v3xiXdsPxN7ZvZY9t0n34/dX74+fydBjCgbEHPPtEprtE5LgTtxabSddkxbyVfJV8lXyVfJV/eA6V/JW8lb93XytrwHIsI4Pjy//PvXngqEPNd/ESne59ffc/XX7/vJ+3byvr72/sl9ZsxdaVlaZ2nnEfl1Kd1mCmP2mbbTDhLkMwIqMCowKjAqsDMFSgVKBUoFSgV2pkCpQKlAqUCpQM8UCBUIFQgVCBXomQKhAqECoQKhAjlTkKkgU0GmgkwFcqYgU0GmgkwFmQryiYKYlrcrM3iVBq/SoIKczwh4dwfv7uDdHby740xBp4JOBZ0KOi/zOFPQqaBTQaeCTgX9TEGjgkYFjQoaFfQzBY0KGhU0KmhU0F5VsH/X+TWbH7MNPL9jr33Vf/hOqdMhUQ/lUA3FTC2p1Qu7MEHMD9Mzs5NYhVmEN/KyYrNgb/Wd8fQr8fDI9Z8Zr2PZd0Y/T2fiLeAl4B3gFZg3II16YRdeS95KXkqZlxJWaPUCtfBbIdkveRd6XwlL+NEXPaS+r3szD8Y8sBcJe5GwFwl7kRi1Wr2yG1uksEUKW6Q4d2cvFtcr7Ozc4n7Jm5H5pcickfmhCm3dm3ngVCicCoVToXAqFE6FwqlQSr2yG2dI4QwpnCGFM6RwhpSqV9g5cUr1S96MrF6JTNn8NR+qUNe9Zx50jgqwQqu0Ruu0hbZe2Y2jknJUUo5KqtydM5mqXmHnBKfql7wZmV6JzFgFO1ahrHtzVGAVjFUwVsFYBWMVjFWwYxXWd2MVjFUwVsFYBWMV7FiFdXZWwY5VeIM3I9MrkSk7sh5bsq978zSyKSu7srItK/uysjErO7MeW/P6buzNyuas7M7G7mzsznbszr5+oliFY3d+gzerkC9Fthfhp6+tZ4Ub82TyMEzDkPb/EvBH+4VdbP+twJ8I/K3CH0389bbK+78AAwCCimRbDWVuZHN0cmVhbQ1lbmRvYmoNNSAwIG9iag08PC9FeHRlbmRzIDEgMCBSL0ZpbHRlci9GbGF0ZURlY29kZS9GaXJzdCA0MTUvTGVuZ3RoIDgxOS9OIDQ4L1R5cGUvT2JqU3RtPj5zdHJlYW0NCmjenFfLThxBDPwV/8G0H93TLSGkiFyiKNEKcoty2ANKDpAgxIW/jz1dsJ1TZvpUA+ty2S68Hiw1SmScqAQwsQQKcQ1UkiqORrrGz5lMAwtZC1wp5/i8UimBjdbsn3mO6r8zYaqRR4Sa+eeixCkIYsRsEZlDMUKLP4SGrMSqEVOJbWM14qxlk+bcPFi9zhIFexyvnt3UM9dgqWduEsGeudUILiQpR/BKwhwxlUQ2ViPRaMaSP6webEwSP4Ww5OQx5jMowTIjLzCCsz+UCPbMNeZhnrnGoMwzN2v+0EhTZHZhTVX9gUnZizLvXzkKy0oq2YOzj1d9VpYzaTRnPkTNPpurq+VmOZ3T8vm715Ho1jMH/FhOpGX7zXK3fP3z/Hh+OJ2fzz+fz0+/7l5eH+6vr0du7twyw107t164spvbNq7PYAPuIB16P9k69ApzmVDJvcJcO3TN0jVL1+zJDubtM6JiM9zeT5nph1NviNMwc97P7gNgTkAGClCBBszAMqPGqJUrEOoCdYG6yEx2Qa1iU2x0JjOdSemdSRlcSPvZfQ7xldaRgQJUoAEzsMyorah1rUCoV6hXqFeZyV5Ra7UpNjqrM50xXODBhb7h+9j4a4QLDBcYLjBcYLjAcIEHFw6owQWGCwwXGC4wXODBhQPZ4QIPLhxho7M61VlFZ3Vwoe5nYw4Nc2iYQ4MLDZ01uNBQayszag21NrjQsAsJu5CwC0kmskvCLiSbYmMX0kxnglMswy3ut28fG3PANRacY8E9FhxkwUUWnGQZbvIBNRxlwVUWnGXBXRYcZhku84HsOM0y3OYjbHRWpjoTdCaDC2U/G3NQzEExB4ULis4ULihq1TKjpqhV4YJC3aBuUDeZyY5XUhneSY+w0ZlNdEb9ZWXj5P2K+FOE+xdZ2/9Vhu8UrPElxe73abwQyZvflxSyu/n1vfm9rzPbvx1vpB3X94Nz/OHLzaePlJbTT+fjWrw8kvWzuXx7fbr3kNvra09r77XcPZ1//9OyYmV0WBnb/bWnWBnFyihWRrEyipVRrIxiZXRYmQNqWBnFyihWRrEyipXRYWUOZMfK6LAy/2H/FWAA4Bz3RQ1lbmRzdHJlYW0NZW5kb2JqDTYgMCBvYmoNPDwvQ291bnQgMS9LaWRzWzQ1OSAwIFJdL1R5cGUvUGFnZXM+Pg1lbmRvYmoNNyAwIG9iag08PC9MZW5ndGggMjY0OC9TdWJ0eXBlL1hNTC9UeXBlL01ldGFkYXRhPj5zdHJlYW0NCjw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+Cjx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIj4KICAgICAgICAgPHhtcDpDcmVhdGVEYXRlPjIwMTQtMDgtMjZUMTg6NDQ6MzErMDI6MDA8L3htcDpDcmVhdGVEYXRlPgogICAgICAgICA8eG1wOk1ldGFkYXRhRGF0ZT4yMDE0LTA4LTI2VDE4OjQ0OjMyKzAyOjAwPC94bXA6TWV0YWRhdGFEYXRlPgogICAgICAgICA8eG1wOk1vZGlmeURhdGU+MjAxNC0wOC0yNlQxODo0NDozMiswMjowMDwveG1wOk1vZGlmeURhdGU+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+QWRvYmUgSW5EZXNpZ24gQ1M2IChNYWNpbnRvc2gpPC94bXA6Q3JlYXRvclRvb2w+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIKICAgICAgICAgICAgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiCiAgICAgICAgICAgIHhtbG5zOnN0RXZ0PSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VFdmVudCMiPgogICAgICAgICA8eG1wTU06SW5zdGFuY2VJRD51dWlkOmMzZjAwZDg3LTVhNjQtODU0Yi1iZjFiLWI1MDdjZmNmMGNiYjwveG1wTU06SW5zdGFuY2VJRD4KICAgICAgICAgPHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD54bXAuZGlkOkNCRTczOUEyMDUyMzY4MTE4MjJBRUZDQTgzNTc3MEYwPC94bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ+CiAgICAgICAgIDx4bXBNTTpEb2N1bWVudElEPnhtcC5pZDowN0Q2QkFCQzIxMjE2ODExODA4M0RCMTgxNDIzQUVBMDwveG1wTU06RG9jdW1lbnRJRD4KICAgICAgICAgPHhtcE1NOlJlbmRpdGlvbkNsYXNzPnByb29mOnBkZjwveG1wTU06UmVuZGl0aW9uQ2xhc3M+CiAgICAgICAgIDx4bXBNTTpEZXJpdmVkRnJvbSByZGY6cGFyc2VUeXBlPSJSZXNvdXJjZSI+CiAgICAgICAgICAgIDxzdFJlZjppbnN0YW5jZUlEPnhtcC5paWQ6MDZENkJBQkMyMTIxNjgxMTgwODNEQjE4MTQyM0FFQTA8L3N0UmVmOmluc3RhbmNlSUQ+CiAgICAgICAgICAgIDxzdFJlZjpkb2N1bWVudElEPnhtcC5kaWQ6QTRGRDVBNDAyNTIwNjgxMTgwODNEQjE4MTQyM0FFQTA8L3N0UmVmOmRvY3VtZW50SUQ+CiAgICAgICAgICAgIDxzdFJlZjpvcmlnaW5hbERvY3VtZW50SUQ+eG1wLmRpZDpDQkU3MzlBMjA1MjM2ODExODIyQUVGQ0E4MzU3NzBGMDwvc3RSZWY6b3JpZ2luYWxEb2N1bWVudElEPgogICAgICAgICAgICA8c3RSZWY6cmVuZGl0aW9uQ2xhc3M+ZGVmYXVsdDwvc3RSZWY6cmVuZGl0aW9uQ2xhc3M+CiAgICAgICAgIDwveG1wTU06RGVyaXZlZEZyb20+CiAgICAgICAgIDx4bXBNTTpIaXN0b3J5PgogICAgICAgICAgICA8cmRmOlNlcT4KICAgICAgICAgICAgICAgPHJkZjpsaSByZGY6cGFyc2VUeXBlPSJSZXNvdXJjZSI+CiAgICAgICAgICAgICAgICAgIDxzdEV2dDphY3Rpb24+Y29udmVydGVkPC9zdEV2dDphY3Rpb24+CiAgICAgICAgICAgICAgICAgIDxzdEV2dDpwYXJhbWV0ZXJzPmZyb20gYXBwbGljYXRpb24veC1pbmRlc2lnbiB0byBhcHBsaWNhdGlvbi9wZGY8L3N0RXZ0OnBhcmFtZXRlcnM+CiAgICAgICAgICAgICAgICAgIDxzdEV2dDpzb2Z0d2FyZUFnZW50PkFkb2JlIEluRGVzaWduIENTNiAoTWFjaW50b3NoKTwvc3RFdnQ6c29mdHdhcmVBZ2VudD4KICAgICAgICAgICAgICAgICAgPHN0RXZ0OmNoYW5nZWQ+Lzwvc3RFdnQ6Y2hhbmdlZD4KICAgICAgICAgICAgICAgICAgPHN0RXZ0OndoZW4+MjAxNC0wOC0yNlQxODo0NDozMSswMjowMDwvc3RFdnQ6d2hlbj4KICAgICAgICAgICAgICAgPC9yZGY6bGk+CiAgICAgICAgICAgIDwvcmRmOlNlcT4KICAgICAgICAgPC94bXBNTTpIaXN0b3J5PgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIj4KICAgICAgICAgPGRjOmZvcm1hdD5hcHBsaWNhdGlvbi9wZGY8L2RjOmZvcm1hdD4KICAgICAgPC9yZGY6RGVzY3JpcHRpb24+CiAgICAgIDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiCiAgICAgICAgICAgIHhtbG5zOnBkZj0iaHR0cDovL25zLmFkb2JlLmNvbS9wZGYvMS4zLyI+CiAgICAgICAgIDxwZGY6UHJvZHVjZXI+QWRvYmUgUERGIExpYnJhcnkgMTAuMC4xPC9wZGY6UHJvZHVjZXI+CiAgICAgICAgIDxwZGY6VHJhcHBlZD5GYWxzZTwvcGRmOlRyYXBwZWQ+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+DWVuZHN0cmVhbQ1lbmRvYmoNOCAwIG9iag08PC9DcmVhdGlvbkRhdGUoRDoyMDE0MDgyNjE4NDQzMSswMicwMCcpL0NyZWF0b3IoQWRvYmUgSW5EZXNpZ24gQ1M2IFwoTWFjaW50b3NoXCkpL01vZERhdGUoRDoyMDE0MDgyNjE4NDQzMiswMicwMCcpL1Byb2R1Y2VyKEFkb2JlIFBERiBMaWJyYXJ5IDEwLjAuMSkvVHJhcHBlZC9GYWxzZT4+DWVuZG9iag14cmVmDTAgNDU3DTAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAzNzgzNSAwMDAwMCBuDQowMDAwMDM5Nzg3IDAwMDAwIG4NCjAwMDAwNDA2ODMgMDAwMDAgbg0KMDAwMDA0MTU4NiAwMDAwMCBuDQowMDAwMDQzMDgwIDAwMDAwIG4NCjAwMDAwNDQwMDggMDAwMDAgbg0KMDAwMDA0NDA2MSAwMDAwMCBuDQowMDAwMDQ2Nzg1IDAwMDAwIG4NCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDAwMDAgNjU1MzUgZg0KdHJhaWxlcg08PC9TaXplIDQ1Ny9JRFs8RDA0Q0UyOUVGQTMwNDU4QUE3NUI0QjlCQTc2RjM3MjM+PEE2MTc1OUFBNTM0MDQyQzQ5RTIxQ0FGOUE0QzVCRkI2Pl0+Pg1zdGFydHhyZWYNMTE2DSUlRU9GDQ==", "mime_type": "application/pdf"}

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }
