FORMAT: 1A
HOST: http://www.google.com

# DAP Services a.s. API, version 2

Daps API version 2.

## Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PUT` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

## Typical Server Responses

- 200 `OK` - The request was successful (some API calls may return 201 instead).
- 201 `Created` - The request was successful and a resource was created.
- 204 `No Content` - The request was successful but there is no representation to return (that is, the response is empty).
- 400 `Bad Request` - The request could not be understood or was missing required parameters.
- 401 `Unauthorized` - Authentication failed or user does not have permissions for the requested operation.
- 403 `Forbidden` - Access denied.
- 404 `Not Found` - Resource was not found.
- 405 `Method Not Allowed` - Requested method is not supported for the specified resource.
- 429 `Too Many Requests` - Exceeded API limits. Pause requests, wait one minute, and try again.
- 503 `Service Unavailable` - The service is temporary unavailable. Try again later.

> Time is unix_time plus ms (http://www.epochconverter.com).

# Group Account

User account.

## Login [/account/login]

### User login [POST]

Login uses Basic access authentication (http://en.wikipedia.org/wiki/Basic_access_authentication). Example:

> Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==

If user is logged in, API sends json with authentication token.  

> Token has limited validity. When user received http status `401` (Unauthorized), he has to login again. 

#### Token in http header

Every API call requires authorization token in `Authorization` http header. Example: 

> Authorization: AuthSub token="token"

+ Request

    + Headers

            Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {"token":"40287ee649518e890149577d1524000sda2112123"}

+ Response 401 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

# Group Scanning

Zdroje a operace pro snímání osob.

## Práce s kolekcemi scan objektů [/scan_object/collection]

### Získání informací o kolekci scan objektů [POST]

Popis atributů pro požadavek

- label - název scan objektu. V případě slovo se jedná o slovo samotné.
- object_type - typ scan objektu. Možnosti: WORD, PICTURE.
- lang_code - ISO 639-1 kód jazyka.

Popis atributů pro výstup

- label - název scan objektu. V případě slovo se jedná o slovo samotné.
- object_type - typ scan objektu. Možnosti: WORD, PICTURE.
- lang_code - ISO 639-1 kód jazyka.
- id - jedinečné id scan objektu.

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

    + Body

                [
                    {
                        "label": "IT",
                        "object_type": "WORD",
                        "lang_code": "en"
                    },
                    {
                        "label": "Projekt",
                        "object_type": "WORD",
                        "lang_code": "en"
                    }
                ]

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            [
                {
                    "label": "IT",
                    "object_type": "WORD",
                    "lang_code": "en",
                    "id": 1
                },
                {
                    "label": "Projekt",
                    "object_type": "WORD",
                    "lang_code": "en",
                    "id": 2
                }
            ]

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }

## Scan [/scan]

### Vytváření snímání [POST]

Seznam client_data_key:

| id | Jméno                             |
|----|-----------------------------------|
| 1  | Jméno                             |
| 2  | Příjmení                          |
| 3  | Datum narození (rok narození)     |
| 4  | Vzdělání                          |
| 5  | Obec                              |
| 6  | Email                             |
| 7  | Důvod snímání                     |
| 8  | Pohlaví                           |
| 9  | Skupina                           |
| 10 | Věk                               |
| 11 | Pracovní pozice                   |
| 12 | Id snímané osoby                  |
| 13 | Id zodpovědné osoby               |
| 14 | Společnost                        |
| 15 | Language code - ISO 639-1         |
| 16 | Country code - ISO ALPHA-3 code   |
| 17 | Externí Id skupiny snímků         |
| 18 | Volitelná položka od klienta      |

Popis atributů pro požadavek

- name, description - název, popis snímání
- state - stav snímání, kombinace ACTIVE, CLOSED, TEST konstant (oddělení čárkou)
- scan_area_id - zaměření snímání. Možnosti
    - 1 - evaluace škol
    - 3 - komeční snímání (základ je 86tka)
- module_type_id - verze slovního modulu (odlišnost základních slov)
- scan_module_id - id odpovídajícího slovního modulu
- scan_mask - maska snímání ve snímači, může být **null**
    - label - text zobrazený ve snímači
    - editable - true | false
    - order - pořadí na obrazovce
    - client_data_key - viz výše
    - list_items - možný výčet, zobrazuje se ve formě select prvku

Popis atributů pro výstup

- scan_code - kód do snímače
- id - jedinečný identifikátor snímání

Jakékoliv dotazy na Scan probíhají pomocí scan_code - identifikuje snímání v čase. Není možné mít více snímání se stavem `ACTIVE` a stejným scan_code.

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

    + Body

            {
                "name": "Scan name",
                "description": "Description",
                "state": "ACTIVE|CLOSED|TEST",
                "scan_area_id": "number or enum - jedna se o typ slovniho modulu - ciselnik",
                "scan_module_id": 1,
                "module_type_id": "number or what - jedna se o verzi povinnych slov ~ zakladu",
                "scan_mask": [
                    {
                        "label": "Gender",
                        "editable": false,
                        "order": 1,
                        "client_data_key": 8,
                        "list_items": ["1", "2"]
                    },
                    {
                        "label": "Name",
                        "editable": true,
                        "order": 2,
                        "client_data_key": 1,
                    },
                    {
                        "label": "Year of birth",
                        "editable": false,
                        "order": 3,
                        "client_data_key": 3,
                        "number_from": 1993,
                        "number_to": 2008,
                        "number_step": 1,
                        "list_items": ["1993", "1994", "1995", "1996", "1997", "1998"]
                    }
                ]
            }

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 1,
                "scan_code": "scan_code"
            }

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }
            
## Update parametrů snímání osob [/scan/{scancode}]

### Editace snímání [PUT]

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

    + Body

            {
                "name": "Scan name",
                "description": "Description",
                "state": "ACTIVE|CLOSED|TEST",
                "scan_mask": [
                    {
                        "label": "Gender",
                        "editable": false,
                        "order": 1,
                        "client_data_key": 8,
                        "list_items": ["1", "2"]
                    },
                    {
                        "label": "Name",
                        "editable": true,
                        "order": 2,
                        "client_data_key": 1,
                    },
                    {
                        "label": "Year of birth",
                        "editable": false,
                        "order": 3,
                        "client_data_key": 3,
                        "number_from": 1993,
                        "number_to": 2008,
                        "number_step": 1,
                        "list_items": ["1993", "1994", "1995", "1996", "1997", "1998"]
                    }
                ]
            }

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *


+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }



## Informace o snímání [/scan/{scan_code}]

### Získání informací [GET]

Popis atributů pro výstup viz resource scan [POST]

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 1,
                "scan_code": "scan_code",
                "name": "Scan name",
                "description": "Description",
                "state": "ACTIVE",
                "scan_area_id": 1,
                "scan_module_id": 1,
                "module_type_id": 1,
                "insert_time": "1412840432000",
                "scan_mask": [
                    {
                        "label": "Gender",
                        "editable": false,
                        "order": 1,
                        "client_data_key": 8,
                        "list_items": ["1", "2"]
                    },
                    {
                        "label": "Name",
                        "editable": true,
                        "order": 2,
                        "client_data_key": 1,
                    },
                    {
                        "label": "Year of birth",
                        "editable": false,
                        "order": 3,
                        "client_data_key": 3,
                        "number_from": 1993,
                        "number_to": 2008,
                        "number_step": 1,
                        "list_items": ["1993", "1994", "1995", "1996", "1997"]
                    }
                ]
            }

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }

## Informace o nasnímaných osobách [/scan/{scan_code}/scan_data]


### Získání seznamu nasnímaných osob [GET]

Popis atributů pro výstup:

- client_data: 8 (pohlaví) je číselník: MALE = muž, FEMALE = žena.

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            [
                {
                    "id": 1,
                    "module_type_id": 1,
                    "affected": true,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Jan",
                        "2": "Novák",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "28"
                        }
                },
                {
                    "id": 2,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Jan",
                        "2": "Doe",
                        "3": "1987",
                        "9": "Department 2",
                        "18": "Item 1",
                        "10": "27"
                        }
                },
                {
                    "id": 3,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Jana",
                        "2": "Doe",
                        "3": "1987",
                        "9": "Department 3",
                        "18": "Item 1",
                        "10": "27"
                    }
                },
                {
                    "id": 4,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Jana",
                        "2": "Nováková",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 5,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "John",
                        "2": "Novak",
                        "3": "1986",
                        "9": "Department 2",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 6,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Evelyn",
                        "2": "Novak",
                        "3": "1986",
                        "9": "Department 3",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 7,
                    "module_type_id": 1,
                    "affected": true,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Ruppert",
                        "2": "Everet",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 8,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "FEMALE",
                        "1": "Hana",
                        "2": "Muscular",
                        "3": "1986",
                        "9": "Department 1",
                        "18": "Item 1",
                        "10": "26"
                    }
                },
                {
                    "id": 9,
                    "module_type_id": 1,
                    "affected": false,
                    "insert_time": "1412840432000",
                    "client_data": {
                        "8": "MALE",
                        "1": "Daniel",
                        "2": "Architect",
                        "3": "1986",
                        "9": "Department 2",
                        "18": "Item 1",
                        "10": "26"
                    }
                }
            ]

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }
            

## Scan Module [/scan_module]

Resources for work with scan modules.

### Create module [POST]

This request creates new module for Scan. Order of elements in scan_objects array defines order of objects in diagnostics. Now supported only text objects.

#### Request description

- scan_objects - Type `Array`. Values are `Objects`. Each of objects represents Scan Object with this attributes: 
    - label (`required`)- scan object text representation. In a case of word the word itself
    - object_type (`default WORD`) - type of scan object. e.g. [WORD | PICTURE]
    - lang_code (`required`) - ISO 639-1 language code
    - order (`required`) - order of object in module 

#### Response description

- scan_module (`Number`) - new scan module id.

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

    + Body

            {"scan_objects": [{"label":"Myself","lang_code":"en", "order":1},{"label":"My work","lang_code":"en", "order":2},{"label":"My psyche","lang_code":"en", "order":3},{"label":"My fault","lang_code":"en", "order":4}]}

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {"scan_module": 100}
            
## Collector [/collector/get]

Saves diagnostics data from scanner.

### Save diagnostics data. [POST]


**Response description**

- status - success | error.
- id - diagnostics unique id.
- hash - diagnostics unique hash.

+ Request (text/xml)

    + Headers

            Accept: text/xml

    + Body


+ Response 200 (text/xml)

    + Headers

            Access-Control-Allow-Origin: *

    + Body
    
            <?xml version="1.0" encoding="UTF-8"?>
            <scandata>
                <status>success</status>
                <id>1</id>
                <hash>21346546516546</hash>
            </scandata>

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body
    
            <?xml version="1.0" encoding="UTF-8"?>
            <scandata>
                <status>error</status>
            </scandata>
            
# Group Result

## Generování výstupů [/result/{id}/generate]

### POST

#### Popis atributů pro výstup

- data - výstup přenášený pomocí base64. Typ výstupu je určen v atributu mime_type.

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

    + Body

            {"scan_data_ids": [1, 2, 3]}

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {"data": "REFQIFNlcnZpY2VzIGEucy4gQVBJIHJlc3VsdCAtIHR4dAoK", "mime_type": "text/plain"}

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }

# Group Parameters

## Parameter computing [/parameters/compute]

### POST

#### Request description

- scan_data_ids - person ids (diagnostics ids). Type `ARRAY`, id type is `NUMBER` (required).
- parameters_ids - parameter ids. Type `ARRAY`, id type is `NUMBER` (required).
- scan_objects_ids - scan object ids. Type `ARRAY`, id type is `NUMBER`.

#### Response description

- this resource returns `OBJECT` (key: value). Parameter ids are keys, values can be `NUMBER`, `STRING`, `OBJECT`.

+ Request (application/json)

    + Headers

            Authorization: AuthSub token="token"
            Accept: application/json

    + Body

            {"parameters_ids": [1], "scan_data_ids": [1]}

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {"1": 70.3, "2": {"1": 30, "2": 91}}

+ Response 400 (Bad Request)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Error message."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Authentication error message."
                    "error_code": "error.code.authorization"
                }
            }
