FORMAT: 1A
HOST: http://www.google.com

# DAP Services a.s. API, version 2

API verze 2. Opřeno o model3.

##Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PUT` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

##Typical Server Responses

- 200 `OK` - The request was successful (some API calls may return 201 instead).
- 201 `Created` - The request was successful and a resource was created.
- 204 `No Content` - The request was successful but there is no representation to return (that is, the response is empty).
- 400 `Bad Request` - The request could not be understood or was missing required parameters.
- 401 `Unauthorized` - Authentication failed or user does not have permissions for the requested operation.
- 403 `Forbidden` - Access denied.
- 404 `Not Found` - Resource was not found.
- 405 `Method Not Allowed` - Requested method is not supported for the specified resource.
- 429 `Too Many Requests` - Exceeded API limits. Pause requests, wait one minute, and try again.
- 503 `Service Unavailable` - The service is temporary unavailable. Try again later.

# API root [/]

Bez atributů, vrací `403`.

## Požadavek na root [GET]

+ Response 403


# Scan [/scan]

Snímání osob.

## Vytváření snímání [POST]

Seznam client_data_id:

| id | Jméno                             |
|----|-----------------------------------|
| 2  | Příjmení                          |
| 3  | Datum narození                    |
| 4  | Vzdělání                          |
| 5  | Obec                              |
| 6  | Email                             |
| 7  | Důvod snímání                     |
| 8  | Pohlaví                           |
| 9  | Skupina                           |
| 10 | Věk                               |
| 11 | Pracovní pozice                   |
| 12 | Id snímané osoby                  |
| 13 | Id zodpovědné osoby               |
| 14 | Společnost                        |
| 15 | Language code - ISO 639-2 alpha-3 |
| 16 | Country code - ISO ALPHA-3 code   |
| 17 | Externí Id skupiny snímků

Popis atributů pro požadavek

- name, description - název, popis snímání
- state - stav snímání, kombinace ACTIVE, CLOSED, TEST konstant (oddělení čárkou)
- scan_area_id - zaměření snímání. Možnosti
    - 1 - evaluace škol
    - 3 - komeční snímání (základ je 86tka)
- module_type_id - verze slovního modulu (odlišnost základních slov)
- scan_module_id - id odpovídajícího slovního modulu
- scan_mask - maska snímání ve snímači, může být **null**
    - label - text zobrazený ve snímači
    - editable - true | false
    - order - pořadí na obrazovce
    - client_data_id - viz výše
    - list_items - možný výčet, zobrazuje se ve formě select prvku

Popis atributů pro výstup

- scan_code - kód do snímače
- scan_id - jedinečný identifikátor snímání

+ Request (application/json)

    + Headers
            Authorization: auth_token
            Accept: application/json

    + Body

        {
            "name": "Scan name",
            "description": "Description",
            "state": "ACTIVE|CLOSED|TEST",
            "scan_area_id": "number or enum - jedna se o typ slovniho modulu - ciselnik",
            "scan_module_id": 1,
            "module_type_id": "number or what - jedna se o verzi povinnych slov ~ zakladu",
            "scan_mask": [
                {
                    "label": "Gender",
                    "editable": false,
                    "order": 1,
                    "client_data_id": 8,
                    "list_items": ["1", "2"]
                },
                {
                    "label": "Name",
                    "editable": true,
                    "order": 2,
                    "client_data_id": 1,
                },
                {
                    "label": "Year of birth",
                    "editable": false,
                    "order": 3,
                    "client_data_id": 3,
                    "number_from": 1993,
                    "number_to": 2008,
                    "number_step": 1,
                    "list_items": ["1993", "1994", "1995", "1996", "1997", "1998"]
                }
            ]
        }

+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 1,
                "scan_code": "scan_code"
            }

+ Response 400 (Bad Request)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }


## Informace o snímání [/scan/{id}]

### Získání informací [GET]

Popis atributů pro výstup viz resource scan [POST]

+ Request (application/json)

    + Headers
            Authorization: auth_token
            Accept: application/json

+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 1,
                "scan_code": "sadasd",
                "name": "Scan name",
                "description": "Description",
                "state": "ACTIVE",
                "scan_area_id": 1,
                "scan_module_id": 1,
                "module_type_id": 1,
                "scan_mask": [
                    {
                        "label": "Gender",
                        "editable": false,
                        "order": 1,
                        "client_data_id": 8,
                        "list_items": ["1", "2"]
                    },
                    {
                        "label": "Name",
                        "editable": true,
                        "order": 2,
                        "client_data_id": 1,
                    },
                    {
                        "label": "Year of birth",
                        "editable": false,
                        "order": 3,
                        "client_data_id": 3,
                        "number_from": 1993,
                        "number_to": 2008,
                        "number_step": 1,
                        "list_items": ["1993", "1994", "1995", "1996", "1997"]
                    }
                ]
            }

+ Response 400 (Bad Request)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }

## Informace o nasnímaných osobách [/scan/{id}/scan_data]


### Získání seznamu nasnímaných osob [GET]

Popis atributů pro výstup

+ Request (application/json)

    + Headers
            Authorization: auth_token
            Accept: application/json

+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            [
                {
                    "id": 1,
                    "module_type_id": 1,
                    "affected": true,
                    "insert_time": "",
                    "client_data": [
                        {
                            "8": "1",
                            "10": "20"
                        }
                    ]
                }
            ]

+ Response 400 (Bad Request)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro nevalidní požadavek."
                    "error_code": "error.code.badRequest"
                }
            }

+ Response 401 (Unauthorized)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                    "error_code": "error.code.authorization"
                }
            }
